//
// Magento
//


@mixin colorOverlay($color, $opacity: 0.8) {
    position: relative;

    &:before {
        content:'';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: block;
        background-color: $color;
        opacity: $opacity;
    }
}
