

@mixin custom-icon($font-family:$font-family-icon, $icon:'\e048') {
  display: inline-block;
  font-family: $font-family;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: $icon;
}