//
// Magento
//
/* ============================================ *
 * Blog
 * ============================================ */
@import "../includes";

.blog-list {

  > li:not(.last) {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $c-module-border-light;
  }

}

.postWrapper {
  clear: both;

  .postImage {
    img {
      max-width: 100%;
    }
  }

  .postTitle {

    margin-bottom: 11px;

    h2 {
      font-size: 24px;
      font-weight: 400;
      margin: 0px;
      padding: 0px;
      text-transform: uppercase;

      a {
        color: $accent-color-1;

        &:hover {
          color: $c-text;
        }
      }
    }

    h3 {
      font-size: 10px;
      margin: 0px;
      padding-top: 2px;
      padding-right: 0px;
      padding-bottom: 2px;
      padding-left: 0px;
    }

    &.page-title {
      @extend .title-border;

      h2 {
        @include pageTitle;
        margin-bottom: 0;
      }

    }
  }

  .postDetails {
    padding: 0 0 20px;
    color: $c-dark;

    > span {
      margin-right: 20px;
      color: $c-dark;

      &::before {
        font-size: 18px;
        color: $accent-color-1;
      }

    }

    a {
      color: $c-dark;

      &:hover {
        color: $accent-color-1;
      }
    }

  }

  .postContent {
    line-height: 1.714em;
  }

}

.postWrapper,
.comments-section {

  .commentDetails,
  .postDetails {

    > span {
      margin-right: 20px;
      color: $c-dark;

      &::before {
        font-size: 18px;
        color: $accent-color-1;
      }

    }

    .postDetails-date::before {
      @include custom-icon($icon: '\e053');
      padding-right: 7px;
    }
    .postDetails-coment::before {
      @include custom-icon($icon: '\e005');
    }
    .postDetails-tags::before {
      @include custom-icon($icon: '\e0c4');
    }
    .postDetails-user::before {
      @include custom-icon($icon: '\e18b');
    }

  }

  .commentDetails {
    > span {
      &.postDetails-user {
        @include h4;
        display: block;

        &::before {
          display: none;
        }
      }
    }
  }
}

.post-container {
  .postDetails {
    text-align: center;
    padding-bottom: 40px;
  }

  .postImage {
    margin-bottom: 30px;
  }
}

.top-toolbar {
  .toolbar {
    .pages {
      display: none;
    }
  }
}

.bottom-toolbar {

  overflow: hidden;
  margin-top: 30px;
  .toolbar {

    float: left;

    .sorter,
    .count-container {
      display: none;
    }
  }
}

.comments-section {
  border-top: solid 2px $c-module-border-light;
  padding-top: 40px;
  margin-top: 40px;

  .comments-container {
    .commentWrapper {
      margin-bottom: 35px;
      padding-bottom: 35px;
      border-bottom: 1px solid $c-module-border-light;

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}

#postComment {
  border-top: solid 2px $c-module-border-light;
  padding-top: 40px;
  margin-bottom: 30px;

  p.required {
    margin: 10px 0;
  }

  .input-box input,
  textarea {
    width: 50%;
    max-width: 50%;
  }
}

@include bp(max-width, $bp-medium) {

  .postWrapper {
    .postImage {
      margin-bottom: 15px;
    }

    .postTitle {

      h2 {
        font-size: 18px;
      }

    }
  }

  #postComment {

    .input-box input,
    textarea {
      width: 100%;
      max-width: 100%;
    }
  }
}

.postContent {
  overflow: hidden;
}

.postDetails a:hover,
.postDetails-tags li a:hover {
  color: #000;
}

.postDetails i {
  margin-right: 3px;
}

.aw-blog-read-more span {
  position: relative;
}

.postBookmarks {
  padding-bottom: 10px;
}

.postBookmarks h4 {

  font-size: 12px;
  font-weight: bold;
}

.commentWrapper:after {
  content: "";
  display: table;
  clear: both;
}

.commentWrapper i {
  font-size: 16px;
  margin-right: 5px;
}

.commentContent {
  padding-bottom: 0px;
}

.commentDetails {
  margin-bottom: 15px;
  font-size: 14px;
  text-transform: uppercase;
}

.commentDetails > span {

}

.commentDetails .postDetails-user {
  margin-right: 10px;

}

.commentDetails h4.username {
  display: inline;
}

.postError {
  font-size: 16px;
}

.tags {

}

.postDetails-tags h4 {
  display: none;
}

.tags UL {
  display: inline;
}

.tags UL LI {
  font-weight: normal;
  display: inline;
  padding-right: 6px;
}

.tags h4 {
  font-size: 12px;
  font-weight: bold;
}

.menu-tags {
  margin: 5px 9px;
}
.block-blog {
  .block-content {
    .block-subtitle {
      font-size: 13px;
      margin-bottom: 13px;
    }
    ul {
      margin-bottom: 25px;
      padding-left: 8px;
      li {
        padding-bottom: 5px;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}

.menu-tags h5, .menu-categories h5, .menu-recent h5 {

}

.block-blog .menu-tags UL LI {
  display: inline;
  padding: 2px;
  margin-left: 10px;
}


.block-blog .menu-recent UL LI a, .block-blog .menu-categories UL LI a, .block-blog .menu-tags UL LI a {

}

.tagcloud {
  /* text-align:center; */
}

.tag-count-1 {
  font-size: 1em !important;
}

.tag-count-2 {
  font-size: 1.2em !important;
}

.tag-count-3 {
  font-size: 1.4em !important;
}

.tag-count-4 {
  font-size: 1.6em !important;
}

.tag-count-5 {
  font-size: 1.8em !important;
}

.tag-count-6 {
  font-size: 2em !important;
}

.tag-count-7 {
  font-size: 2em !important;
}

.tag-count-8 {
  font-size: 2em !important;
}

.tag-count-9 {
  font-size: 2em !important;
}

.tag-count-10 {
  font-size: 2em !important;
}

.block-blog .head h4 {
  padding-left: 20px;
}

.block-blog .block-title strong {

}
.menu-tags h5 {
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000;
}

.postWrapper .poster {
  display: inline;
}

.input-box.aw-blog-comment-area {
  width: 100%;
}

.awblog_current_comment {
  text-decoration: none !important;
  font-weight: bold !important;
}

/*************Empty blog***************************/

#empty-blog span::before {
  font-family: 'material-design';
  content: '\e06a';
  font-size: 32px;
  color: #a50000;
  vertical-align: middle;
  padding-right: 15px;
}
.blog-index-list .dropdown .selected {white-space:normal}

/************* Empty blog default ***************************/

/************* blog widget ***************************/

.widget-latest {
  padding-bottom: 60px;
  .widget-latest-wrap {
    &:after {
      @include clearfix;
    }
  }
  .postContent-img {
    float: left;
    img {
      max-width: 100%;
    }
    @include bp(min-width, 1200px ) {
      max-width: 270px;
    }
  }
  .widget-latest-content {
    padding-left: 20px;
    overflow: hidden;
  }
  .widget-latest-details {
    color: $accent-color-1;
    font-size: 13px;
    margin-bottom: 15px;
  }
  .widget-latest-title {
    margin-bottom: 6px;
    a {
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
  .postContent-desc {
    font-weight: 300;
    margin-bottom: 10px;
  }
  .widget-latest-comment {
    text-transform: uppercase;
    color: $c-link-hover;
    &:hover {
      color: $c-link;
    }
    i {
      margin-right: 4px;
      font-size: 14px;
    }
  }
  .aw-blog-read-more {
    display: table;
    font-size: 16px;
    padding: 15px 29px;
    margin: 35px auto 0;
  }
  @include bp(max-width, $bp-xlarge) {
    .postContent-img {
      width: 100%;
      float: none;
      img {
        width: 100%;
      }
    }
    .widget-latest-content {
      padding: 20px 0 0;
    }
  }
  @include bp(max-width, $bp-medium) {
    li {
      margin-bottom: 30px;
    }
  }
}
/************* end  ***************************/

/******************* Blog v2 ********************/
/***** blog grid v2 *****/
.blog-grid {
  li {
    text-align: center;
    margin-bottom: 40px;
  }
  .postImage {
    margin-bottom: 25px;
  }
  .postDetails-date {
    color: $accent-color-1;
    margin-bottom: 16px;
    display: block;
  }
  .postTitle {
    font-size: 22px;
    font-weight: 300;
    a {
      color: $c-link;
      &:hover {
        color: $c-link-hover;
      }
    }
  }
  .postContent {
    line-height: 20px;
    .aw-blog-read-more {
      display: none;
    }
  }
  .postDetails-coment {
    a {
      text-transform: uppercase;
      color: $accent-color-1;
      &:before {
        @include fa-icon;
        content: "\f0e5";
        margin-right: 4px;
      }
      &:hover {
        color: $c-link;
      }
    }
  }
}
/******* end  *******/

/******* blog widget v2 *******/

.widget-latest-footer {
  .postContent-img {
    max-width: 190px;
    float: left;
  }
  .widget-latest-content {
    padding:0 0 0 18px;
  }
  .postContent-desc {
    text-transform: none;
    font-size: 13px;
    line-height: 20px;
  }
  .widget-latest-title {
    a {
      color: $c-link;
      &:hover {
        color: $c-link-hover;
      }
    }
  }
  li {
    margin-bottom: 30px;
  }
  @include bp(max-width, $bp-large) {
    &.widget-latest {
      padding-top: 30px;
    }
  }
  @include bp(max-width, $bp-xsmall) {
    .postContent-img {
      float: none;
      max-width: 100%;
    }
    .widget-latest-content {
      padding:20px 0 0;
    }
  }
}

/******* End *******/

/******* blog list Layout 4*******/
.blog-grid {
  .layout-4 {
    text-align: left;
    .postWrapper {
      border-bottom: 1px solid $c-divider-border;
      margin-bottom: 10px;
      padding-bottom: 40px;
    }
    &:last-child {
      .postWrapper {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}
/******* End *******/