@import "../includes";

.nav-container-mobile {
  position: relative;
  z-index: 4;
  width: 100%;
}

@include bp(min-width, $bp-large + 1) {

  .main-menu {
    top: 17px;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 0;
    padding: 0 200px 0 265px;

    &.isStuck {
      z-index: 9990;
    }
  }
}

.nav-container-mobile {
  display: none;
}

.nav {
  margin: 0 auto;
}

.nav .grid-full {
  width: 100%;
  padding: 0px;
  text-align: center;
}

.nav .grid-full > li {
}

.nav .grid-full > .parent {
}

.nav .grid-full > li:first-child {
  border: 0;
}

.grid-full li:after {
  @include clearfix;
}

.grid-full > li {
  display: inline-block;
}

.grid-full .li-wrapper {
  float: none;
  margin: 0 -15px;
  overflow: hidden;
  text-align: left;
  > div {
    padding: 0 15px;
  }
  &.col_6 >div:nth-child(6n+1) { clear: left; }
  &.col_5 >div:nth-child(5n+1) { clear: left; }
  &.col_4 >div:nth-child(4n+1) { clear: left; }
  &.col_3 >div:nth-child(3n+1) { clear: left; }
  &.col_2 >div:nth-child(2n+1) { clear: left; }

}

.grid-full li a .thumbnail {
  background: none;
  border: 0;
  border-radius: 0;
  display: block;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.grid-full > li > a {
  display: block;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  color: #888888;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.grid-full > li > a > span {
  padding: 19px 20px 28px;
  cursor: pointer;
  white-space: normal;
  z-index: 2;
  position: relative;
}

// .nav .grid-full > li:first-child > a > span {padding-left: 0;}
.nav .grid-full > li.parent > a > span {
  padding-right: 40px;
}

.nav .grid-full > li.parent > a > span:after {
  @include custom-icon($font-family-icon, '\e071');
  display: block;
  height: 0;
  font-size: 28px;
  position: absolute;
  right: 8px;
  top: 27%;
  color: $c-text;
}

.grid-full .spanchildren {
  display: none;
}

.grid-full > li > a .thumbnail {
  display: none;
}

.grid-full > li > a:before,
.grid-full > li > a:after {
  content: "";
  position: absolute;
  left: 50%;
  width: 0;
  bottom: 0;
  height: 3px;
  background: $c-link-hover;
  opacity: 0;
}

.grid-full > li > a:before {
}

.grid-full li a span {
  display: block;
}

.nav .grid-full > li.parent > a > span {
}

.grid-full > li > .level-top {
  display: none;
  height: 0;
  position: absolute;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: 72px;
  background: #fff;
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.1);
}

.grid-full > li.parent > .level-top {
  width: 100%;
  display: none;
  height: auto;
  max-width: 1170px;
}

.grid-full > li > .level-top:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  top: -20px;
  background: rgba(0, 0, 0, 0.00);
}

/*.grid-full .over > .level-top.shown-sub {
    left: 0px;
    z-index: 99999;

}*/
.grid-full .parent:hover > .level-top {
  left: 0px;
  z-index: 99999;
}

.grid-full > li:hover > a,
.grid-full > li.active > a {
 color: $c-link;
}

.grid-full > li:hover > a:before,
.grid-full > li.active > a:before,
.grid-full > li:hover > a:after,
.grid-full > li.active > a:after {
  width: 100%;
  left: 0;
  opacity: 1;
}

.grid-full li .cat-label {
  font-size: 12px;
  position: absolute;
  top: -5px;
  background: $c-link-hover;
  padding: 1px 5px 3px;
  line-height: 12px;
  color: #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.18);
  box-shadow:0 5px 5px rgba(0, 0, 0, 0.18);
  &:after,
  &:before {
    content: "";
    position: absolute;
    right: -8px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 8px 0 0;
    border-color: $c-link-hover transparent transparent transparent;
  }
  &:after {
    bottom: 0;
    top: auto;
    border-width: 9px 0 0 8px;
    border-color:  transparent transparent transparent $c-link-hover;
  }
}

.grid-full li .cat-label.sale {
  background: $accent-color-2;
  &:after {
    border-color:  transparent transparent transparent  $accent-color-2;
  }
  &:before {
    border-color: $accent-color-2 transparent transparent transparent;
  }
}

.isStuck .grid-full .cat-label {
  font-size: 10px;
  line-height: 16px;
  padding: 0 5px;
  top: 0;
}

.grid-full ul ul {
  width: 100%;
  &:after {
    @include clearfix;
  }
}

.nav li > .shown-sub,
.nav li > div.shown-sub {
  left: 0px;
  display: block;
}

.grid-full .level > div.level-top > .level {
  padding: 30px;
  overflow: hidden;
}

.grid-full ul.level {
  overflow: hidden;
}

.grid-full .level {
  &:after {
    @include clearfix;
  }
}

.grid-full ul ul,
.grid-full ul div {
  position: relative;
  top: 0;
}

.grid-full .level1 .catagory-level1 {
  font-size: 18px;
  margin-bottom: 12px;
  color: $c-link;
  text-transform: uppercase;
  display: block;
}

.grid-full .level1 .catagory-level1:hover,
.grid-full .level1.active .catagory-level1 {
  color: $c-link-hover;
}

.menu-product {
  float: right;
  width: 44%;
  border-left: 1px solid $c-input-border;
  padding-left: 60px;
  .levelproduct {
    overflow: hidden;
    margin-bottom: 35px;
  }
  .product-name {
    font-size: 20px;
    color: $c-link-hover;
    font-weight: 300;
    display: table;
    margin-bottom: 10px;
    &:hover {
      color: $c-link;
    }
  }
  .price {
    font-size: 30px;
    line-height: 30px;
  }
  .levelproduct-img {
    width: 100px;
    float: left;
    background: #fff;
    margin-right: 33px;
    img {
      max-width: 100%;
    }
  }
  .add-to-links,
  .btn-featurecart,
  .rating-box {
    display: none;
  }
}

/******************************************************************/
.grid-full .level:hover > a,
.grid-full .level.active > a {

}

.ps-static .grid-full .level.over > a span,
.ps-static .grid-full .level.over > a:hover span,
.grid-full .level.active > a span {
}

.grid-full .catagory_children:after {
  content: "";
  display: table;
  clear: both;
}
.grid-full .catagory_children .item {
  float: left;
}

.grid-full .static-block-right {
  float: right;
}

.grid-full .static-block-left {
  float: left;
}

.grid-full .level1 .catagory_children {
  position: static;
  width: 100%;
}

.grid-full .level-top ul,
.grid-full .level-top div {
  left: 0px;
}

.grid-full ul ul .level2 > a {
  color: $c-text;
  font-size: 12px;
  display: block;
  line-height: 18px;
  position: relative;
  width: 100%;
  margin-bottom: 1px;
  padding: 5px 13px;
  text-transform: uppercase;
  margin-left: -12px;
}

.grid-full ul ul .level2 > a:hover,
.grid-full ul ul .level2.active > a {
  background: #f1f1f1;
  color: $c-link-hover;
  margin-left: 0px;
}

.grid-full .catagory_children .catagory_children .level2 a:after {
  content: "";
  display: table;
  clear: both;
}

.grid-full ul ul .catagory_children > .level3 {
  padding: 10px 40px;
}

.menu-banner {
  padding: 0 30px 30px 30px;
  overflow: hidden;
  margin: 0 -15px;
  > span {
    width: 50%;
    float: left;
    display: block;
    padding: 0 15px;
  }
  a {
    display: block;
    &:hover {
      opacity: 0.6;
    }
  }
  img {
    max-width: 100%;
  }
}
.menu-content-1 {
  padding: 0 30px 30px;
  margin: -30px -15px 0;
  overflow: hidden;
  > span {
    width: 50%;
    float: left;
    display: block;
    padding: 0 15px;
  }
  a {
    display: block;
    &:hover {
      opacity: 0.6;
    }
  }
  img {
    max-width: 100%;
  }
}

.row-menu {
  margin: -30px -15px 0;
  padding: 0 30px 60px;
  overflow: hidden;
  &:last-child {
    padding-bottom: 30px;
  }
  &:after {
    @include clearfix;
  }
  .title-menu {
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
    text-transform: uppercase;
  }
  .col-menu {
    width: 25%;
    float: left;
    padding: 0 15px;
    &.home-demo {
      width: 20%;
    }
    a {
      display: inline-block;
      color: $c-link;
      img {
        max-width: 180px;
        padding-bottom: 15px;
        background: $c-body-background;
      }
      &:hover {
        color: $c-link-hover;
      }
    }
  }
}

@include bp(max-width, $bp-xlarge) {
  .nav,
  .catagory_children {
    width: auto !important;
  }
  .grid-full > li > a {
    font-size: 14px;
  }
  .grid-full > li > a > span {
    padding-left: 12px;
    padding-right: 12px;
  }
  .nav .grid-full > .parent > a > span:after {
    font-size: 10px;
  }

}

@include bp(max-width, $bp-large) {
  .nav-container {
    display: none;
  }
  .main-menu {
    height: 0;
  }
}