<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Feed
 */
?>
<div>
    <ul class="messages">
        <li class="notice-msg">
            <ul><li><?php echo $this->__('Please complete previous steps to continue') ?></li></ul>
        </li>
    </ul>
</div>