/* =============
   common styles
   ============= */

.freento-upsellswidgets-wrapper{
    display: none;
}
.freento-upsellswidgets-popup-close {
    color: #000;
    text-align: right;
    font-size: 4ex;
    line-height: 1ex;
    cursor: pointer;
    z-index: 10;
}
.freento-upsellswidgets-popup h2 {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    margin-top: 2ex;
}
.freento-upsellswidgets-products {
    list-style: none;
}
.freento-upsellswidgets-products > li {
    position: relative;
    float: left;
    text-align: center;
    margin: 1ex 0;
    padding: 1ex;
}
.freento-upsellswidgets-products > li .product-image {
    border: none;
    position: relative;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
}
.freento-upsellswidgets-products > li .product-image img {
    max-width: 100%;
    margin: 1ex auto;
}
.freento-upsellswidgets-products > li .product-name {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    font-style: normal;
    height: 50px;
    overflow: hidden;
}
.freento-upsellswidgets-products > li .product-name a {
    text-decoration: none;
}
.freento-upsellswidgets-products > li .price-box {
    color: #a0a0a0;
    font-size: 18px;
    margin: 0 0 5px;
}
.freento-upsellswidgets-products > li .price-box .regular-price .price {
    font-size: 18px;
}
.freento-upsellswidgets .button {
    background: #3399cc;
    display: inline-block;
    padding: 7px 15px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
.freento-upsellswidgets .button span {
    background: none;
    border: none;
}

/* =============
   mobile styles
   ============= */
@media only screen and (max-width: 767px) {
    .freento-upsellswidgets {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        border: none;
        padding: 1em;
        transform: translateY(0) translateX(0);
    }
    .freento-upsellswidgets-products > li {
        width: 100% !important;
        margin: 1em 0;
        border-bottom: 1px solid #eee;
        padding-bottom: 2em;
    }
    .freento-upsellswidgets .buttons-set {
        border: none;
        margin-top: 1em;
    }
    .freento-upsellswidgets .buttons-set .button {
        width: 100%;
        float: none;
        margin: 1ex 0;
    }
    
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .freento-upsellswidgets-products > li {
        width: 45%;
        margin: 1em 2%;
        border: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .freento-upsellswidgets {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateY(0) translateX(0);
        border: none;
        width: 100%;
    }
    .freento-upsellswidgets-products > li {
        width: 31%;
        margin: 1%;
        border: none;
    }
}