<?php
    /** @var Freento_UpsellsWidgets_Helper_Data */
    $helper = Mage::helper('freento_upsellswidgets');
    
    $wrapperId = 'freento-upsellswidgets-wrapper-' . uniqid();
?>

<div id="<?php echo $wrapperId ?>">
</div>

<?php
    foreach($helper->getWidgetParams($this) as $k => $v) {
        $requestParams[] = $k . ': ' . "'{$v}'";
    }
?>
<script type="text/javascript">
    new Ajax.Request('<?php echo $this->getAjaxRequestUrl() ?>', {
        method: 'post',
        parameters: {<?php echo implode(',', $requestParams) ?>},
        onComplete: function(response) {
            if(response.status == 200) {
                $('<?php echo $wrapperId ?>').update(response.responseText);
            }
        }
    });
</script>