<?php
$spcd_helper = $this->helper('specialpricecountdown/data');
$currDate = $spcd_helper->currDate();
?>
<?php if (($_products = $this->getTypeCollection()) && $_products->getSize()): ?>
    <div class="">
        <div class="widget-title">
            <h2>
                <?php if ($this->_getData('display_type') == 'viewed_products'): ?>
                    <?php echo $this->__('Most Viewed Products') ?>
                <?php elseif($this->_getData('display_type') == 'sale_products'): ?>
                    <?php echo $this->__('Specials') ?>
                <?php else:?>
                    <?php echo $this->__('Bestsellers Products') ?>
                <?php endif;?>
            </h2>
        </div>
        <?php $_columnCount = 4; ?>
        <?php $i = 0; foreach ($_products->getItems() as $_product):?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid row">
        <?php endif; ?>
            <li class="item col-sm-3 cont_<?php echo $i; ?>" itemscope itemtype="//schema.org/product">
                <div class="wrapper-hover">
                    <div class="product-image-container">
                        <?php include("include_imgset.phtml"); ?>
                        <?php if($spcd_helper->isEnabledSales()): ?>
                            <?php
                            $setDate = $spcd_helper->countdownTime($_product);
                            if ($setDate > 0):
                                if ($currDate < $setDate): ?>
                                    <div id="special_countdown_<?php echo $_product->getId(); ?>_widget" class="special_countdown"></div>
                                    <script type="text/javascript">
                                        setCountdown("<?php echo $setDate; ?>", "<?php echo $_product->getId(); ?>_widget");
                                    </script>
                                <?php endif; ?>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                    <div class="product-info">
                        <h3 class="product-name" itemprop="name">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                                <?php echo $this->htmlEscape($_product->getName()) ?>
                            </a>
                        </h3>
                        <?php echo $this->getPriceHtml($_product, true); ?>
                        <div class="wrapper-relative">
                            <div class="wrapper-hover-hiden">
                                <?php echo $this->getReviewsSummaryHtml($_product); ?>
                                <div class="actions">
                                    <?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
                                        <div class="actions">
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                        </div>
                                    <?php elseif($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
                                        <div class="actions"><a title="<?php echo $this->__('View Details') ?>" class="button btn-details" href="<?php echo $_product->getProductUrl() ?>"><span><span><?php echo $this->__('View Details') ?></span></span></a></div>
                                    <?php else: ?>
                                        <div class="actions availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></div>
                                    <?php endif; ?>
                                    <ul class="add-to-links noSwipe">
                                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                            <li><a href="<?php $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                        <?php endif; ?>
                                        <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                        <?php endif; ?>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="label-product">
                        <?php if($_product->getNew()) {echo '<span class="new">'.$this->__('New').'</span>';  }?>
                        <?php if($_product->getSale()){echo '<span class="sale">'.$this->__('Sale').'</span>';  }?>
                    </div>
                </div>
            </li>
    <?php if ($i%$_columnCount==0 || $i==count($_products)): ?>
        </ul>
    <?php endif ?>
    <?php endforeach; ?>
    </div>
<?php endif; ?>