<?php
$spcd_helper = $this->helper('specialpricecountdown/data');
$currDate = $spcd_helper->currDate();
?>
<?php if (($_products = $this->getTypeCollection()) && $_products->getSize()): ?>
    <div class="tm-widget-product">
        <div class="widget-title">
            <h2>
                <?php if ($this->_getData('display_type') == 'viewed_products'): ?>
                    <?php echo $this->__('Most Viewed Products') ?>
                <?php elseif($this->_getData('display_type') == 'sale_products'): ?>
                    <?php echo $this->__('Spesials') ?>
                <?php else:?>
                    <?php echo $this->__('Bestsellers Products') ?>
                <?php endif;?>
            </h2>
        </div>
        <ul class="products-list layout-list">
            <?php $i = 0; foreach ($_products->getItems() as $_product): $i++; ?>
            <li class="item cont_<?php echo $i; ?>" itemscope itemtype="//schema.org/product">
                <div class="wrapper-hover">
                    <div class="product-image-container">
                        <a class="product-image" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>">
                            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($this->_getData('img_custom_width'), $this->_getData('img_custom_height')); ?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
                        </a>
                        <ul class="product-thumbs">
                            <?php $count_thumbs = 1; foreach ($_product->load($_product->getId())->getMediaGalleryImages() as $image): ?>

                                <?php if ($count_thumbs <= $this->_getData('small_img_custom_count')): ?>
                                    <?php
                                        $item_w = $this->_getData('small_img_custom_width');
                                        $item_h = $this->_getData('small_img_custom_height');
                                    ?>
                                    <li class="product-thumb">
                                        <a class="product-image product-image-<?php echo $count_thumbs_img; ?>" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" itemprop="url">
                                            <img
                                                src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $image->getFile())->resize($item_w,$item_h); ?>"
                                                alt="<?php echo $this->htmlEscape($_product->getName()) ?>"
                                                title="<?php echo $this->htmlEscape($_product->getName()) ?>" itemprop="image"/>
                                        </a>
                                    </li>
                                <?php endif; $count_thumbs++; ?>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                    <div class="product-info">
                        <h3 class="product-name" itemprop="name">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                                <?php echo $this->htmlEscape($_product->getName()) ?>
                            </a>
                        </h3>
                        <?php echo $this->getPriceHtml($_product, true); ?>
                        <?php echo $this->getReviewsSummaryHtml($_product); ?>
                        <div class="actions">
                            <?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><i class="material-design-shopping232"></i><?php // echo $this->__('Add to Cart') ?></span></span></button>
                            <?php elseif($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
                                <a title="<?php echo $this->__('View Details') ?>" class="button btn-details" href="<?php echo $_product->getProductUrl() ?>"><span><span><i class="material-design-verification24"></i><?php // echo $this->__('View Details') ?></span></span></a>
                            <?php else: ?>
                                <div class="actions availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></div>
                            <?php endif; ?>
                            <ul class="add-to-links noSwipe">
                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                <?php endif; ?>
                                <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                <?php endif; ?>
                            </ul>
                        </div>
                    </div>
                    <div class="label-product">
                        <?php if($_product->getNew()) {echo '<span class="new">'.$this->__('New').'</span>';  }?>
                        <?php if($_product->getSale()){echo '<span class="sale">'.$this->__('Sale').'</span>';  }?>
                    </div>
                </div>
            </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>