﻿#review-buttons-container .btn-checkout {
	font-size: 18px;
	padding: 14px 28px
}

@media only screen and (max-width: 991px) {
	#review-buttons-container .btn-checkout {
		padding: 7px 12px
	}
}

#review-buttons-container .btn-checkout {
	background-color: #F05059
}

#review-buttons-container .btn-checkout::after {
	background: #e02d36
}

#review-buttons-container .btn-checkout:hover {
	background: #e02d36
}

#review-buttons-container .btn-checkout:active::after {
	background: #e02d36
}

#review-buttons-container .btn-checkout:focus {
	background: #e02d36
}

.opc .section .control input[type="radio"], .opc .section .inner-box p input[type="radio"],
	.opc .section .fieldset dl dt input[type="radio"], .opc .section .control input[type="checkbox"],
	.opc .section .inner-box p input[type="checkbox"], .opc .section .fieldset dl dt input[type="checkbox"]
	{
	float: left;
	margin-top: 5px;
	display: none
}

.opc .section .control input[type="radio"]+label, .opc .section .inner-box p input[type="radio"]+label,
	.opc .section .fieldset dl dt input[type="radio"]+label, .opc .section .control input[type="radio"]+.label label,
	.opc .section .inner-box p input[type="radio"]+.label label, .opc .section .fieldset dl dt input[type="radio"]+.label label
	{
	cursor: pointer;
	position: relative;
	padding-left: 27px;
	text-transform: none;
	display: inline-block
}

.opc .section .control input[type="radio"]+label:before, .opc .section .inner-box p input[type="radio"]+label:before,
	.opc .section .fieldset dl dt input[type="radio"]+label:before, .opc .section .control input[type="radio"]+.label label:before,
	.opc .section .inner-box p input[type="radio"]+.label label:before,
	.opc .section .fieldset dl dt input[type="radio"]+.label label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	border-radius: 50%;
	left: 0;
	top: 2px;
	background-color: #f5f5f5;
	border: solid 1px #dfdfdf
}

.opc .section .control input[type="radio"]+label:after, .opc .section .inner-box p input[type="radio"]+label:after,
	.opc .section .fieldset dl dt input[type="radio"]+label:after, .opc .section .control input[type="radio"]+.label label:after,
	.opc .section .inner-box p input[type="radio"]+.label label:after, .opc .section .fieldset dl dt input[type="radio"]+.label label:after
	{
	content: "";
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	width: 0px;
	height: 0px;
	left: 9px;
	top: 10px;
	background-color: #F05059;
	box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px
		rgba(255, 255, 255, 0.8)
}

.opc .section .control input[type="radio"]+label:hover, .opc .section .inner-box p input[type="radio"]+label:hover,
	.opc .section .fieldset dl dt input[type="radio"]+label:hover, .opc .section .control input[type="radio"]+.label label:hover,
	.opc .section .inner-box p input[type="radio"]+.label label:hover, .opc .section .fieldset dl dt input[type="radio"]+.label label:hover
	{
	color: #333
}

.opc .section .control input[type=radio]:checked+.label label:after,
	.opc .section .inner-box p input[type=radio]:checked+.label label:after,
	.opc .section .fieldset dl dt input[type=radio]:checked+.label label:after,
	.opc .section .control input[type=radio]:checked+label:after, .opc .section .inner-box p input[type=radio]:checked+label:after,
	.opc .section .fieldset dl dt input[type=radio]:checked+label:after {
	width: 12px;
	height: 12px;
	left: 2px;
	top: 4px
}

.opc .section .control input[type="checkbox"]+label, .opc .section .inner-box p input[type="checkbox"]+label,
	.opc .section .fieldset dl dt input[type="checkbox"]+label, .opc .section .control input[type="checkbox"]+.label label,
	.opc .section .inner-box p input[type="checkbox"]+.label label, .opc .section .fieldset dl dt input[type="checkbox"]+.label label
	{
	display: inline-block;
	padding-left: 27px;
	position: relative;
	clear: both;
	cursor: pointer;
	text-transform: none
}

.opc .section .control input[type="checkbox"]+label:before, .opc .section .inner-box p input[type="checkbox"]+label:before,
	.opc .section .fieldset dl dt input[type="checkbox"]+label:before, .opc .section .control input[type="checkbox"]+.label label:before,
	.opc .section .inner-box p input[type="checkbox"]+.label label:before,
	.opc .section .fieldset dl dt input[type="checkbox"]+.label label:before
	{
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	top: 2px;
	background-color: #f5f5f5;
	border: solid 1px #dfdfdf
}

.opc .section .control input[type="checkbox"]+label:after, .opc .section .inner-box p input[type="checkbox"]+label:after,
	.opc .section .fieldset dl dt input[type="checkbox"]+label:after, .opc .section .control input[type="checkbox"]+.label label:after,
	.opc .section .inner-box p input[type="checkbox"]+.label label:after,
	.opc .section .fieldset dl dt input[type="checkbox"]+.label label:after
	{
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	display: inline-block;
	position: absolute;
	font-size: 0;
	left: 9px;
	top: 10px;
	color: #F05059;
	text-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px
		rgba(255, 255, 255, 0.8)
}

.opc .section .control input[type="checkbox"]+label:hover, .opc .section .inner-box p input[type="checkbox"]+label:hover,
	.opc .section .fieldset dl dt input[type="checkbox"]+label:hover, .opc .section .control input[type="checkbox"]+.label label:hover,
	.opc .section .inner-box p input[type="checkbox"]+.label label:hover,
	.opc .section .fieldset dl dt input[type="checkbox"]+.label label:hover
	{
	color: #333
}

.opc .section .control input[type=checkbox]:checked+label:after, .opc .section .inner-box p input[type=checkbox]:checked+label:after,
	.opc .section .fieldset dl dt input[type=checkbox]:checked+label:after,
	.opc .section .control input[type=checkbox]:checked+.label label:after,
	.opc .section .inner-box p input[type=checkbox]:checked+.label label:after,
	.opc .section .fieldset dl dt input[type=checkbox]:checked+.label label:after
	{
	font-size: 22px;
	top: -9px;
	left: 0
}

.sp-methods .form-list li .dropdown {
	width: 100%;
	background-color: #f5f5f5;
	border: solid 1px #dfdfdf;
	border-radius: 0px
}

.sp-methods .form-list li .dropdown:hover {
	box-shadow: none;
	background: #EDEDED
}

.sp-methods .form-list li .dropdown .validation-advice {
	position: relative !important;
	height: auto;
	opacity: 1;
	padding: 0 0 10px !important;
	background: #fff;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	top: -1px;
	left: -1px;
	margin-right: -2px
}

.sp-methods .form-list li .dropdown div {
	background-color: #f5f5f5;
	border: solid 1px #dfdfdf
}

.sp-methods .form-list li .dropdown div ul {
	z-index: 12
}

.sp-methods .form-list li .dropdown div ul li {
	margin: 0
}

.sp-methods .form-list li .dropdown div ul li.focus {
	background: #EDEDED;
	color: #333
}

.sp-methods .form-list li .dropdown div ul li.active {
	font-weight: normal;
	background: #EDEDED
}

.sp-methods .form-list li .dropdown li, .sp-methods .form-list li .dropdown .selected
	{
	font-size: 14px;
	color: #888;
	padding: 13px 20px
}

.sp-methods .form-list li .dropdown .selected {
	color: #333
}

.sp-methods .form-list li .dropdown .selected::after {
	box-shadow: none
}

.sp-methods .form-list li .dropdown .carat {
	border-width: 6px;
	border-color: #777 transparent transparent;
	right: 20px
}

.sp-methods .form-list li .dropdown.open {
	z-index: 15
}

.sp-methods .form-list li .dropdown.open .carat {
	border-bottom: 6px solid #777;
	border-top: 6px solid transparent;
	margin-top: -10px
}

.sp-methods .form-list li .dropdown.open div {
	padding: 10px 0;
	height: auto !important
}

.sp-methods .form-list li .dropdown.open div ul {
	position: relative;
	z-index: 12
}

.theme-border, .table-bordered {
	border-top: solid 2px #F05059
}

.theme-color {
	color: #F05059
}

.title-border, .opc .section.active {
	border-bottom: solid 2px #dfdfdf;
	padding-bottom: 30px !important;
	margin-bottom: 40px !important
}

@media only screen and (max-width: 767px) {
	.title-border, .opc .section.active {
		margin-bottom: 15px !important;
		padding-bottom: 10px !important
	}
}

.theme-block, .sidebar .block-progress {
	border: solid 1px #dfdfdf;
	border-top: solid 2px #F05059;
	padding: 30px 29px;
	margin-bottom: 60px
}

.no-theme-block, .opc .form-list {
	border: none;
	padding: 0;
	margin-bottom: 0
}

.sidebar .block-progress dt, #checkout-review-table-wrapper table tfoot tr td
	{
	text-transform: uppercase;
	color: #333;
	font-weight: normal
}

.sidebar .block-progress .block-title strong {
	font-size: 18px;
	line-height: 1.667em;
	color: #F05059;
	text-transform: uppercase;
	font-weight: 500
}

.table-bordered thead>tr>th, .table-bordered thead>tr>td {
	font-size: 16px;
	line-height: 1.667em;
	color: #333;
	text-transform: uppercase;
	font-weight: 500
}

@media only screen and (max-width: 991px) {
	.theme-block, .sidebar .block-progress {
		padding: 15px;
		margin-bottom: 30px
	}
	.sidebar .block-progress dt, #checkout-review-table-wrapper table tfoot tr td
		{
		font-size: 12px
	}
}

.table-bordered thead>tr>th, .table-bordered thead>tr>td {
	border-bottom-width: 1px
}

.table-bordered th, .table-bordered td {
	border: solid 1px #dfdfdf
}

.ink {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	z-index: 9999
}

.animate {
	-webkit-animation: ripple 0.65s linear;
	-webkit-animation: ripple 0.65s linear;
	-moz-animation: ripple 0.65s linear;
	-ms-animation: ripple 0.65s linear;
	-o-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear
}

@
-webkit-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
-moz-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
-o-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
.icon-sprite, .icon-sprite-for-modules {
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	text-indent: -9999px
}

.icon-sprite-for-modules {
	background-image: url(../images/icon_sprite.png)
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min--moz-device-pixel-ratio : 2)
		, ( -o-min-device-pixel-ratio : 4 / 2) , ( min-device-pixel-ratio : 2)
		, ( min-resolution : 192dpi) , ( min-resolution : 2dppx) {
	.icon-sprite, .icon-sprite-for-modules {
		background-image: url(../images/icon_sprite@2x.png);
		background-size: 100px 1000px
	}
}

@
keyframes zoomIn { 0%{
	opacity: 0;
	transform: scale(0.3)
}

50%{
opacity
:
1
}
}
@
-webkit-keyframes zoomIn { 0%{
	opacity: 0;
	-webkit-transform: scale(0.3)
}

50%{
opacity
:
1
}
}
.checkout-onepage-index .page-title h1:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	font-size: 55px;
	color: #F05059;
	padding-right: 0.244em
}

@media only screen and (max-width: 767px) {
	.checkout-onepage-index .page-title h1:before {
		font-size: 30px
	}
}

.opc .section:last-child.active {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0 !important
}

.opc .section .step-title {
	width: 100%;
	position: relative;
	margin: 0 0 10px 0;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none
}

.opc .section .step-title:after {
	content: '';
	display: table;
	clear: both
}

.opc .section .fieldset {
	margin-right: -15px;
	position: relative
}

.opc .section .control label, .opc .section .inner-box p label, .opc .section .fieldset dl dt label
	{
	background: none !important;
	padding: 0
}

.opc .section .buttons-set {
	border-top: none;
	margin-bottom: 0
}

.opc .section .product-image {
	padding: 5px;
	margin-bottom: 10px
}

.opc .section p.required {
	margin: 0;
	position: absolute;
	right: 15px;
	top: -20px
}

.opc .section .wide label, .opc .section .field label, .opc .section .fieldset dd label
	{
	text-transform: uppercase;
	color: #333;
	margin-bottom: 3px
}

.opc .section .inner-box .fields, .opc .section textarea {
	float: none;
	max-width: 97%;
	width: 97%
}

.opc .section .inner-box .fields input {
	width: 100%
}

.opc .section.allow:not (.active ) .step-title {
	cursor: pointer
}

#login-form input {
	width: 97%
}

#checkout-step-billing .form-list .control {
	float: left
}

#checkout-step-billing .form-list .control label {
	min-width: 210px
}

#checkout-shipping-method-load dl {
	overflow: hidden
}

#checkout-shipping-method-load dl dt {
	float: left;
	font-weight: normal;
	text-transform: uppercase;
	color: #333;
	padding-right: 10px
}

#checkout-shipping-method-load dl dd {
	float: left
}

#checkout-shipping-method-load dl dd li {
	margin: 0
}

#checkout-shipping-method-load dl dd label {
	padding: 0 !important;
	color: #F05059
}

#checkout-shipping-method-load dl dd label span {
	font-weight: normal
}

#checkout-payment-method-load .fields {
	width: 32%
}

#checkout-payment-method-load input, #checkout-payment-method-load select{
	width: 100%
}

#checkout-payment-method-load .fieldset input,
	#checkout-payment-method-load .fieldset select {
	width: 92%
}

#checkout-payment-method-load .year {
	margin-top: 0px
}

#checkout-step-shipping_method label {
	text-transform: none
}

#checkout-step-payment img {
	max-width: 100%
}

.opc .section .step-title a {
	display: none
}

.opc .section.allow:not (.active ) .step-title a {
	display: block;
	float: right;
	line-height: 40px;
	height: 40px;
	padding: 0px 10px
}

.no-touch .opc .section .step-title a:hover {
	text-decoration: none
}

.opc .section .step-title .number {
	width: 39px;
	height: 39px;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 37px;
	font-weight: 500;
	background-color: #333;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	border-radius: 50%
}

.opc .section.allow.active .step-title .number {
	background-color: #F05059;
	-webkit-box-shadow: -1px -1px 0px rgba(50, 50, 50, 0.25) inset;
	-moz-box-shadow: -1px -1px 0px rgba(50, 50, 50, 0.25) inset;
	box-shadow: -1px -1px 0px rgba(50, 50, 50, 0.25) inset
}

.opc .section.allow .step-title .number {
	background-color: #999
}

.opc .section.allow .step-title h2 {
	color: #909090
}

.opc .section.allow .step-title:hover h2, .opc .section.active .step-title h2
	{
	color: #333
}

.opc .section .step-title h2 {
	font-size: 18px;
	font-weight: 500;
	line-height: normal;
	padding: 10px 0 10px;
	float: left;
	margin: 0px 4px 0px 55px
}

.opc .section .step {
	padding: 10px 0
}

.opc .section .step:after {
	content: '';
	display: table;
	clear: both
}

@media only screen and (max-width: 991px) {
	.opc .section .step {
		padding: 10px
	}
}

.opc select {
	max-width: 365px;
	width: 100%
}

.opc h3, .opc h4 {
	margin: 0;
	margin-bottom: 10px;
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.4;
	text-rendering: optimizeSpeed;
	text-transform: uppercase;
	font-weight: normal
}

.opc h3.product-name, .opc h4.product-name {
	color: #F05059;
	text-transform: none;
	font-size: 18px
}

.opc .buttons-set {
	text-align: left
}

.opc .buttons-set button.button {
	float: right;
	margin-left: 0;
	margin-right: 10px;
	margin-bottom: 0;
	width: auto !important
}

.opc .buttons-set p.required {
	float: right;
	margin-left: 5px;
	margin-bottom: 0
}

.opc .buttons-set .back-link {
	float: right;
	margin: 0
}

.opc .buttons-set a {
	line-height: 20px;
	display: inline-block;
	padding: 5px 5px 5px 0
}

.opc .fields {
	float: left;
	width: 33%
}

.opc .fields input[type="email"], .opc .fields input[type="search"],
	.opc .fields input[type="number"], .opc .fields input[type="password"],
	.opc .fields input[type="tel"], .opc .fields input[type="text"] {
	max-width: 100%;
	width: 92%
}

.opc .wide {
	clear: both;
	width: 100%
}

.opc .wide input[type="email"], .opc .wide input[type="search"], .opc .wide input[type="number"],
	.opc .wide input[type="password"], .opc .wide input[type="tel"], .opc .wide input[type="text"]
	{
	max-width: 100%;
	width: 96%
}

.opc .wide select {
	max-width: 100%;
	width: 92%
}

.opc .form-list {
	clear: both
}

.opc .form-list select {
	width: 93%;
	margin-top: 0
}

@media only screen and (max-width: 479px) {
	.opc .buttons-set .button+.buttons-set .button, .paypal-express-review .buttons-set .button+.buttons-set .button
		{
		margin-left: 0
	}
	.opc .fields, #checkout-payment-method-load .fields {
		float: none;
		width: 100%
	}
	.opc .wide, #checkout-payment-method-load .wide {
		width: 100%
	}
	.opc input[type="email"], .opc input[type="search"], .opc input[type="number"],
		.opc input[type="password"], .opc input[type="tel"], .opc input[type="text"],
		#checkout-payment-method-load input[type="email"],
		#checkout-payment-method-load input[type="search"],
		#checkout-payment-method-load input[type="number"],
		#checkout-payment-method-load input[type="password"],
		#checkout-payment-method-load input[type="tel"],
		#checkout-payment-method-load input[type="text"] {
		width: 100%
	}
	.opc select, #checkout-payment-method-load select {
		width: 100%
	}
}

.opc #opc-login .step {
	padding: 20px 0px
}

.opc #opc-login .buttons-set {
	border-top: 0;
	padding-top: 5px
}

@media only screen and (max-width: 767px) {
	.opc #opc-login .description, .opc #opc-login p.required {
		display: none
	}
	.opc .buttons-set {
		margin-bottom: 30px
	}
	.opc .buttons-set button.button {
		float: right
	}
}

#opc-payment .note {
	padding: 10px
}

.opc.opc-firststep-login .section:not (#opc-login ) .step-title,
	.opc-block-progress-step-login {
	transition: opacity 300ms ease-out
}

.opc.opc-firststep-login .section#opc-login .step-title .number {
	transition: width 80ms ease-out
}

.opc.opc-firststep-login .section#opc-login .step-title h2 {
	transition: margin-left 80ms ease-out
}

body:not (.opc-has-progressed-from-login ) .opc.opc-firststep-login .section#opc-login .step-title .number
	{
	overflow: hidden
}

.sp-methods {
	margin: 0 0 8px
}

.sp-methods dt {
	margin: 13px 0 5px;
	font-weight: bold
}

.sp-methods dt:first-child {
	margin: 0 0 5px
}

.sp-methods dd li {
	margin: 5px 0
}

.sp-methods label img {
	float: left
}

.sp-methods label a {
	margin-top: 6px;
	float: right;
	margin-left: 10px
}

.sp-methods .price {
	font-weight: bold
}

.sp-methods .form-list {
	padding: 20px 0 0 0
}

.sp-methods .form-list li {
	margin: 0 0 15px
}

.sp-methods select.month {
	width: 120px;
	margin-right: 10px
}

.sp-methods select.year {
	width: 96px
}

.sp-methods #advice-validate-cc-exp-ccsave_expiration {
	max-width: 130px
}

.sp-methods .checkmo-list li {
	margin: 0 0 5px;
	content: '';
	display: table;
	clear: both
}

.sp-methods .checkmo-list label {
	width: 165px;
	padding-right: 15px;
	text-align: right;
	float: left
}

.sp-methods .checkmo-list address {
	float: left
}

@media only screen and (max-width: 479px) {
	.sp-methods .checkmo-list {
		padding-left: 0
	}
	.sp-methods .checkmo-list label {
		width: 135px
	}
}

.sp-methods .release-amounts {
	margin: 0.5em 0
}

.sp-methods .release-amounts button {
	float: left;
	margin: 5px 10px 0 0
}

.sidebar .block-progress {
	background-color: #f5f5f5;
	margin: 0
}

.sidebar .block-progress .block-title {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 12px
}

.sidebar .block-progress dt {
	padding-top: 6px
}

.sidebar .block-progress dt a {
	float: right;
	text-transform: none;
	font-weight: 500
}

.sidebar .block-progress dt.complete {
	color: #333
}

.sidebar .block-progress dd {
	padding: 10px 0 0;
	margin: 0px;
	font-size: 12px
}

.sidebar .block-progress dd address {
	line-height: 1.917em;
	margin-bottom: 0
}

.sidebar .block-progress dd.complete {
	border-bottom: solid 1px #dfdfdf;
	padding-bottom: 20px;
	margin-bottom: 20px
}

.sidebar .block-progress dl {
	margin-bottom: 0
}

.sidebar .block-progress dl div:last-child dd.complete {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0
}

.sidebar .block-progress #payment-progress-opcheckout .subtitle {
	margin-bottom: 3px
}

.sidebar .block-progress .payment-info dt {
	padding: 0;
	margin: 0 0 3px 0;
	color: #888;
	font-family: Georgia, Times, "Times New Roman", serif;
	text-transform: none;
	font-style: italic;
	float: left;
	clear: both;
	font-size: 13px
}

.sidebar .block-progress .payment-info dt:after {
	content: ': '
}

.sidebar .block-progress .payment-info dd {
	float: left;
	margin-bottom: 3px;
	font-size: 13px
}

.sidebar .block-progress .payment-info:after {
	content: '';
	display: table;
	clear: both
}

#checkout-review-table .btn-remove img {
	display: none
}

#checkout-review-table-wrapper {
	clear: both
}

#checkout-review-table-wrapper table {
	border: solid 1px #dfdfdf
}

#checkout-review-table-wrapper table tbody td,
	#checkout-review-table-wrapper table thead th,
	#checkout-review-table-wrapper table tfoot {
	vertical-align: top;
	text-align: right
}

#checkout-review-table-wrapper table thead th {
	color: #333;
	font-size: 16px;
	font-weight: 500;
	text-align: left;
	border: solid 1px #dfdfdf
}

#checkout-review-table-wrapper table thead th:last-child {
	border-right: none
}

#checkout-review-table-wrapper table tbody tr td {
	border: solid 1px #dfdfdf
}

#checkout-review-table-wrapper table tbody tr td:first-child {
	width: 49%;
	text-align: left
}

#checkout-review-table-wrapper table tbody tr td:last-child {
	border-right: none
}

#checkout-review-table-wrapper table tfoot tr td {
	text-align: left;
	position: relative
}

#checkout-review-table-wrapper table tfoot tr td::after {
	position: absolute;
	height: 1px;
	bottom: 0;
	left: 40px;
	right: 40px;
	background-color: #dfdfdf;
	content: ''
}

#checkout-review-table-wrapper table tfoot tr td.last {
	text-align: right
}

#checkout-review-table-wrapper table tfoot tr td.last strong .price {
	font-size: 34px;
	color: #F05059
}

#checkout-review-table-wrapper table tfoot tr td:first-child {
	padding: 8px 0 8px 40px
}

#checkout-review-table-wrapper table tfoot tr td:first-child::after {
	right: 0
}

#checkout-review-table-wrapper table tfoot tr td:last-child {
	padding: 8px 40px 8px 0
}

#checkout-review-table-wrapper table tfoot tr td:last-child::after {
	left: 0
}

#checkout-review-table-wrapper table tfoot tr.first td {
	padding-top: 30px
}

#checkout-review-table-wrapper table tfoot tr.last {
	font-size: 16px
}

#checkout-review-table-wrapper table tfoot tr.last strong {
	font-weight: 500
}

#checkout-review-table-wrapper table tfoot tr.last td {
	padding-bottom: 28px
}

#checkout-review-table-wrapper table tfoot tr.last td::after {
	display: none
}

#checkout-review-table-wrapper table .price {
	font-size: 24px;
	color: #F05059;
	font-weight: 500
}

#review-buttons-container {
	width: 100%;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 15px
}

#review-buttons-container .btn-checkout {
	float: right;
	margin: 0
}

#review-buttons-container .btn-checkout span span::before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	font-size: 28px;
	color: #fff;
	float: right;
	left: 0.333em;
	right: auto;
	position: relative;
	z-index: 99;
	vertical-align: bottom;
	display: inline-block
}

@media only screen and (max-width: 991px) {
	#review-buttons-container .btn-checkout span span::before {
		display: none
	}
}

#review-buttons-container .btn-checkout.button-secondary span span::before,
	#review-buttons-container .btn-checkout.button2 span span::before {
	color: #F05059
}

#review-buttons-container .please-wait {
	float: left;
	margin-right: 10px
}

#review-buttons-container .f-left {
	float: right;
	margin: 10px 20px 0 0
}

#review-buttons-container .f-left a {
	font-weight: 500
}

@media only screen and (max-width: 599px) {
	.linearize-table-large.checkout-review-table thead tr:nth-child(1n+2) {
		display: none
	}
}

@media only screen and (max-width: 479px) {
	.linearize-table.checkout-review-table thead tr:nth-child(1n+2) {
		display: none
	}
}

.opc-block-progress dt.complete .separator {
	display: none
}

.opc-block-progress dt .separator {
	display: none
}

#checkout-step-review .opc-block-progress {
	border-left: none;
	padding-left: 0
}

#checkout-step-review .opc-block-progress .block-title {
	display: none
}

#checkout-step-review .opc-block-progress .block-content {
	display: block !important;
	padding: 0
}

#checkout-step-review .opc-block-progress .block-content>dl>div {
	float: left;
	width: 50%
}

@media only screen and (max-width: 479px) {
	#checkout-step-review .opc-block-progress .block-content>dl>div {
		float: none;
		width: auto
	}
}

#checkout-step-review .opc-block-progress .block-content .changelink {
	display: none
}

@media only screen and (max-width: 479px) {
	#checkout-review-table thead>tr>th {
		display: none
	}
	#checkout-review-table thead>tr>th:first-child {
		display: block
	}
	#checkout-review-table thead>tr>th:first-child {
		display: block
	}
}

#checkout-step-review .centinel>p {
	margin-bottom: 10px
}

#checkout-step-review .centinel iframe {
	width: 100%;
	min-height: 400px
}

.gift-messages-form .item {
	content: '';
	display: table;
	clear: both;
	margin-top: 30px
}

.gift-messages-form .item h5 {
	font-weight: normal
}

.gift-messages-form .item .product-img-box {
	width: auto;
	float: left;
	padding-right: 15px
}

.gift-messages-form .item .details {
	float: left
}

.gift-message-form .inner-box>div {
	content: '';
	display: table;
	clear: both;
	width: 100%;
	margin-top: 15px;
	display: block
}

.gift-message-form .inner-box>div.extra-options-container p {
	margin-bottom: 15px
}

.gift-message-form .gift-wrapping-form label {
	margin-right: 10px
}

.gift-message-form .gift-wrapping-form img {
	float: left
}

.gift-message-form .gift-wrapping-form .gift-wrapping-design {
	height: 75px
}

.gift-message-form .gift-wrapping-form .gift-wrapping-design:after {
	content: '';
	display: table;
	clear: both
}

.gift-message-form .gift-wrapping-form .gift-wrapping-design .image-box
	{
	margin-right: 5px
}

.gift-message-form .gift-item {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px #ECECEC
}

.gift-message-form .gift-item:after {
	content: '';
	display: table;
	clear: both
}

.gift-message-form .gift-item .product-img-box {
	width: 200px
}

.gift-message-form .gift-item .product-img-box .product-image {
	width: 75px;
	margin-left: auto;
	margin-right: auto
}

.gift-message-form .gift-item .product-img-box .product-name {
	display: block
}

.gift-message-form .gift-item .fieldset {
	margin-left: 200px
}

@media only screen and (max-width: 991px) {
	.opc .section .fieldset {
		margin-right: 0
	}
	#checkout-review-table-wrapper table {
		border: none
	}
	#checkout-review-table-wrapper table .price,
		#checkout-review-table-wrapper table tfoot tr td.last strong .price {
		font-size: 1.2em
	}
	#checkout-review-table-wrapper table td:after {
		display: none
	}
	#checkout-review-table-wrapper table tbody tr td:first-child {
		width: 100%
	}
	#checkout-review-table-wrapper table tbody tr td:last-child {
		border-right: 1px solid #dfdfdf
	}
}

@media only screen and (max-width: 767px) {
	.gift-message-form .giftmessage-area {
		max-width: 100%
	}
	.gift-message-form .gift-item .product-img-box {
		width: 100%;
		float: none
	}
	.gift-message-form .gift-item .fieldset {
		margin-left: 0px
	}
	.gift-message-form .gift-item .fieldset textarea {
		width: 100%
	}
	.opc #opc-login .buttons-set {
		margin-bottom: 20px
	}
	.opc .section .step-title a, .opc .section.allow:not (.active ) .step-title a
		{
		display: none
	}
}

@media only screen and (max-width: 479px) {
	.opc .fields input, .opc .fields select, .opc .wide input, .opc .wide select
		{
		width: 100% !important
	}
	.opc .section .step {
		padding: 0
	}
	#checkout-review-table-wrapper table tfoot tr td:first-child {
		padding-left: 20px
	}
	#checkout-review-table-wrapper table tfoot tr td:last-child {
		padding-right: 20px
	}
}