﻿.page-sitemap .links a, .link-button {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: #F05059;
	display: inline-block;
	padding: 11px 20px;
	color: #fff;
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.14);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.14);
	border: 0;
	font-size: 14px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	overflow: hidden;
	position: relative
}

.page-sitemap .links a span, .link-button span {
	z-index: 9;
	position: relative
}

.page-sitemap .links a:not(a)::after, .link-button:not(a)::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	background: #e02d36;
	z-index: 2
}

.page-sitemap .links a:hover, .link-button:hover {
	background: #e02d36;
	cursor: pointer
}

.page-sitemap .links a:active::after, .link-button:active::after {
	background: #e02d36
}

.page-sitemap .links a:focus, .link-button:focus {
	color: #fff;
	background: #e02d36
}

.page-sitemap .links a {
	background: #eee;
	color: #333;
	text-shadow: none
}

.page-sitemap .links a:not(a)::after {
	background: #e1e1e1
}

.page-sitemap .links a:hover {
	background: #e1e1e1;
	cursor: pointer;
	color: #333
}

.page-sitemap .links a:active {
	color: #333
}

.page-sitemap .links a:active::after {
	background: #d4d4d4
}

.page-sitemap .links a:focus {
	background: #d4d4d4;
	color: #333;
	outline: none
}

.page-sitemap .links a {
	font-size: 14px;
	text-transform: none;
	padding: 6px 15px
}

.block-1>div, .list-1 .content-center, .row-box-container .content-center,
	.row-box-2 ul a>div, .list-cat a>div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 2
}

.page-sitemap .links a:hover, .link-button:hover {
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: rgba(0, 0, 0, 0.28);
	border-left-color: rgba(0, 0, 0, 0.2)
}

.page-sitemap .links a:hover, .link-button:hover {
	z-index: 999
}

.theme-border, .table-bordered {
	border-top: solid 2px #F05059
}

.theme-color {
	color: #F05059
}

.title-border, .page-sitemap .page-title h1, .ps-static.cms-page-view .page-title:not
	(.without-border ) h1 {
	border-bottom: solid 2px #dfdfdf;
	padding-bottom: 30px !important;
	margin-bottom: 40px !important
}

@media only screen and (max-width: 767px) {
	.title-border, .page-sitemap .page-title h1, .ps-static.cms-page-view .page-title:not
		(.without-border ) h1 {
		margin-bottom: 15px !important;
		padding-bottom: 10px !important
	}
}

.theme-block, #oar_widget_orders_and_returns_form .fieldset {
	border: solid 1px #dfdfdf;
	border-top: solid 2px #F05059;
	padding: 30px 29px;
	margin-bottom: 60px
}

.no-theme-block {
	border: none;
	padding: 0;
	margin-bottom: 0
}

label {
	text-transform: uppercase;
	color: #333;
	font-weight: normal
}

.table-bordered thead>tr>th, .table-bordered thead>tr>td {
	font-size: 16px;
	line-height: 1.667em;
	color: #333;
	text-transform: uppercase;
	font-weight: 500
}

@media only screen and (max-width: 991px) {
	.theme-block, #oar_widget_orders_and_returns_form .fieldset {
		padding: 15px;
		margin-bottom: 30px
	}
	label {
		font-size: 12px
	}
}

.table-bordered thead>tr>th, .table-bordered thead>tr>td {
	border-bottom-width: 1px
}

.table-bordered th, .table-bordered td {
	border: solid 1px #dfdfdf
}

.ink {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	z-index: 9999
}

.animate {
	-webkit-animation: ripple 0.65s linear;
	-webkit-animation: ripple 0.65s linear;
	-moz-animation: ripple 0.65s linear;
	-ms-animation: ripple 0.65s linear;
	-o-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear
}

@
-webkit-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
-moz-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
-o-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
.icon-sprite, .icon-sprite-for-modules {
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	text-indent: -9999px
}

.icon-sprite-for-modules {
	background-image: url(../images/icon_sprite.png)
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min--moz-device-pixel-ratio : 2)
		, ( -o-min-device-pixel-ratio : 4 / 2) , ( min-device-pixel-ratio : 2)
		, ( min-resolution : 192dpi) , ( min-resolution : 2dppx) {
	.icon-sprite, .icon-sprite-for-modules {
		background-image: url(../images/icon_sprite@2x.png);
		background-size: 100px 1000px
	}
}

@
keyframes zoomIn { 0%{
	opacity: 0;
	transform: scale(0.3)
}

50%{
opacity
:
1
}
}
@
-webkit-keyframes zoomIn { 0%{
	opacity: 0;
	-webkit-transform: scale(0.3)
}

50%{
opacity
:
1
}
}
.fieldset p {
	margin-bottom: 7px
}

.fieldset p.required {
	margin-bottom: 5px;
	float: right;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 5px
}

.fieldset+.fieldset {
	margin-top: 5px
}

form .legend {
	margin: 0;
	margin-bottom: 10px;
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.4;
	text-rendering: optimizeSpeed;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 30px;
	font-weight: 500
}

.input-box {
	padding-top: 2px
}

.input-box:after {
	content: '';
	display: table;
	clear: both
}

li.centinel-logos div.input-box img {
	display: inline;
	vertical-align: middle
}

.input-box .v-fix {
	float: left;
	margin-right: 5px;
	max-width: 100%
}

label {
	margin: 0;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none
}

label.required:after, span.required:after {
	content: ' * ';
	color: #ee372a;
	font-weight: normal;
	font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
	font-size: 12px
}

label.required em, span.required em {
	display: none
}

.input-hint {
	color: #909090;
	font-size: 12px
}

select {
	font-size: 14px
}

select+select {
	margin-left: 5px
}

select[multiple] {
	width: 270px;
	border: 1px solid #e7e7e6;
	font-size: 15px;
	padding: 5px
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 450px;
	padding: 5px
}

.input-text, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #e7e7e6;
	background: #f5f5f5;
	font-size: 14px
}

.input-text:focus, textarea:focus {
	border: 1px solid #d6d6d4;
	outline: 0
}

.input-text.validation-failed {
	border-color: #ee372a
}

.input-text.validation-failed:focus {
	outline-color: #f69b94
}

input[type=email], input[type=search], input[type=number], input[type=password],
	input[type=tel], input[type=text] {
	height: 40px;
	padding: 0 8px;
	border: solid 1px #e7e7e6
}

input[type=email], input[type=search], input[type=number], input[type=password],
	input[type=tel], input[type=text] {
	width: 230px;
	max-width: 100%
}

select {
	max-width: 100%;
	width: 92%;
	height: 40px;
	background: #f5f5f5;
	border: solid 1px #e7e7e6;
	margin-top: 0
}

select option {
	padding: 5px 10px
}

@media only screen and (max-device-width: 568px) and
	(-webkit-min-device-pixel-ratio: 0) {
	input[type=email], input[type=search], input[type=number], input[type=password],
		input[type=tel], input[type=text], select {
		font-size: 16px
	}
}

.ie8 .input-text {
	max-width: none
}

input[type=number].qty, input[type=text].qty {
	width: 3em;
	text-align: center;
	vertical-align: middle
}

::-webkit-input-placeholder {
	color: #909090
}

input:-moz-placeholder {
	color: #909090
}

input::-webkit-input-placeholder {
	opacity: 0.7
}

input::-moz-placeholder {
	opacity: 0.7
}

input:-moz-placeholder {
	opacity: 0.7
}

input:-ms-input-placeholder {
	opacity: 0.7
}

input:focus::-webkit-input-placeholder {
	opacity: 0.3
}

input:focus::-moz-placeholder {
	opacity: 0.3
}

input:focus:-moz-placeholder {
	opacity: 0.3
}

input:focus:-ms-input-placeholder {
	opacity: 0.3
}

.checkbox, .radio {
	position: relative;
	top: -1px;
	display: inline-block
}

.checkbox+label, .radio+label {
	width: auto;
	max-width: 85%;
	padding: 0 0 0 8px;
	font-size: 14px;
	font-weight: normal;
	vertical-align: top
}

p.required, .validation-advice {
	margin: 5px 0 0;
	color: #ee372a;
	font-size: 14px
}

p.required {
	font-size: 14px
}

.form-list>li {
	margin-bottom: 10px
}

.form-list select {
	margin-top: 4px;
	width: 300px;
	max-width: 100%
}

.form-list .input-range .input-text {
	width: 74px
}

.form-list .field, .form-list .wide, .form-list .control {
	margin-bottom: 15px
}

.form-list .control div.input-box, .sp-methods dt div.input-box,
	.product-options ul.options-list div.input-box {
	display: inline;
	float: left
}

.form-list .control div.input-box:after, .sp-methods dt div.input-box:after,
	.product-options ul.options-list div.input-box:after {
	display: none
}

.form-list .control input.radio, .form-list .control input.checkbox,
	.sp-methods dt input.radio, .sp-methods dt input.checkbox,
	.product-options ul.options-list input.radio, .product-options ul.options-list input.checkbox
	{
	float: left;
	margin-right: -40px;
	margin-top: 10px;
	margin-left: 15px
}

.form-list .control label, .sp-methods dt label, .product-options ul.options-list label
	{
	color: #888;
	background-color: #f5f5f5;
	padding: 5px 10px;
	display: inline-block;
	width: auto;
	max-width: none;
	min-width: 250px;
	float: none;
	padding: 6px 10px 6px 40px
}

.form-list .control label:hover, .sp-methods dt label:hover,
	.product-options ul.options-list label:hover {
	background-color: #EDEDED
}

.form-list .control .no-display+label, .sp-methods dt .no-display+label,
	.product-options ul.options-list .no-display+label {
	padding-left: 10px;
	background-color: transparent
}

.form-list .control .no-display+label:hover, .sp-methods dt .no-display+label:hover,
	.product-options ul.options-list .no-display+label:hover {
	background-color: transparent
}

.product-options ul.options-list label, .col2-set .form-list .control label
	{
	min-width: inherit;
	width: 100%;
	max-width: 100%
}

.form-list .control.remember-me-box label {
	width: auto;
	max-width: none;
	min-width: inherit
}

.form-list .control {
	margin-top: 15px
}

.form-list .control label {
	float: none
}

.form-list .control .radio, .form-list .control .checkbox {
	margin-right: 6px
}

.form-list .control .input-box {
	clear: none;
	display: inline-block;
	width: auto;
	padding: 0
}

form .form-instructions {
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 13px;
	color: #909090
}

.cms-index-index .main-container, .cms-page-view .main-container {
	overflow: hidden
}

.cms-index-index.overflow-disable .main-container, .cms-page-view.overflow-disable .main-container
	{
	overflow: inherit
}

.cms-page-view .page-title h1, .cms-page-view .page-title h3,
	.cms-page-view .page-head h1, .cms-page-view .page-head h3,
	.cms-no-route .page-title h1, .cms-no-route .page-title h3,
	.cms-no-route .page-head h1, .cms-no-route .page-head h3 {
	border: none
}

.cms-page-view .std img, .cms-no-route .std img {
	max-width: 100%
}

.cms-page-view .std p, .cms-no-route .std p {
	color: #888;
	font-size: 14px;
	line-height: 24px
}

.cms-page-view .std li, .cms-no-route .std li {
	color: #888;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px
}

.cms-page-view .col-left:after, .cms-no-route .col-left:after {
	content: '';
	display: table;
	clear: both
}

.cms-no-route .std img {
	width: 100%
}

.cms-page-view .std .messages, .cms-home .std .messages, .cms-no-route .std .messages
	{
	margin-bottom: 25px
}

.cms-page-view .std .messages ul, .cms-home .std .messages ul,
	.cms-no-route .std .messages ul {
	margin-bottom: 0
}

.cms-page-view .std .messages li, .cms-home .std .messages li,
	.cms-no-route .std .messages li {
	list-style: none;
	margin-left: 0;
	font-style: normal;
	font-family: "Helvetica Neue", Verdana, Arial, sans-serif
}

#accordion .toggle-tabs {
	display: none
}

#accordion>dl>dt {
	margin: 0;
	margin-bottom: 10px;
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.4;
	text-rendering: optimizeSpeed;
	text-transform: uppercase;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #F05059;
	font-weight: 500;
	margin-bottom: 0px;
	padding: 7px 10px 7px 24px;
	border-top: solid 1px #dfdfdf;
	position: relative;
	background-color: #f5f5f5;
	display: block
}

#accordion>dl>dt:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-top: 4px solid #333;
	border-bottom: none;
	left: 10px;
	top: 50%;
	margin-top: -3px
}

@media only screen and (max-width: 767px) {
	#accordion>dl>dt {
		color: #333;
		font-weight: normal;
		border: solid 1px #dfdfdf;
		border-bottom: none
	}
	#accordion>dl>dt:hover {
		background-color: #EDEDED
	}
}

#accordion>dl>dd {
	padding: 5px 30px 30px;
	background-color: #f5f5f5;
	margin: 0
}

@media only screen and (max-width: 1199px) {
	#accordion>dl>dd {
		padding: 5px 15px 15px
	}
}

#accordion>dl>dd:last-child {
	border-width: 0 1px 1px 1px
}

#accordion .selected-filter {
	background-color: #fbfbfb
}

#accordion li {
	position: relative;
	overflow: hidden
}

#accordion li .plusimage h2 {
	margin-right: 10px
}

.page-sitemap .pager {
	float: none
}

.page-sitemap .links {
	display: block;
	text-align: right;
	margin: 0 20px 0 0
}

.page-sitemap .links a {
	position: relative
}

.page-sitemap .sitemap {
	padding: 0;
	margin: 15px 0;
	position: relative
}

.page-sitemap .sitemap::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	top: 11px;
	left: 0;
	background-color: #F05059
}

.page-sitemap .sitemap::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 24px;
	bottom: -15px;
	left: 0;
	background-color: #fff
}

.page-sitemap .sitemap>li {
	padding-left: 35px;
	position: relative
}

.page-sitemap .sitemap>li.level-0::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 1px;
	top: 11px;
	left: 0;
	background-color: #F05059
}

.page-sitemap .sitemap>li.level-0 a::before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	font-size: 13px;
	color: #F05059;
	padding-right: 14px
}

.page-sitemap .sitemap li {
	margin: 15px 0
}

.page-sitemap .sitemap li ul {
	margin: 30px 0 30px 25px;
	position: relative
}

.page-sitemap .sitemap li ul::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	top: 11px;
	left: 0;
	background-color: #dfdfdf
}

.page-sitemap .sitemap li ul::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 24px;
	bottom: -15px;
	left: 0;
	background-color: #fff
}

.page-sitemap .sitemap li ul li {
	padding-left: 41px;
	position: relative
}

.page-sitemap .sitemap li ul li a {
	padding-left: 20px
}

.page-sitemap .sitemap li ul li:not (.list-container )::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 1px;
	top: 11px;
	left: 0;
	background-color: #dfdfdf
}

.page-sitemap .sitemap li a {
	color: #888;
	display: inline-block
}

.page-sitemap .sitemap li a:hover {
	color: #333
}

@media only screen and (max-width: 599px) {
	.page-sitemap .sitemap li ul {
		margin-left: 0px
	}
}

.indent1, .skills .term, .team .excerpt {
	margin-bottom: 57px !important
}

.indent2 {
	margin-bottom: 25px !important
}

.custom-page {
	line-height: 1.714em
}

.custom-page h3 {
	line-height: 1.8em;
	font-weight: 500;
	margin-bottom: 20px
}

.custom-page .bg-without {
	background: #f8f8f7;
	margin: 0 -200px 70px;
	padding: 70px 200px
}

.custom-page.custom-style-1 {
	line-height: 20px
}

.custom-page.custom-style-1 .page-title h1 {
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 39px
}

@media only screen and (max-width: 1199px) {
	.custom-page.custom-style-1 .page-title h1 {
		font-size: 40px;
		line-height: 40px
	}
}

.custom-page.custom-style-1 h3 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	color: #F05059;
	margin-bottom: 29px
}

@media only screen and (max-width: 1199px) {
	.custom-page.custom-style-1 h3 {
		font-size: 26px;
		line-height: 26px
	}
}

.custom-page.custom-style-1 .custom-title1 {
	line-height: 38px
}

.custom-page.custom-style-1 .custom-title1:before, .custom-page.custom-style-1 .custom-title2:before,
	.custom-page.custom-style-1 .custom-title3:before {
	border-width: 0;
	font-size: 86px;
	line-height: 98px;
	margin-bottom: -10px
}

.custom-page.custom-style-1 h4 {
	font-size: 30px;
	line-height: 34px;
	font-weight: 300
}

@media only screen and (max-width: 1199px) {
	.custom-page.custom-style-1 h4 {
		font-size: 23px;
		line-height: 23px
	}
}

.custom-page.custom-style-1 .list-3 {
	margin-bottom: -20px
}

.custom-page.custom-style-1 p {
	line-height: 20px
}

.custom-page.custom-style-1 .skills {
	padding-top: 20px
}

.custom-page.custom-style-1 .skills .term {
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	color: #333;
	padding-top: 5px;
	margin-bottom: 75px !important
}

.custom-page.custom-style-1 .team.row figure {
	padding-top: 15px;
	margin-bottom: 16px
}

.custom-page.custom-style-1 .team.row h4 {
	font-size: 20px;
	margin-bottom: 5px
}

.custom-page.custom-style-2 .page-title h1 {
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 15px
}

.custom-page.custom-style-2 .page-title h1 span {
	color: #F05059
}

.custom-page.custom-style-2 .page-title h1 b {
	font-size: 50px;
	color: #F05059;
	margin-right: 25px
}

@media only screen and (max-width: 1199px) {
	.custom-page.custom-style-2 .page-title h1 {
		font-size: 23px;
		line-height: 23px
	}
}

@media only screen and (max-width: 599px) {
	.custom-page.custom-style-2 .page-title h1 b {
		display: block;
		margin-bottom: 20px
	}
}

.custom-page.custom-style-2 .title-big h1 {
	font-size: 60px;
	line-height: 75px
}

@media only screen and (max-width: 1199px) {
	.custom-page.custom-style-2 .title-big h1 {
		font-size: 28px;
		line-height: 30px
	}
}

.custom-page.custom-style-2 h4 {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 24px;
	color: #F05059;
	font-weight: 300
}

.custom-page.custom-style-2 .a-center {
	margin-bottom: 85px;
	font-size: 13px;
	line-height: 20px
}

.custom-page.custom-style-2 p {
	font-size: 13px;
	line-height: 20px
}

.custom-page .custom-pag-list {
	margin: 0;
	padding: 0
}

.custom-page .custom-pag-list li {
	overflow: hidden;
	list-style: none;
	font-size: 13px;
	line-height: 20px;
	margin: 0 0 50px;
	padding: 0;
	font-style: normal;
	font-family: "Ubuntu", sans-serif
}

.custom-page .custom-pag-list li:last-child {
	margin-bottom: 0
}

.custom-page .custom-pag-list li>span {
	display: block;
	font-size: 57px;
	line-height: 110px;
	color: #fff;
	width: 110px;
	height: 110px;
	float: left;
	background: #F05059;
	text-align: center;
	border-radius: 100%;
	margin-right: 30px;
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.14);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.14)
}

@media only screen and (max-width: 1199px) {
	.custom-page .custom-pag-list li {
		text-align: center
	}
	.custom-page .custom-pag-list li>span {
		float: none;
		display: inline-block;
		margin: 0 0 30px
	}
}

.custom-page .custom-pag-list p {
	overflow: hidden
}

.custom-page .custom-pag-list.color-2 {
	padding-bottom: 40px
}

.custom-page .custom-pag-list.color-2 li>span {
	color: #F05059;
	background: #f8f8f7
}

.custom-page .custom-pag-list-2 {
	margin: 0 -15px;
	padding-top: 55px;
	padding-bottom: 70px
}

.custom-page .custom-pag-list-2:after {
	content: '';
	display: table;
	clear: both
}

.custom-page .custom-pag-list-2 li {
	list-style: none;
	margin: 0;
	padding: 0 15px;
	font-style: normal;
	font-family: "Ubuntu", sans-serif;
	width: 25%;
	float: left
}

.custom-page .custom-pag-list-2 li a {
	display: block;
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.14);
	-moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.14);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.14);
	text-align: center;
	background: #F05059;
	padding: 45px 40px 33px;
	color: #fff;
	min-height: 270px
}

.custom-page .custom-pag-list-2 li a h4 {
	color: #fff;
	line-height: 40px;
	margin-bottom: 0
}

.custom-page .custom-pag-list-2 li a span {
	font-size: 87px;
	line-height: 87px;
	display: block;
	margin-bottom: 24px
}

.custom-page .custom-pag-list-2 li a span.fa {
	font-size: 76px
}

.custom-page .custom-pag-list-2 li a:hover {
	background: #fff;
	color: #F05059
}

.custom-page .custom-pag-list-2 li a:hover h4 {
	color: #333
}

@media only screen and (max-width: 991px) {
	.custom-page .custom-pag-list-2 li {
		width: 50%;
		margin-bottom: 30px
	}
}

@media only screen and (max-width: 599px) {
	.custom-page .custom-pag-list-2 li {
		width: 100%
	}
}

.custom-page.clear-indent .bg-without {
	margin-bottom: -18px
}

.custom-page.clear-indent .bg-without .a-center {
	margin-bottom: 0
}

.page-404 {
	text-align: center;
	padding: 40px 0 75px
}

.page-404 .page-title-404 {
	background: url("../../images/404.png") no-repeat center top;
	height: 430px;
	font-size: 185px;
	color: #fff;
	font-weight: bold;
	overflow: hidden;
	padding-top: 135px;
	margin-bottom: 23px
}

.page-404 .slog-404 {
	font-size: 80px;
	line-height: 80px;
	font-weight: 300;
	color: #333;
	margin-bottom: 12px
}

.page-404 .slog-404 span {
	font-size: 40px
}

.page-404 .slog-404 p {
	font-size: 20px;
	margin-bottom: 45px
}

@media only screen and (max-width: 599px) {
	.page-404 .page-title-404 {
		height: 300px;
		background-size: contain;
		max-width: 270px;
		margin-left: auto;
		margin-right: auto;
		font-size: 120px;
		padding-top: 120px
	}
	.page-404 .slog-404 {
		font-size: 50px;
		line-height: 50px
	}
	.page-404 .slog-404 span {
		font-size: 23px
	}
}

.faqs-pages {
	padding: 25px 0 0
}

.faqs-pages .title-big h1 {
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 45px
}

.faqs-pages .a-center {
	margin-bottom: 60px
}

.faqs-pages h4 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 300;
	color: #333;
	border-bottom: 1px solid #e7e7e6;
	padding: 40px 0;
	margin-bottom: 0;
	cursor: pointer
}

.faqs-pages h4:after {
	display: inline-block;
	font-family: FontAwesome;
	font-size: inherit;
	line-height: normal;
	font-weight: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "\f107";
	position: absolute;
	right: 0;
	font-size: 35px;
	color: #888
}

.faqs-pages h4.id-active {
	border-color: #fff
}

.faqs-pages h4.id-active:after {
	content: "\f106"
}

.faqs-pages h4.last {
	border: 0
}

.faqs-pages .custom-pag-list-3 {
	padding-top: 10px;
	margin-bottom: 0
}

.faqs-pages .custom-pag-list-3 li {
	list-style: none;
	font-style: normal;
	margin: 0;
	padding: 0 0 20px;
	font-family: "Ubuntu", sans-serif;
	overflow: hidden
}

.faqs-pages .custom-pag-list-3 li:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	color: #dfdfdf;
	float: left;
	margin-right: 24px
}

.faqs-pages .custom-pag-list-3 a {
	font-size: 20px;
	color: #F05059;
	font-weight: 300;
	text-transform: uppercase
}

.faqs-pages .custom-pag-list-3 a:hover {
	color: #333
}

@media only screen and (max-width: 767px) {
	.faqs-pages h4 {
		font-size: 20px;
		padding: 15px 0
	}
	.faqs-pages .custom-pag-list-3 a {
		font-size: 16px
	}
}

.guarantee-pages .custom-pag-list-4 {
	overflow: hidden;
	margin: 0 -15px;
	padding-top: 40px
}

.guarantee-pages .custom-pag-list-4 li {
	list-style: none;
	margin: 0 0 56px;
	padding: 0 15px;
	font-size: 13px;
	font-style: normal;
	line-height: 20px;
	font-family: "Ubuntu", sans-serif;
	width: 33.33333%;
	float: left
}

.guarantee-pages .custom-pag-list-4 li:nth-child(3n+1) {
	clear: left
}

@media only screen and (max-width: 767px) {
	.guarantee-pages .custom-pag-list-4 li {
		width: 100%;
		clear: both
	}
}

.guarantee-pages h4 b {
	font-size: 16px;
	color: #d9d9d8;
	margin-right: 15px
}

.guarantee-pages .a-center h4 {
	padding-top: 30px
}

.list-decimal {
	counter-reset: list1
}

.list-decimal h4 {
	position: relative;
	padding-left: 65px
}

.list-decimal h4:after {
	content: '';
	display: table;
	clear: both
}

.list-decimal h4:before {
	counter-increment: list1;
	content: counter(list1, decimal-leading-zero);
	display: inline-block;
	font-size: 40px;
	color: #333;
	position: absolute;
	top: 0px;
	left: 0
}

.cms-contacts-2 ul {
	margin: 0
}

.cms-contacts-2 ul li {
	margin: 0;
	list-style: none
}

.cms-contacts-2 .std li {
	font-family: "Ubuntu", sans-serif;
	font-style: normal
}

.cms-contacts-2 .breadcrumbs {
	display: none
}

.cms-contacts-2 .contacts-index-index .contact-block-store .page-title h1
	{
	border: 0;
	margin-bottom: 20px !important
}

.skills {
	text-align: center;
	color: #F05059;
	padding-top: 16px
}

.skills .term {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500
}

.skills .value {
	font-size: 56px;
	line-height: 1.519em;
	font-weight: 500
}

#oar_widget_orders_and_returns_form .fieldset {
	margin-bottom: 20px
}

#oar_widget_orders_and_returns_form .buttons-set {
	border-top: 0;
	margin: 0;
	padding: 0
}

.custom-title1 {
	font-size: 16px;
	color: #F05059;
	line-height: 22px;
	font-weight: 500;
	padding: 0;
	margin: 0 0 15px 0;
	position: relative;
	text-align: center;
	margin-bottom: 20px
}

.custom-title1:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	font-size: 66px;
	border: solid 2px #F05059;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	display: block;
	margin: 0 auto 35px;
	line-height: 118.8px;
	width: 122px;
	height: 122px
}

.custom-title2 {
	font-size: 16px;
	color: #F05059;
	line-height: 22px;
	font-weight: 500;
	padding: 0;
	margin: 0 0 15px 0;
	position: relative;
	text-align: center;
	margin-bottom: 20px
}

.custom-title2:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	font-size: 66px;
	border: solid 2px #F05059;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	display: block;
	margin: 0 auto 35px;
	line-height: 118.8px;
	width: 122px;
	height: 122px
}

.custom-title3 {
	font-size: 16px;
	color: #F05059;
	line-height: 22px;
	font-weight: 500;
	padding: 0;
	margin: 0 0 15px 0;
	position: relative;
	text-align: center;
	margin-bottom: 20px
}

.custom-title3:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	font-size: 56px;
	border: solid 2px #F05059;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	display: block;
	margin: 0 auto 35px;
	line-height: 122px;
	width: 122px;
	height: 122px
}

.team {
	text-align: center
}

.team figure {
	display: block;
	margin: 0 auto 25px;
	text-align: center
}

.team figure a {
	display: inline-block;
	overflow: hidden
}

.team figure:hover img {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%)
}

.team figure img {
	border: medium none;
	max-width: 100%;
	width: 100%
}

.team h4 {
	font-weight: 400
}

.team .excerpt {
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 1px
}

.testimonials::before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	display: block;
	margin: 0 auto 20px;
	text-align: center;
	font-size: 84px;
	line-height: 1em;
	color: #F05059
}

.testimonials blockquote {
	position: relative;
	text-align: center;
	font-size: 14px;
	border: none
}

.testimonials blockquote cite {
	margin: 0;
	margin-bottom: 10px;
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.4;
	text-rendering: optimizeSpeed;
	text-transform: uppercase;
	font-weight: 400;
	display: block;
	text-align: center;
	color: #F05059;
	text-transform: uppercase
}

.testimonials blockquote q {
	display: block;
	padding: 0 5%
}

.testimonials .owl-controls .owl-buttons div.owl-prev, .testimonials .owl-controls .owl-buttons div.owl-next
	{
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	margin: 0 15px
}

.testimonials .owl-controls .owl-buttons div.owl-next {
	right: auto;
	left: auto
}

@media only screen and (max-width: 991px) {
	.testimonials .owl-controls .owl-buttons div.owl-prev {
		left: 7px
	}
	.testimonials .owl-controls .owl-buttons div.owl-next {
		right: 7px
	}
}

@media only screen and (max-width: 479px) {
	.indent1, .skills .term, .team .excerpt {
		margin-bottom: 20px
	}
	.skills .term {
		font-size: 14px
	}
	.skills .value {
		font-size: 30px
	}
}

.table-bordered .price {
	font-weight: 500;
	color: #F05059;
	font-size: 16px
}

.terms-conditions h4 {
	font-size: 20px;
	color: #F05059
}

.terms-conditions h4:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	font-size: 40px;
	color: #F05059;
	padding-right: 0.244em
}

@media only screen and (max-width: 767px) {
	.terms-conditions h4:before {
		font-size: 30px
	}
}

.terms-conditions h4::before {
	padding-right: 25px
}

.terms-conditions p {
	margin-bottom: 35px
}

@media only screen and (max-width: 767px) {
	.cms-page-view .data-table tr, .cms-page-view .data-table th,
		.cms-page-view .data-table td {
		display: block
	}
	.cms-page-view .data-table thead {
		display: none
	}
	.cms-page-view .data-table thead th {
		border-right: 0;
		border-left: 0
	}
	.cms-page-view .data-table thead th.lin-hide {
		display: none
	}
	.cms-page-view .data-table thead th:nth-child(1n+2) {
		display: none
	}
	.cms-page-view .data-table tbody tr {
		position: relative;
		border-bottom: 1px solid #ccc
	}
	.cms-page-view .data-table tbody td {
		padding: 0 10px 4px;
		border-right: 0;
		border-bottom: 0
	}
	.cms-page-view .data-table tbody td.lin-hide {
		display: none
	}
	.cms-page-view .data-table tbody td:first-child {
		padding-top: 10px
	}
	.cms-page-view .data-table tbody td:first-child, .cms-page-view .data-table tbody td:first-child h3
		{
		font-weight: bold
	}
	.cms-page-view .data-table tbody td[data-rwd-label] {
		text-align: left;
		padding-left: 30px
	}
	.cms-page-view .data-table tbody td[data-rwd-label]:before {
		content: attr(data-rwd-label) ":";
		font-size: 12px;
		font-family: "Ubuntu", sans-serif;
		padding: 5px 5px 5px 0;
		text-transform: uppercase
	}
	.cms-page-view .data-table tfoot tr {
		display: block;
		text-align: right
	}
	.cms-page-view .data-table tfoot tr:after {
		content: '';
		display: table;
		clear: both
	}
	.cms-page-view .data-table tfoot td {
		display: block;
		float: left
	}
	.cms-page-view .data-table tfoot td.lin-hide {
		display: none
	}
	.cms-page-view .data-table tfoot td:nth-child(odd) {
		clear: left;
		width: 60%
	}
	.cms-page-view .data-table tfoot td:nth-child(even) {
		text-align: left;
		width: 40%
	}
	.cms-page-view .data-table .linearize-hide {
		display: none
	}
	.cms-page-view .data-table .linearize-unpad {
		padding: 0
	}
	.cms-page-view .data-table .linearize-show {
		display: block
	}
	.cms-page-view .data-table thead {
		display: none
	}
}

dl.numbered-list {
	counter-reset: number
}

dl.numbered-list dt {
	counter-increment: number;
	margin: 0;
	margin-bottom: 10px;
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.4;
	text-rendering: optimizeSpeed;
	text-transform: uppercase;
	color: #F05059;
	font-weight: 500;
	padding-bottom: 10px
}

dl.numbered-list dt::before {
	content: counter(number);
	display: inline-block;
	width: 39px;
	height: 39px;
	line-height: 38px;
	text-align: center;
	border-radius: 50%;
	font-size: 16px;
	color: #fff;
	margin-right: 18px;
	background-color: #F05059;
	box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px
		rgba(255, 255, 255, 0.8)
}

dl.numbered-list dd {
	line-height: 1.714em;
	margin-bottom: 45px
}

.table.table-list-style>tbody>tr>td {
	border-top: 0;
	padding: 0px 30px 30px
}

.table.table-list-style>tbody>tr>td:not (:last-child ){
	border-right: solid 1px #dfdfdf
}

@media only screen and (max-width: 599px) {
	.table.table-list-style>tbody>tr>td {
		padding: 0 10px 10px
	}
}

.table.table-list-style h4 {
	float: right;
	max-width: 300px;
	text-align: right
}

.title-1 {
	font-size: 13px;
	margin-bottom: 15px
}

.title-2 {
	font-size: 70px;
	line-height: 70px;
	margin-bottom: 35px;
	font-weight: 300
}

.title-2 span {
	display: block
}

@media only screen and (max-width: 991px) {
	.title-2 {
		font-size: 46px;
		line-height: 46px
	}
}

.link-button {
	font-size: 18px;
	padding: 15px 28px
}

.link-button:hover {
	color: #fff
}

@media only screen and (max-width: 767px) {
	.link-button {
		font-size: 16px;
		padding: 8px 25px
	}
}

@media only screen and (max-width: 479px) {
	.link-button {
		font-size: 14px;
		padding: 6px 20px
	}
}

.list-marker {
	color: #888;
	font-size: 18px;
	text-decoration: underline
}

.block-1 {
	color: #ffffff;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase
}

.block-1.color-2 .title-1 {
	color: #F05059
}

.block-1.color-2 .title-2 {
	color: #333
}

.block-1 img {
	max-width: 100%
}

@media only screen and (max-width: 767px) {
	.block-1 .title-2 {
		font-size: 34px;
		line-height: 34px;
		margin-bottom: 10px
	}
}

@media only screen and (max-width: 479px) {
	.block-1 .title-1 {
		margin-bottom: 5px
	}
	.block-1 .title-2 {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px
	}
}

.list-1 {
	margin: 0 -5px 10px
}

.list-1:after {
	content: '';
	display: table;
	clear: both
}

.list-1 li {
	float: left;
	padding: 0 5px;
	width: 50%
}

.list-1 a {
	display: block;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300
}

.list-1 .content-center {
	width: 100%;
	padding-right: 31.6%
}

.list-1 .slog-1 {
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 10px;
	color: #333
}

.list-1 .slog-1 b {
	display: block;
	font-weight: 300
}

.list-1 .slog-2 {
	color: #F05059;
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 40px
}

.list-1 .slog-3 {
	font-size: 18px;
	margin-bottom: 7px
}

.list-1 .color-1 .slog-1, .list-1 .color-1 .slog-3 {
	color: #fff
}

.list-1 img {
	max-width: 100%
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	.list-1 .slog-1 {
		font-size: 20px;
		line-height: 23px
	}
	.list-1 .slog-2 {
		font-size: 32px;
		line-height: 32px;
		margin-bottom: 20px
	}
}

@media only screen and (max-width: 767px) {
	.list-1 li {
		float: none;
		width: 100%;
		margin-bottom: 10px
	}
}

@media only screen and (max-width: 480px) {
	.list-1 .slog-1 {
		font-size: 20px;
		line-height: 23px
	}
	.list-1 .slog-2 {
		font-size: 32px;
		line-height: 32px;
		margin-bottom: 20px
	}
}

.row-box-container {
	text-transform: uppercase;
	text-align: center;
	margin: 0 -5px;
	font-weight: 300
}

.row-box-container:after {
	content: '';
	display: table;
	clear: both
}

.row-box-container .row-box-1, .row-box-container .row-box-2 {
	float: left;
	padding: 0 5px;
	width: 50%
}

.row-box-container a {
	position: relative;
	display: block
}

.row-box-container img {
	max-width: 100%
}

@media only screen and (max-width: 767px) {
	.row-box-container .row-box-1, .row-box-container .row-box-2 {
		float: none;
		width: 100%;
		margin-bottom: 10px
	}
}

.row-box-1 .content-center {
	width: 100%;
	padding-right: 31.6%
}

.row-box-1 .slog-1 {
	color: #333;
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 10px
}

.row-box-1 .slog-1 b {
	font-weight: 300;
	display: block
}

.row-box-1 .slog-2 {
	color: #F05059;
	font-size: 60px;
	line-height: 60px;
	margin-bottom: 40px
}

@media only screen and (max-width: 991px) {
	.row-box-1 .slog-1 {
		font-size: 30px;
		line-height: 30px
	}
	.row-box-1 .slog-2 {
		font-size: 50px;
		line-height: 50px;
		margin-bottom: 20px
	}
}

@media only screen and (max-width: 600px) {
	.row-box-1 .slog-1 {
		font-size: 27px;
		line-height: 27px;
		margin-bottom: 10px
	}
	.row-box-1 .slog-2 {
		font-size: 32px;
		line-height: 32px;
		margin-bottom: 10px
	}
}

.row-box-2 ul {
	margin: 0 -5px
}

.row-box-2 ul:after {
	content: '';
	display: table;
	clear: both
}

.row-box-2 ul:first-child {
	margin-bottom: 10px
}

.row-box-2 ul li {
	float: left;
	padding: 0 5px;
	width: 50%
}

.row-box-2 ul a {
	background: #f3f3f3;
	display: block;
	position: relative
}

.row-box-2 ul a>div {
	width: 100%;
	padding: 0 5px
}

.row-box-2 ul a:hover div {
	color: #333
}

.row-box-2 .slog-1 {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 15px;
	color: #333
}

.row-box-2 .slog-1 b {
	display: block;
	font-weight: 300
}

.row-box-2 .slog-2 {
	color: #F05059;
	font-size: 18px;
	margin-bottom: 17px
}

.row-box-2 .slog-4 {
	color: #ffffff;
	font-size: 70px;
	line-height: 88px;
	margin-bottom: 8px
}

.row-box-2 .list-marker {
	color: #fff;
	font-weight: 300
}

.row-box-2 .color-bg-1 a {
	background: #242b3d
}

@media only screen and (max-width: 1199px) {
	.row-box-2 .slog-1 {
		font-size: 16px;
		line-height: 20px
	}
	.row-box-2 .slog-2 {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 7px
	}
	.row-box-2 .slog-3 {
		font-size: 10px;
		line-height: 16px
	}
	.row-box-2 .slog-4 {
		font-size: 40px;
		line-height: 40px
	}
}

@media only screen and (max-width: 767px) {
	.row-box-2 .slog-4 {
		font-size: 50px
	}
}

@media only screen and (max-width: 590px) {
	.row-box-2 a>div {
		padding: 0 10px
	}
	.row-box-2 .slog-1 {
		font-size: 18px;
		line-height: 23px
	}
	.row-box-2 .slog-2 {
		font-size: 16px;
		margin-bottom: 7px
	}
	.row-box-2 .slog-4 {
		font-size: 40px
	}
}

@media only screen and (max-width: 462px) {
	.row-box-2 ul li {
		width: 100%;
		margin-bottom: 10px
	}
	.row-box-2 ul li:last-child {
		margin-bottom: 0
	}
}

.list-2 {
	overflow: hidden;
	margin-bottom: 62px
}

.list-2 li {
	float: left;
	text-align: center;
	width: 10%
}

@media only screen and (max-width: 767px) {
	.list-2 li {
		width: 20%
	}
}

.list-2 a {
	display: block;
	overflow: hidden
}

.list-2 a:hover {
	opacity: 0.5
}

.list-2 a img {
	max-width: 100%
}

.list-3 {
	background: #f6f6f6;
	color: #888;
	margin: 10px -1000px 57px;
	padding: 42px 985px
}

.list-3 .img-box {
	float: left;
	margin: 10px 22px 0 0
}

.list-3 .wrap-extra {
	overflow: hidden;
	font-size: 13px;
	line-height: 20px;
	border: 0;
	padding: 0;
	margin: 0
}

.list-3 .list-desc {
	display: block
}

.list-3 .list-i {
	font-size: 73px;
	font-weight: 500;
	height: 40px;
	line-height: normal
}

.list-3 a {
	color: #ffffff;
	display: inline-block;
	font-size: 13px;
	margin-top: 17px;
	text-transform: uppercase
}

.list-3 a:hover {
	color: #333
}

@media only screen and (max-width: 1240px) and (min-width: 768px) {
	.list-3 {
		padding-left: 1000px;
		padding-right: 1000px
	}
}

@media only screen and (max-width: 767px) {
	.list-3 .wrapper {
		padding: 15px
	}
}

@media only screen and (max-width: 599px) {
	.list-3 .col-sm-6 {
		border-bottom: 1px solid #fff;
		padding-bottom: 25px;
		margin-bottom: 25px
	}
	.list-3 .col-sm-6:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border: 0
	}
	.list-3 .wrapper {
		text-align: center
	}
	.list-3 .img-box {
		float: none;
		margin: 0 auto 10px
	}
	.list-3 .img-box img {
		display: inline-block
	}
}

.row-box-2 a:hover .content-hover-name, .list-1 a:hover .content-hover-name,
	.row-box-container a:hover .content-hover-name {
	animation-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-name: zoomIn;
	-webkit-animation-name: zoomIn;
	position: absolute;
	width: 100%;
	height: 100%;
	background: none repeat scroll 0 0 rgba(253, 253, 253, 0.5607843137254902);
	left: 0;
	top: 0;
	transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%);
	z-index: 1
}

.row-box-2 a:hover .content-hover-name {
	background: #fdfdfd36;
}

.block-1 img {
	position: relative;
	z-index: -2
}

#bgndVideo {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%)
}

.block-row-2.layout_2 .slog-1, .block-row-2.layout_2 .slog-2,
	.block-row-2.layout_2 .list-marker {
	color: #fff
}

.block-row-2.layout_2 .color-1 .slog-2 {
	color: #F05059
}

.block-row-3.layout_2 {
	margin: 20px -204px 50px
}

.block-row-3.layout_2 .title-1 {
	color: #333
}

.block-row-3.layout_2 .title-2 {
	color: #fff
}

@media only screen and (max-width: 1618px) {
	.block-row-3.layout_2 {
		margin-left: -20px;
		margin-right: -20px
	}
}

.block-row-4.layout_2 {
	margin: 20px -204px -30px;
	overflow: hidden
}

.block-row-4.layout_2 .row-box-2 {
	float: none;
	width: auto
}

.block-row-4.layout_2 .row-box-2 li {
	width: 25%
}

@media only screen and (max-width: 767px) {
	.block-row-4.layout_2 .row-box-2 li {
		width: 50%;
		margin-top: 8px
	}
}

@media only screen and (max-width: 479px) {
	.block-row-4.layout_2 .row-box-2 li {
		width: 100%
	}
}

@media only screen and (max-width: 1618px) {
	.block-row-4.layout_2 {
		margin-left: -20px;
		margin-right: -20px
	}
}

.block-row-2.layout_3 {
	overflow: hidden
}

.block-row-2.layout_3 .row-box-2 {
	float: none;
	width: auto
}

.block-row-2.layout_3 .row-box-2 li {
	width: 25%
}

@media only screen and (max-width: 767px) {
	.block-row-2.layout_3 .row-box-2 li {
		width: 50%;
		margin-top: 8px
	}
}

@media only screen and (max-width: 479px) {
	.block-row-2.layout_3 .row-box-2 li {
		width: 100%
	}
}

@media only screen and (max-width: 1618px) {
	.block-row-2.layout_3 {
		margin-left: 0px;
		margin-right: 0px
	}
}

.block-row-3.layout_3 {
	margin: 20px -204px -30px;
	overflow: hidden
}

@media only screen and (max-width: 1618px) {
	.block-row-3.layout_3 {
		margin-left: -20px;
		margin-right: -20px
	}
}

.block-row-3.layout_3 .list-1 li:first-child .slog-1, .block-row-3.layout_3 .list-1 li:first-child .slog-2,
	.block-row-3.layout_3 .list-1 li:first-child .list-marker {
	color: #fff
}

.list-cat {
	overflow: hidden;
	margin: 0 -5px
}

.list-cat li {
	float: left;
	width: 25%;
	padding: 0 5px
}

.list-cat a {
	display: block;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden
}

.list-cat a>div {
	left: 36%;
	width: 100%;
	padding: 0 5px
}

.list-cat a:hover .content-hover-name {
	animation-duration: 0.4s;
	-webkit-animation-duration: 0.4s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-name: zoomIn;
	-webkit-animation-name: zoomIn;
	position: absolute;
	width: 100%;
	height: 100%;
	background: none repeat scroll 0 0 rgba(10, 179, 163, 0.2);
	left: 0;
	top: 0;
	transform: translate(0%, 0%);
	-webkit-transform: translate(0%, 0%);
	z-index: 1
}

.list-cat a:hover .slog-1, .list-cat a:hover .list-marker {
	color: #fff;
	-webkit-transition: all, 0.2s, ease-in-out;
	-o-transition: all, 0.2s, ease-in-out;
	transition: all, 0.2s, ease-in-out
}

.list-cat .slog-1 {
	font-size: 2.39vmax;
	line-height: 40px;
	margin-bottom: 20px
}

.list-cat .list-marker {
	color: #F05059
}

.list-cat img {
	width: 100%
}

@media only screen and (max-width: 991px) {
	.list-cat li {
		width: 50%;
		margin-top: 10px
	}
}

@media only screen and (max-width: 479px) {
	.list-cat li {
		width: 100%;
		margin-top: 10px
	}
}

.block-row-3.layout_5 {
	margin-bottom: 40px
}

.block-row-4.layout-5 {
	margin-bottom: 0
}

@media only screen and (max-width: 767px) {
	.block-row-4.layout-5 .row-box-2 .slog-1 {
		font-size: 30px;
		line-height: 36px
	}
}

.layout-5.list-3 {
	background: #333;
	margin: 0 -204px -10px;
	padding: 42px 204px;
	overflow: hidden
}

@media only screen and (max-width: 1618px) {
	.layout-5.list-3 {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 30px;
		padding-right: 30px
	}
}

.layout-5.list-3 a:hover {
	color: #F05059
}