<?php /* var $this Bronto_Verify_Block_Adminhtml_System_Config_Conflictprinter */ ?>
<style>
dl.conflict-values { clear: both; }
dl.conflict-values dt { float: left; width:6em ; }
dl.conflict-values dt, dl.conflict-values dd { padding: 3px; }
</style>
<fieldset class="grid">
    <?php $rewrites = $this->getRewrites(); ?>
    <?php if (is_array($rewrites) && !empty($rewrites)) : ?>
    <table class="border">
        <thead>
            <tr class="headings">
                <th>Results</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($rewrites as $rewrite) : ?>
                <tr class="<?php echo $this->getParity(); ?>">
                    <td>
            <dl class="conflict-values">
                <dt><strong>File :</strong></dt>
                            <dd><?php echo $rewrite['file']; ?></dd>
                            <dt><strong>XML Path :</strong></dt>
                            <dd><?php echo $rewrite['path']; ?></dd>
                            <dt><strong>Old Value :</strong></dt>
                            <dd><?php echo $rewrite['oldValue']; ?></dd>
                            <dt><strong>New Value :</strong></dt>
                            <dd><?php echo $rewrite['newValue']; ?> </dd>
                        </dl>
                    </td>
            </tr>
            <?php endforeach; ?>
    </tbody>
    </table>
    <?php else : ?>
    <table class="border">
        <thead>
            <tr class="headings">
                <th>** No conflicting configuration rewrites **</th>
            </tr>
        </thead>
    </table>
    <?php endif; ?>
</fieldset>
