<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Feed
 */
?>
<div id="add_output_row">
    <span>
        <button id="add_output_attribute" type="button" class="scalable" style=""><span><span><span><?php
            print $this->__("Add Attribute")
        ?></span></span></span></button>
    </span>
    <span>
        <button id="add_output_text" type="button" class="scalable" style=""><span><span><span><?php
            print $this->__("Add Text")
        ?></span></span></span></button>
    </span>

</div>
