#discount-coupon-form {
	width: 100%;
	float: none;
	margin-top: 20px;
	position: relative;
}

#discount-choice-form {
	position: relative;
}

#discount-choice-form ul li, #discount-choice-form ul li .control {
	display: inline-block;
}

#discount-choice-form ul li .control {
	padding: 8px;
}

#advice-validate-one-required-by-name-choice_yes {
    position: absolute;
    width: 100%;
    right: 0;
}

#discount-coupon-button-set {
	margin-top: 15px;
}

.discount.opc h2 {
	margin-bottom: 5px;
}

#discount-coupon-form .input-text {
	margin-bottom: 0px;
}