﻿.button.button-secondary, .button, .cart-table .product-cart-actions .button,
	#co-shipping-method-form .buttons-set .button, .footer .button {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: #888;
	display: inline-block;
	padding: 11px 20px;
	color: #fff;
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.14);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.14);
	border: 0;
	font-size: 14px;
	font-weight: 400;
	font-family: "Ubuntu", sans-serif;
	line-height: 20px;
	text-align: center;
	text-transform: capitalize;
	vertical-align: middle;
	overflow: hidden;
	position: relative
}

.button.button-secondary span, .button span, .cart-table .product-cart-actions .button span,
	#co-shipping-method-form .buttons-set .button span, .footer .button span
	{
	z-index: 9;
	position: relative
}

.button.button-secondary:not(a)::after, .button:not(a)::after,
	.cart-table .product-cart-actions .button:not(a)::after,
	#co-shipping-method-form .buttons-set .button:not(a)::after, .footer .button:not(a)::after
	{
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
	left: 0;
	background: #e02d36;
	z-index: 2
}

.button:hover, .cart-table .product-cart-actions .button:hover,
	#co-shipping-method-form .buttons-set .button:hover {
	background: #4e4949;
	cursor: pointer
}

.button:active::after, .cart-table .product-cart-actions .button:active::after,
	#co-shipping-method-form .buttons-set .button:active::after {
	background: #e02d36
}

.button:focus, .cart-table .product-cart-actions .button:focus,
	#co-shipping-method-form .buttons-set .button:focus {
	color: #fff;
	background: #222
}

.button.button-secondary {
	background: #eee;
	color: #333;
	text-shadow: none
}

.button.button-secondary:not(a)::after {
	background: #e1e1e1
}

.button.button-secondary:hover {
	background: #e1e1e1;
	cursor: pointer;
	color: #333
}

.button.button-secondary:active {
	color: #333
}

.button.button-secondary:active::after {
	background: #d4d4d4
}

.button.button-secondary:focus {
	background: #d4d4d4;
	color: #333;
	outline: none
}

.truncated a.details {
	border-bottom: solid 1px rgba(0, 0, 0, 0.28);
	border-right: solid 1px rgba(0, 0, 0, 0.2);
	border-top: solid 1px transparent;
	border-left: solid 1px transparent
}

.button:hover, .cart-table .product-cart-actions .button:hover,
	#co-shipping-method-form .buttons-set .button:hover, .truncated a.details:hover
	{
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: rgba(0, 0, 0, 0.28);
	border-left-color: rgba(0, 0, 0, 0.2)
}

.button:hover, .cart-table .product-cart-actions .button:hover,
	#co-shipping-method-form .buttons-set .button:hover {
	z-index: 999
}

.btn-remove:hover::after, .btn-previous:hover::after, .sorter>.sort-by .sort-by-switcher:hover,
	.sorter>.view-mode a.grid:hover, .sorter>.view-mode a.list:hover,
	.pages ol li a:hover {
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
	z-index: 9
}

.btn-remove:active::after, .btn-previous:active::after, .sorter>.sort-by .sort-by-switcher:active,
	.sorter>.view-mode a.grid:active, .sorter>.view-mode a.list:active,
	.pages ol li a:active {
	opacity: 0.8
}

.toolbar .dropdown {
	width: 100%;
	background-color: #f5f5f5;
	border: solid 1px #dfdfdf;
	border-radius: 0px
}

.toolbar .dropdown:hover {
	box-shadow: none;
	background: #EDEDED
}

.toolbar .dropdown .validation-advice {
	position: relative !important;
	height: auto;
	opacity: 1;
	padding: 0 0 10px !important;
	background: #fff;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	top: -1px;
	left: -1px;
	margin-right: -2px
}

.toolbar .dropdown div {
	background-color: #f5f5f5;
	border: solid 1px #dfdfdf
}

.toolbar .dropdown div ul {
	z-index: 12
}

.toolbar .dropdown div ul li {
	margin: 0
}

.toolbar .dropdown div ul li.focus {
	background: #EDEDED;
	color: #333
}

.toolbar .dropdown div ul li.active {
	font-weight: normal;
	background: #EDEDED
}

.toolbar .dropdown li, .toolbar .dropdown .selected {
	font-size: 14px;
	color: #888;
	padding: 13px 20px
}

.toolbar .dropdown .selected {
	color: #333
}

.toolbar .dropdown .selected::after {
	box-shadow: none
}

.toolbar .dropdown .carat {
	border-width: 6px;
	border-color: #777 transparent transparent;
	right: 20px
}

.toolbar .dropdown.open {
	z-index: 15
}

.toolbar .dropdown.open .carat {
	border-bottom: 6px solid #777;
	border-top: 6px solid transparent;
	margin-top: -10px
}

.toolbar .dropdown.open div {
	padding: 10px 0;
	height: auto !important
}

.toolbar .dropdown.open div ul {
	position: relative;
	z-index: 12
}

.theme-border, .table-bordered {
	border-top: solid 2px #F05059
}

.theme-color {
	color: #F05059
}

.title-border {
	border-bottom: solid 2px #dfdfdf;
	padding-bottom: 30px !important;
	margin-bottom: 40px !important
}

@media only screen and (max-width: 767px) {
	.title-border {
		margin-bottom: 15px !important;
		padding-bottom: 10px !important
	}
}

.theme-block {
	border: solid 1px #dfdfdf;
	border-top: solid 2px #F05059;
	padding: 30px 29px;
	margin-bottom: 60px
}

.no-theme-block {
	border: none;
	padding: 0;
	margin-bottom: 0
}

label {
	text-transform: capitalize;
	color: #333;
	font-weight: normal
}

.table-bordered thead>tr>th, .table-bordered thead>tr>td {
	font-size: 16px;
	line-height: 1.667em;
	color: #333;
	text-transform: capitalize;
	font-weight: 500
}

@media only screen and (max-width: 991px) {
	.theme-block {
		padding: 15px;
		margin-bottom: 30px
	}
	label {
		font-size: 12px
	}
}

.table-bordered thead>tr>th, .table-bordered thead>tr>td {
	border-bottom-width: 1px
}

.table-bordered th, .table-bordered td {
	border: solid 1px #dfdfdf
}

.ink {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	z-index: 9999
}

.animate {
	-webkit-animation: ripple 0.65s linear;
	-webkit-animation: ripple 0.65s linear;
	-moz-animation: ripple 0.65s linear;
	-ms-animation: ripple 0.65s linear;
	-o-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear
}

@
-webkit-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
-moz-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
-o-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
.icon-sprite, .icon-sprite-for-modules, .ratings .rating-box, .ratings .rating-box .rating
	{
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	text-indent: -9999px
}

.icon-sprite-for-modules {
	background-image: url(../images/icon_sprite.png)
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min--moz-device-pixel-ratio : 2)
		, ( -o-min-device-pixel-ratio : 4 / 2) , ( min-device-pixel-ratio : 2)
		, ( min-resolution : 192dpi) , ( min-resolution : 2dppx) {
	.icon-sprite, .icon-sprite-for-modules, .ratings .rating-box, .ratings .rating-box .rating
		{
		background-image: url(../images/icon_sprite@2x.png);
		background-size: 100px 1000px
	}
}

@
keyframes zoomIn { 0%{
	opacity: 0;
	transform: scale(0.3)
}

50%{
opacity
:
1
}
}
@
-webkit-keyframes zoomIn { 0%{
	opacity: 0;
	-webkit-transform: scale(0.3)
}

50%{
opacity
:
1
}
} /*! normalize.css v2.0.1 | MIT License | git.io/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, nav,
	section, summary {
	display: block
}

audio, canvas, video {
	display: inline-block
}

audio:not ([controls] ){
	display: none;
	height: 0
}

[hidden] {
	display: none
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	margin: 0
}

a:focus {
	outline: thin dotted
}

a:active, a:hover {
	outline: 0
}

h1 {
	font-size: 2em
}

abbr[title] {
	border-bottom: 1px dotted
}

b, strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

mark {
	background: #ff0;
	color: #000
}

code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019"
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	border: 0
}

svg:not (:root ){
	overflow: hidden
}

figure {
	margin: 0
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0
}

button, input {
	line-height: normal
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
	{
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled], input[disabled] {
	cursor: default
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
	{
	-webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto;
	vertical-align: top
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

html {
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%
}

body {
	background: #FFFFFF;
	color: #000000;
	line-height: 1
}

html, body, img, fieldset, abbr, acronym {
	border: 0
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal
}

th, code, cite, caption {
	font-weight: normal;
	font-style: normal;
	text-align: left
}

address {
	font-style: normal
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0
}

img {
	display: block
}

ol, ul {
	list-style: none
}

q:before, q:after {
	content: ''
}

input:focus, input[type="search"]:focus {
	outline-offset: -2px
}

input[type="search"] {
	-webkit-appearance: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

@
-ms-viewport {
	width: device-width
}

@
-o-viewport {
	width: device-width
}

@
viewport {
	width: device-width
}

.header-row, .page-header {
	font-family: "Ubuntu", sans-serif;
	border: none;
	margin: 0 auto !important
}

a, button {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	outline: none !important
}

body, button, input, select, table, textarea {
	font-family: "Ubuntu", sans-serif;
	color: #888;
	font-size: 13px;
	line-height: 1.5
}

a {
	color: #333;
	text-decoration: none
}

a:hover {
	color: #F05059;
	text-decoration: none
}

a:focus {
	outline: 0;
	outline-color: none;
	text-decoration: none;
	color: inherit;
	color: #F05059
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0
}

h1, .h1 {
	margin: 0;
	margin-bottom: 0.7em;
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 28px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2;
	text-rendering: optimizeLegibility;
	text-transform: capitalize
}

h2, .h2 {
	margin: 0;
	margin-bottom: 1.5em;
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 24px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.2;
	text-rendering: optimizeLegibility;
	text-transform: capitalize
}

h3, .h3 {
	margin: 0;
	margin-bottom: 10px;
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.4;
	text-rendering: optimizeSpeed;
	text-transform: capitalize
}

h4, .h4 {
	margin: 0;
	margin-bottom: 10px;
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.4;
	text-rendering: optimizeSpeed;
	text-transform: capitalize
}

h5, .h5 {
	margin: 0;
	margin-bottom: 10px;
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.4;
	text-rendering: optimizeSpeed;
	text-transform: capitalize
}

h6, .h6 {
	margin: 0;
	margin-bottom: 5px;
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.4;
	text-rendering: optimizeSpeed;
	text-transform: capitalize
}

.address-list address {
	margin-bottom: 1em
}

.availability {
	margin-bottom: 0
}

.availability.in-stock {
	color: #54b70b;
	font-weight: 500
}

.availability.available-soon, .availability.out-of-stock {
	color: #ee372a
}

.availability-only {
	color: #333;
	margin-bottom: 0
}

.label {
	display: inline;
	font-size: 1em;
	font-weight: normal;
	text-transform: none;
	padding: 0;
	text-align: left;
	border-radius: 0;
	line-height: inherit;
	white-space: normal;
	color: #888
}

.clear {
	clear: both
}

.page-title, .widget-title {
	text-align: center
}

.page-title h1, .page-title h2, .widget-title h1, .widget-title h2 {
	font-size: 26px;
	font-weight: 300;
	color: #333;
	padding-bottom: 0;
	margin-bottom: 30px;
	text-transform: capitalize
}

@media only screen and (max-width: 767px) {
	.page-title h1, .page-title h2, .widget-title h1, .widget-title h2 {
		font-size: 20px
	}
}

.sidebar .actions button.button {
	white-space: normal
}

a.button {
	text-decoration: none
}

a.button::after {
	display: none
}

a.button:hover {
	color: #FFFFFF
}

.button.disabled, .button:disabled {
	opacity: 0.6;
	cursor: not-allowed
}

.button+.button {
	margin-left: 5px
}

.button2 {
	border: 0;
	padding: 0 5px;
	margin: 0;
	font-size: 16px;
	color: #F05059;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	vertical-align: middle
}

.button2:hover {
	color: #888
}

.button2:focus {
	outline: none
}

.button2 span, .button2 span span {
	line-height: 30px;
	height: 30px;
	text-transform: capitalize;
	display: inline-block
}

@media only screen and (max-width: 767px) {
	.col2-set .buttons-set .button, .col2-set .buttons-set .button2 {
		float: none;
		width: 100%;
		margin-left: 0;
		margin-right: 0
	}
	.col2-set .buttons-set .back-link {
		display: none
	}
	.col2-set .buttons-set .required {
		display: none
	}
}

@media only screen and (max-width: 479px) {
	.buttons-set .button {
		float: none;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 7px
	}
	.buttons-set .back-link {
		display: none
	}
	.buttons-set .required {
		display: none
	}
}

.paypal-logo.paypal-after {
	float: left
}

.paypal-after .paypal-or {
	float: left
}

.paypal-or {
	line-height: 34px;
	margin: 0px 10px 5px
}

.paypal-after .paypal-button {
	float: left
}

.paypal-button {
	line-height: 0px
}

.paypal-button img {
	display: inline
}

@media only screen and (max-width: 740px) {
	.paypal-or {
		line-height: 20px
	}
	.paypal-logo, .paypal-or, .paypal-button {
		text-align: center;
		display: inline-block;
		margin: 15px 0 0;
		float: none
	}
}

.buttons-set {
	clear: both;
	margin: 10px 0;
	padding-top: 10px;
	border-top: 1px solid #dfdfdf;
	text-align: right
}

.buttons-set p.required {
	margin: 0;
	margin-left: 10px;
	line-height: 33px;
	float: right
}

.buttons-set .back-link {
	float: left;
	margin: 0;
	line-height: 33px
}

.buttons-set .back-link small {
	display: none
}

.buttons-set .back-link::before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	font-size: 23px;
	line-height: 16px;
	display: inline-block;
	vertical-align: middle;
	color: #333
}

.buttons-set a:not (.button ){
	line-height: 20px;
	display: inline-block;
	padding: 5px
}

.buttons-set button.button {
	float: right;
	margin-left: 5px;
	margin-bottom: 5px
}

.buttons-set:after {
	content: '';
	display: table;
	clear: both
}

.icon-sprite, .icon-sprite-for-modules, .ratings .rating-box, .ratings .rating-box .rating
	{
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	text-indent: -9999px
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min--moz-device-pixel-ratio : 2)
		, ( -o-min-device-pixel-ratio : 4 / 2) , ( min-device-pixel-ratio : 2)
		, ( min-resolution : 192dpi) , ( min-resolution : 2dppx) {
	.icon-sprite, .icon-sprite-for-modules, .ratings .rating-box, .ratings .rating-box .rating
		{
		background-image: url(../images/icon_sprite@2x.png);
		background-size: 100px 1000px
	}
}

.breadcrumbs {
	overflow: hidden;
	margin: 0 auto 27px;
	background-color: #fff;
	padding: 8px 19px;
	max-width: 1170px
}

.breadcrumbs li {
	float: left;
	font-size: 15px;
	font-family: "Ubuntu", sans-serif;
	text-transform: none
}

.breadcrumbs li a {
	display: inline-block;
	color: #888
}

.breadcrumbs li a:hover {
	color: #333
}

.breadcrumbs li.home a {
	font-size: 0;
	line-height: 0;
	color: #F05059
}

.breadcrumbs li.home a::before {
	font-size: 18px;
	line-height: 20px;
	display: inline-block;
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: ""
}

.breadcrumbs li.home a:hover::before {
	color: #e02d36
}

.breadcrumbs strong {
	color: #888;
	font-weight: normal
}

.breadcrumbs span {
	padding: 0 10px;
	line-height: 14px;
	color: #c7c7c7
}

@media only screen and (max-width: 767px) {
	.breadcrumbs {
		display: none
	}
}

.main-container, .footer-container {
	position: relative;
	margin: 0 auto;
	padding: 15px 0;
	z-index: 1
}

.main-container:after, .footer-container:after {
	content: '';
	display: table;
	clear: both
}

.main-container {
	border: 10px solid #fff;
	border-bottom-width: 0
}

@media only screen and (max-width: 1230px) and (min-width: 1200px) {
	.main-container {
		border-left-width: 0;
		border-right-width: 0
	}
}

.cms-index-index .main-container {
	border-top-color: #fff
}

.btn-remove, .btn-previous {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	position: relative
}

.btn-remove:after {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	color: #F05059;
	line-height: 20px;
	width: 100%;
	font-size: 18px
}

.btn-remove2 {
	border: none;
	width: auto;
	height: auto
}

.btn-remove2:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	font-size: 22px;
	color: #F05059
}

.btn-remove2:after {
	display: none
}

.btn-remove2:hover {
	background-color: transparent;
	opacity: 0.6;
	filter: alpha(opacity = 60)
}

.btn-previous:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 4px solid #333;
	border-left: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -2px;
	margin-top: -4px
}

.btn-previous:hover:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 4px solid #fff;
	border-left: none
}

.block-layered-nav .currently .btn-remove, .block-layered-nav .currently .btn-previous,
	.mini-products-list .btn-remove, .mini-products-list .btn-previous,
	#compare-items .btn-remove, #compare-items .btn-previous {
	float: right;
	margin-left: 6px
}

.checkout-agreements li {
	margin-bottom: 20px
}

.checkout-agreements .agreement-content {
	overflow-y: auto;
	max-width: 670px;
	max-height: 125px;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	background: #f5f5f5
}

.cvv-what-is-this {
	margin: 7px 0 0;
	font-size: 14px;
	color: #ee372a;
	line-height: 24px;
	display: inline-block
}

.main-container, .footer-container {
	position: relative;
	margin: 0 auto;
	padding: 15px 0
}

.main-container:after, .footer-container:after {
	content: '';
	display: table;
	clear: both
}

@media only screen and (min-width: 480px) {
	.main-container, .footer-container {
		padding: 30px 0
	}
}

.footer-container {
	padding-top: 0px
}

.col-left {
	float: left
}

.col3-layout .col-main, .col2-left-layout .col-main {
	float: right
}

.top-container {
	border: 10px solid #fff;
	border-bottom-width: 0
}

.global-site-notice {
	background: #333;
	color: #E6E6E6;
	font-size: 11px
}

.global-site-notice .notice-inner {
	padding-left: 120px;
	width: 100%;
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	line-height: 11px;
	min-height: 40px;
	padding-top: 14.5px;
	padding-bottom: 14.5px;
	background-image: url("../images/demo-logo.png");
	background-position: left;
	background-repeat: no-repeat
}

.global-site-notice p {
	margin-bottom: 0
}

.promo-msg {
	color: #333;
	text-align: center;
	margin: 10px;
	text-transform: capitalize;
	font-family: "Ubuntu", sans-serif
}

.grid:after {
	content: '';
	display: table;
	clear: both
}

.success {
	color: #54b70b
}

.error {
	color: #ee372a;
	font-weight: bold
}

.notice {
	color: #E26703;
	font-weight: bold
}

.messages {
	margin-bottom: 25px
}

.messages li li {
	position: relative;
	margin-bottom: 5px;
	padding: 7px 10px 7px 20px;
	background: #f5f5f5;
	font-size: 15px
}

.messages li li:before {
	top: 50%;
	left: 0;
	margin-top: -6px
}

.messages .error-msg li {
	color: #000;
	border-left: 5px solid #ee372a;
	background-color: #FAEBE7
}

.messages .error-msg li:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #ee372a;
	border-right: none
}

.messages .notice-msg li {
	color: #000;
	border-left: 5px solid #E26703;
	background-color: #F9EBE6
}

.messages .notice-msg li:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #E26703;
	border-right: none
}

.messages .success-msg li {
	color: #000;
	border-left: 5px solid #54b70b;
	background-color: #EFF5EA
}

.messages .success-msg li:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #54b70b;
	border-right: none
}

@media only screen and (min-width: 915px) {
	.order-list-grid .col-1 {
		width: 30%
	}
	.order-list-grid .col-2 {
		width: 50%;
		padding-right: 20px
	}
	.order-list-grid .col-3 {
		clear: none;
		width: 20%;
		padding-top: 0
	}
}

.page-popup {
	padding: 20px;
	background: #FFFFFF;
	height: auto
}

.page-popup h1 {
	margin: 0 0 0.5em;
	font-size: 36px
}

.payment-methods {
	margin-bottom: 20px
}

.payment-methods dt {
	padding: 5px 0
}

.payment-methods dd {
	padding-top: 10px
}

.payment-methods .form-list {
	position: relative;
	display: inline-block;
	max-width: 100%;
	margin: 5px 15px 15px;
	padding: 15px;
	border: 1px solid #ccc;
	background: #f5f5f5
}

.payment-methods .form-list:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-right: 10px solid transparent;
	border-left: none;
	border-bottom: 10px solid #ccc;
	border-top: none;
	top: -11px;
	left: 30px
}

.payment-methods .form-list:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-right: 10px solid transparent;
	border-left: none;
	border-bottom: 10px solid #f5f5f5;
	border-top: none;
	top: -10px;
	left: 30px
}

.payment-methods .form-list li:last-child {
	margin-bottom: 0
}

.please-wait {
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
	line-height: 24px;
	height: 24px;
	white-space: nowrap
}

.please-wait img {
	float: left;
	margin-right: 5px;
	width: 24px
}

.price-box {
	margin: 7px 0
}

.price-box p {
	margin-bottom: 0
}

.price-notice {
	color: #909090
}

.price-box .price {
	color: #F05059;
	font-size: 20px;
	font-weight: 300
}

.price-box .price-label {
	color: #909090;
	white-space: nowrap
}

.price-box .minimal-price-link {
	padding-left: 1em;
	color: #333;
	display: block
}

.price-box .minimal-price-link .label {
	color: #909090
}

.price-box .old-price, .price-box .special-price {
	display: block
}

.price-box .old-price .price-label, .price-box .special-price .price-label
	{
	display: none
}

.price-box .old-price .price, .price-box .special-price .price {
	display: inline-block
}

.price-box .old-price .price {
	color: #888;
	text-decoration: line-through;
	font-size: 15px
}

.price-box .special-price .price {
	color: #fd6b6b
}

.price-box .special-price .price-label {
	color: #D84D3C
}

.price-box .price-excluding-tax, .price-box .price-including-tax {
	display: block
}

span.weee {
	display: block
}

.product-pricing, .tier-prices, .tier-prices-grouped {
	display: inline-block;
	padding: 4px 8px;
	background: #FBF4DE;
	border: 1px solid #E2D4C7;
	margin-top: 7px
}

.product-pricing li, .tier-prices li, .tier-prices-grouped li {
	font-size: 12px
}

.product-pricing .benefit, .tier-prices .benefit, .tier-prices-grouped .benefit
	{
	font-style: italic
}

.product-pricing .price, .tier-prices .price, .tier-prices-grouped .price
	{
	font-weight: bold
}

.item-options {
	font-size: 12px;
	font-family: "Ubuntu", sans-serif;
	color: #888;
	font-weight: 400;
	/* text-transform: capitalize */
}

.item-options:after {
	content: '';
	display: table;
	clear: both
}

.item-options dt {
	float: left;
	clear: left;
	padding-right: 0px;
	color: #333;
	font-weight: 400
}

.item-options dt:after {
	content: ': '
}

.item-options dd {
	float: left;
	padding-left: 10px;
	margin: 0 0 6px
}

.truncated, .truncated a.dots {
	cursor: help
}

.truncated a.details {
	cursor: help;
	background-color: #eee;
	color: #333;
	font-weight: 500;
	display: inline-block;
	padding: 6px 14px
}

.truncated a.details:hover {
	text-decoration: none
}

.truncated .truncated_full_value {
	position: relative;
	z-index: 300
}

.truncated .truncated_full_value .item-options {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: 300;
	width: 200px;
	padding: 18px;
	border: 1px solid #dfdfdf;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	background-color: #F6F6F6;
	top: 31px;
	left: 0px
}

.truncated .truncated_full_value .item-options::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-right: 14px solid transparent;
	border-left: none;
	border-bottom: 14px solid #dfdfdf;
	border-top: none;
	top: -14px;
	left: 50px
}

.truncated .truncated_full_value .item-options::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-right: 14px solid transparent;
	border-left: none;
	border-bottom: 14px solid #f5f5f5;
	border-top: none;
	top: -12px;
	left: 51px
}

.truncated .truncated_full_value .item-options>p {
	font-weight: 500;
	color: #333;
	text-transform: capitalize;
	margin-bottom: 8px
}

.truncated .show .item-options {
	visibility: visible;
	opacity: 1
}

@media only screen and (max-width: 479px) {
	.truncated {
		cursor: inherit
	}
	.truncated a.details {
		display: none
	}
	.truncated .truncated_full_value .item-options {
		display: block;
		visibility: visible;
		opacity: 1;
		position: static;
		padding: 10px 0;
		z-index: 1;
		width: 100%;
		border: none;
		background-color: transparent;
		box-shadow: none
	}
	.truncated .truncated_full_value .item-options p {
		float: none
	}
	.truncated .truncated_full_value .item-options dl {
		overflow: hidden;
		margin-bottom: 0
	}
	.truncated .truncated_full_value .item-options:after, .truncated .truncated_full_value .item-options:before
		{
		display: none !important
	}
}

.page-print {
	width: 6.5in;
	margin: 20px;
	background: #FFFFFF
}

.page-print .print-content {
	border: 1px solid #ccc;
	border-top-width: 3px;
	border-top-color: #F05059;
	padding: 20px;
	margin-top: 10px
}

.sales-order-print .col-1, .sales-order-print .col-2 {
	float: left;
	width: 45%;
	margin-right: 2%;
	margin-bottom: 30px
}

.sales-order-print .col-1 h2, .sales-order-print .col-2 h2 {
	margin-bottom: 10px
}

.sales-order-print .product-name {
	font-size: 16px;
	text-transform: none
}

.add-to-links {
	margin: 7px 0;
	font-size: 14px
}

.add-to-links a {
	display: inline-block;
	padding: 0px 3px 3px;
	font-weight: 500
}

.link-compare, .link-wishlist {
	font-weight: 500
}

.link-compare::before, .link-wishlist::before {
	font-size: 18px;
	padding-right: 5px
}

.link-compare::before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: ""
}

.link-wishlist::before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: ""
}

.add-to-links .separator {
	display: none
}

.product-image, .no-touch .product-img-box .product-image:not (.zoom-available
	):hover {
	position: relative;
	display: block;
	border: none;
	text-align: center
}

.product-image img, .no-touch .product-img-box .product-image:not (.zoom-available
	):hover img {
	margin: 0 auto;
	max-width: 100%
}

@media only screen and (max-width: 767px) {
	body .product-img-box .product-image:hover {
		border-color: #dfdfdf
	}
}

.ratings {
	margin: 7px 0
}

.ratings .rating-box, .ratings .rating-links {
	margin: 5px 0;
	font-size: 12px;
	line-height: 26px
}

.ratings .rating-box {
	width: 65px;
	height: 13px;
	background-repeat: repeat-x;
	background-position: 0 -615px;
	overflow: hidden
}

.ratings .rating-box .rating {
	float: left;
	height: 13px;
	background-repeat: repeat-x;
	background-position: 0 -600px
}

.ratings .amount {
	display: block;
	margin: 5px auto
}

.ratings .rating-links a {
	vertical-align: middle
}

.ratings .separator {
	margin: 0 10px;
	overflow: hidden;
	text-indent: -999em;
	position: relative;
	line-height: 26px;
	display: inline-block;
	width: 2px;
	vertical-align: middle
}

.ratings .separator.temp {
	float: left
}

.ratings .separator::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 1px;
	height: 100%;
	background-color: #dfdfdf
}

.std p {
	margin: 0 0 1.5em
}

.std ol {
	list-style: decimal outside;
	margin-bottom: 1.5em
}

.std ol li {
	margin-left: 2em
}

.std ul {
	list-style: disc outside;
	margin-bottom: 1.5em
}

.std ul li {
	margin-left: 2em
}

.std .note {
	color: #909090;
	font-size: 13px
}

.tabs {
	margin-bottom: 10px;
	background: #FFFFFF
}

.toolbar {
	margin-bottom: 35px;
	background-color: #f5f5f5;
	padding: 0;
	clear: both
}

.toolbar:after {
	content: '';
	display: table;
	clear: both
}

.toolbar select {
	width: auto;
	display: inline-block;
	float: left;
	vertical-align: middle;
	margin: 7px
}

.toolbar .dropdown {
	border-top: none;
	border-left: none;
	border-bottom: none;
	float: left;
	width: 270px
}

.toolbar .dropdown li, .toolbar .dropdown .selected {
	padding: 18px 20px 17px
}

.toolbar .dropdown .carat {
	margin: 0
}

@media only screen and (max-width: 1199px) {
	.toolbar .dropdown {
		width: 130px
	}
}

.pager-no-toolbar {
	margin-bottom: 10px
}

.pager-no-toolbar ~ .pager-no-toolbar {
	margin-top: 10px
}

.toolbar, .pager {
	font-family: "Ubuntu", sans-serif;
	color: #888;
	line-height: 30px;
	font-size: 12px
}

.toolbar li, .pager li {
	border: none;
	margin-right: 2px
}

.toolbar li>a, .toolbar li>span, .pager li>a, .pager li>span {
	display: inline-block;
	padding: 0;
	background-color: transparent;
	border: 1px solid #ddd;
	border-radius: 0;
	vertical-align: top
}

.toolbar label, .pager-no-toolbar label {
	float: left;
	font-weight: normal;
	text-transform: none;
	font-size: 14px;
	color: #333
}

.sorter {
	float: left
}

.sorter label {
	float: left;
	margin-right: 5px;
	display: none
}

.sorter label:after {
	content: ':'
}

.sorter>.sort-by {
	float: left;
	margin-left: 0px
}

.sorter>.sort-by .selectboxit-container .selectboxit-list {
	margin-left: -1px
}

.sorter>.sort-by .sort-by-switcher {
	float: left;
	position: relative;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	padding-top: 2px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #F05059;
	border-right: solid 1px #dfdfdf;
	background-color: #f5f5f5
}

.sorter>.sort-by .sort-by-switcher::before {
	font-size: 24px;
	line-height: 46px;
	-webkit-transition: all, 0.3s, ease-in-out;
	-o-transition: all, 0.3s, ease-in-out;
	transition: all, 0.3s, ease-in-out;
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: ""
}

.sorter>.sort-by .sort-by-switcher:hover::before {
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}

.sorter>.sort-by .sort-by-switcher--desc:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg)
}

.sorter>.sort-by .sort-by-switcher--desc:hover::before {
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}

.sorter>.view-mode {
	float: left;
	margin-bottom: 0
}

.sorter>.view-mode .grid, .sorter>.view-mode .list {
	float: left;
	font-size: 0;
	position: relative;
	border-right: solid 1px #dfdfdf;
	background-color: #f5f5f5;
	line-height: 0;
	padding: 10px 13px 10px 13px;
	-webkit-transition: all, 0.1s, ease-in-out;
	-o-transition: all, 0.1s, ease-in-out;
	transition: all, 0.1s, ease-in-out;
	color: #909090;
	height: 50px;
	overflow: hidden
}

.sorter>.view-mode .grid:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	font-size: 24px;
	line-height: 28px;
	font-weight: 100
}

.sorter>.view-mode strong.grid {
	color: #F05059
}

.sorter>.view-mode .list:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	font-size: 24px;
	line-height: 28px;
	font-weight: 100
}

.sorter>.view-mode strong.list {
	color: #F05059
}

.pager {
	float: right;
	margin: 0
}

.pager .selectboxit-container .selectboxit-btn {
	width: 120px !important;
	border-right: none;
	border-left: solid 1px #dfdfdf
}

.pager .selectboxit-container .selectboxit-list {
	width: 120px
}

.pager .selectboxit-container .selectboxit-list li {
	margin: 0
}

.pager>.count-container {
	float: left
}

.pager .amount {
	float: left;
	white-space: nowrap;
	margin: 10px 20px 0 0;
	color: #F05059;
	font-size: 14px
}

.pager .amount strong {
	font-weight: normal
}

.pager .limiter {
	float: left;
	height: 50px;
	line-height: 50px
}

.pager .limiter>label {
	padding-right: 20px
}

.pager .limiter>label:after {
	content: ':'
}

.pager .dropdown {
	text-align: left;
	border: none;
	border-left: solid 1px #dfdfdf;
	width: 120px
}

.pager .dropdown li, .pager .dropdown .selected {
	padding: 18px 20px 17px
}

.category-products .pages {
	display: none
}

.pages {
	float: left;
	margin: 0
}

.pages strong {
	display: none
}

.pages li {
	display: inline-block;
	margin: 0;
	float: left;
	position: relative
}

.pages ol li a, .pages ol li.current {
	display: inline-block;
	border: 0;
	font-size: 14px;
	text-align: center;
	position: relative;
	line-height: 50px;
	width: 50px;
	height: 50px;
	padding: 0;
	overflow: hidden;
	border-right: 1px solid #dfdfdf;
	-webkit-transition: all, 0.3s, ease-in-out;
	-o-transition: all, 0.3s, ease-in-out;
	transition: all, 0.3s, ease-in-out
}

.pages ol li a.next, .pages ol li.current.next {
	border-right: none
}

.pages ol li a {
	color: #888;
	background-color: #f5f5f5
}

.pages ol li a:hover {
	color: #333;
	background-color: #EDEDED
}

.pages ol li.current, .pages ol li.current a {
	color: #333;
	background-color: #EDEDED
}

.pages .next, .pages .previous {
	font: 0/0 a;
	text-shadow: none;
	position: relative
}

.pages .next:before, .pages .previous:before {
	color: #F05059;
	font-size: 18px;
	line-height: 50px
}

.pages .next:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: ""
}

.pages .previous:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: ""
}

.toolbar-bottom .toolbar {
	background: #fff
}

.toolbar-bottom .toolbar .pager {
	float: left
}

.toolbar-bottom .toolbar .sorter, .toolbar-bottom .toolbar .count-container
	{
	display: none
}

.category-products .toolbar-bottom .toolbar .pages {
	display: block
}

@media only screen and (max-width: 479px) {
	.pager .amount--has-pages {
		display: none
	}
	.pages {
		float: left
	}
	.pages ol li a, .pages ol li.current {
		width: 30px;
		height: 30px;
		line-height: 30px
	}
	.pages .next:before, .pages .previous:before {
		line-height: 30px
	}
	.limiter label {
		display: none
	}
}

@media only screen and (max-width: 767px) {
	.col1-layout .sorter, .col1-layout .pager {
		width: 100%
	}
	.col1-layout .pager {
		float: left;
		clear: both
	}
	.col1-layout .pager .pages {
		float: left;
		margin-left: 0
	}
	.col1-layout .pager .count-container {
		float: right
	}
}

@media only screen and (max-width: 991px) {
	.sorter {
		border-bottom: solid 1px #dfdfdf
	}
	.sorter>.sort-by {
		float: right
	}
	.col2-left-layout .sorter, .col2-left-layout .pager, .col2-right-layout .sorter,
		.col2-right-layout .pager, .col3-layout .sorter, .col3-layout .pager {
		width: 100%
	}
	.col2-left-layout .pager, .col2-right-layout .pager, .col3-layout .pager
		{
		float: left;
		clear: both
	}
	.col2-left-layout .pager .pages, .col2-right-layout .pager .pages,
		.col3-layout .pager .pages {
		float: left;
		margin-left: 0
	}
	.col2-left-layout .pager .count-container, .col2-right-layout .pager .count-container,
		.col3-layout .pager .count-container {
		float: right
	}
}

@media only screen and (max-width: 1279px) {
	.toolbar .view-mode>label {
		display: none
	}
}

#checkout-review-table .summary-collapse, #shopping-cart-totals-table .summary-collapse,
	body.customer-account .data-table .summary-collapse {
	position: relative;
	cursor: pointer
}

#checkout-review-table .summary-collapse:before,
	#shopping-cart-totals-table .summary-collapse:before, body.customer-account .data-table .summary-collapse:before
	{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-top: 7px solid #39c;
	border-bottom: none;
	position: static;
	display: inline-block;
	margin-right: 5px
}

#checkout-review-table .summary-collapse:hover:before,
	#shopping-cart-totals-table .summary-collapse:hover:before, body.customer-account .data-table .summary-collapse:hover:before
	{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-top: 7px solid #0d0d0d;
	border-bottom: none;
	position: static;
	display: inline-block;
	margin-right: 5px
}

#checkout-review-table .show-details .summary-collapse:before,
	#shopping-cart-totals-table .show-details .summary-collapse:before,
	body.customer-account .data-table .show-details .summary-collapse:before
	{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-right: 7px solid transparent;
	border-left: none;
	border-bottom: 7px solid #39c;
	border-top: none;
	position: static;
	display: inline-block;
	margin-right: 5px
}

#checkout-review-table .show-details .summary-collapse:hover:before,
	#shopping-cart-totals-table .show-details .summary-collapse:hover:before,
	body.customer-account .data-table .show-details .summary-collapse:hover:before
	{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	border-right: 7px solid transparent;
	border-left: none;
	border-bottom: 7px solid #0d0d0d;
	border-top: none;
	position: static;
	display: inline-block;
	margin-right: 5px
}

#shopping-cart-totals-table tfoot td .summary-collapse:before,
	#shopping-cart-totals-table tfoot td .summary-collapse:hover:before {
	margin-bottom: 5px
}

.a-center {
	text-align: center
}

.a-right, .align-right {
	text-align: right
}

.f-right {
	float: right
}

.f-left {
	float: left
}

.no-display {
	display: none !important
}

.nobr, .nowrap {
	white-space: nowrap
}

.width-full {
	width: 100%
}

.hidden {
	display: none
}

.page-print .print-head {
	margin: 0 0 30px
}

.page-print .print-head, .page-print .print-head .logo, .label .page-print .print-head .logo
	{
	float: none;
	max-height: 50px;
	width: auto
}

.owl-controls .owl-buttons div {
	background: none;
	opacity: 1
}

.owl-controls .owl-buttons div.owl-prev, .owl-controls .owl-buttons div.owl-next
	{
	position: absolute;
	top: 30%;
	left: -25px;
	right: auto;
	background: none;
	padding: 0;
	text-align: center;
	margin: 0;
	font-size: 0;
	opacity: 1
}

.owl-controls .owl-buttons div.owl-prev::before, .owl-controls .owl-buttons div.owl-next::before
	{
	display: inline-block;
	font-family: FontAwesome;
	font-size: inherit;
	line-height: normal;
	font-weight: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	font-size: 36px;
	color: #c9c9c9;
	background: none;
	margin: 0 auto;
	text-align: center;
	opacity: 1
}

.owl-controls .owl-buttons div.owl-prev:hover::before, .owl-controls .owl-buttons div.owl-next:hover::before
	{
	color: #333
}

.owl-controls .owl-buttons div.owl-next {
	right: -25px;
	left: auto
}

.owl-controls .owl-buttons div.owl-prev:before {
	content: ""
}

.owl-controls .owl-buttons div.owl-next:before {
	content: ""
}

@media only screen and (max-width: 991px) {
	.owl-controls .owl-buttons div.owl-prev {
		left: 7px
	}
	.owl-controls .owl-buttons div.owl-next {
		right: 7px
	}
}

.select-store-switcher {
	position: fixed;
	top: 95px;
	background: #fff;
	width: 150px;
	padding: 20px;
	z-index: 10;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.18);
	left: -150px;
	-webkit-transition: all, 0.3s, ease-in-out;
	-o-transition: all, 0.3s, ease-in-out;
	transition: all, 0.3s, ease-in-out
}

.select-store-switcher.id-active {
	left: 0
}

.select-store-switcher ul {
	display: none
}

.select-store-switcher li {
	padding-bottom: 10px
}

.select-store-switcher li:last-child {
	padding-bottom: 0
}

.select-store-switcher .selected a {
	color: #fd6b6b
}

.select-store-switcher .select-store-icon {
	position: absolute;
	right: -50px;
	width: 50px;
	height: 50px;
	top: 0;
	background: #fff;
	text-align: center;
	font-size: 30px;
	line-height: 50px;
	box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.18);
	cursor: pointer
}

.id-click {
	position: relative
}

.id-block {
	display: none
}

a, .button, a::after, a::before, .button::after, .button::before,
	.button span span::before, .btn-remove:after, .swatch-link,
	.swatch-link .swatch-label, .swatch-link .swatch-text, .swatch-link.has-image .swatch-label::before,
	.block .product-image, label:after, #header-cart, .skip-cart .count::before,
	.skip-cart .count, .custom-pag-list-2 h4 {
	-webkit-transition: all, 0.2s, ease-in-out;
	-o-transition: all, 0.2s, ease-in-out;
	transition: all, 0.2s, ease-in-out
}

img, .truncated .truncated_full_value .item-options {
	-webkit-transition: all, 0.8s, ease-in-out;
	-o-transition: all, 0.8s, ease-in-out;
	transition: all, 0.8s, ease-in-out
}

.fieldset p {
	margin-bottom: 7px
}

.fieldset p.required {
	margin-bottom: 5px;
	float: right;
	font-size: 14px;
	margin-top: 5px;
	margin-right: 5px
}

.fieldset+.fieldset {
	margin-top: 5px
}

form .legend {
	margin: 0;
	margin-bottom: 10px;
	color: #333;
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.4;
	text-rendering: optimizeSpeed;
	text-transform: capitalize;
	font-size: 18px;
	margin-bottom: 30px;
	font-weight: 500
}

.input-box {
	padding-top: 2px
}

.input-box:after {
	content: '';
	display: table;
	clear: both
}

li.centinel-logos div.input-box img {
	display: inline;
	vertical-align: middle
}

.input-box .v-fix {
	float: left;
	margin-right: 5px;
	max-width: 100%
}

label {
	margin: 0;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none
}

label.required:after, span.required:after {
	content: ' * ';
	color: #ee372a;
	font-weight: normal;
	font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
	font-size: 12px
}

label.required em, span.required em {
	display: none
}

.input-hint {
	color: #909090;
	font-size: 12px
}

select {
	font-size: 14px
}

select+select {
	margin-left: 5px
}

select[multiple] {
	width: 270px;
	border: 1px solid #e7e7e6;
	font-size: 15px;
	padding: 5px
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 450px;
	padding: 5px
}

.input-text, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #e7e7e6;
	background: #f5f5f5;
	font-size: 14px
}

.input-text:focus, textarea:focus {
	border: 1px solid #d6d6d4;
	outline: 0
}

.input-text.validation-failed {
	border-color: #ee372a
}

.input-text.validation-failed:focus {
	outline-color: #f69b94
}

input[type=email], input[type=search], input[type=number], input[type=password],
	input[type=tel], input[type=text] {
	height: 40px;
	padding: 0 8px;
	border: solid 1px #e7e7e6
}

input[type=email], input[type=search], input[type=number], input[type=password],
	input[type=tel], input[type=text] {
	width: 230px;
	max-width: 100%
}

select {
	max-width: 100%;
	width: 92%;
	height: 40px;
	background: #f5f5f5;
	border: solid 1px #e7e7e6;
	margin-top: 0
}

select option {
	padding: 5px 10px
}

@media only screen and (max-device-width: 568px) and
	(-webkit-min-device-pixel-ratio: 0) {
	input[type=email], input[type=search], input[type=number], input[type=password],
		input[type=tel], input[type=text], select {
		font-size: 16px
	}
}

.ie8 .input-text {
	max-width: none
}

input[type=number].qty, input[type=text].qty {
	width: 3em;
	text-align: center;
	vertical-align: middle
}

::-webkit-input-placeholder {
	color: #909090
}

input:-moz-placeholder {
	color: #909090
}

input::-webkit-input-placeholder {
	opacity: 0.7
}

input::-moz-placeholder {
	opacity: 0.7
}

input:-moz-placeholder {
	opacity: 0.7
}

input:-ms-input-placeholder {
	opacity: 0.7
}

input:focus::-webkit-input-placeholder {
	opacity: 0.3
}

input:focus::-moz-placeholder {
	opacity: 0.3
}

input:focus:-moz-placeholder {
	opacity: 0.3
}

input:focus:-ms-input-placeholder {
	opacity: 0.3
}

.checkbox, .radio {
	position: relative;
	top: -1px;
	display: inline-block
}

.checkbox+label, .radio+label {
	width: auto;
	max-width: 85%;
	padding: 0 0 0 8px;
	font-size: 14px;
	font-weight: normal;
	vertical-align: top
}

p.required, .validation-advice {
	margin: 5px 0 0;
	color: #ee372a;
	font-size: 14px
}

p.required {
	font-size: 14px
}

.form-list>li {
	margin-bottom: 10px
}

.form-list select {
	margin-top: 4px;
	width: 300px;
	max-width: 100%
}

.form-list .input-range .input-text {
	width: 74px
}

.form-list .field, .form-list .wide, .form-list .control {
	margin-bottom: 15px
}

.form-list .control div.input-box, .sp-methods dt div.input-box,
	.product-options ul.options-list div.input-box {
	display: inline;
	float: left
}

.form-list .control div.input-box:after, .sp-methods dt div.input-box:after,
	.product-options ul.options-list div.input-box:after {
	display: none
}

.form-list .control input.radio, .form-list .control input.checkbox,
	.sp-methods dt input.radio, .sp-methods dt input.checkbox,
	.product-options ul.options-list input.radio, .product-options ul.options-list input.checkbox
	{
	float: left;
	margin-right: -40px;
	margin-top: 10px;
	margin-left: 15px
}

.form-list .control label, .sp-methods dt label, .product-options ul.options-list label
	{
	color: #888;
	background-color: #f5f5f5;
	padding: 5px 10px;
	display: inline-block;
	width: auto;
	max-width: none;
	min-width: 250px;
	float: none;
	padding: 6px 10px 6px 40px
}

.form-list .control label:hover, .sp-methods dt label:hover,
	.product-options ul.options-list label:hover {
	background-color: #EDEDED
}

.form-list .control .no-display+label, .sp-methods dt .no-display+label,
	.product-options ul.options-list .no-display+label {
	padding-left: 10px;
	background-color: transparent
}

.form-list .control .no-display+label:hover, .sp-methods dt .no-display+label:hover,
	.product-options ul.options-list .no-display+label:hover {
	background-color: transparent
}

.product-options ul.options-list label, .col2-set .form-list .control label
	{
	min-width: inherit;
	width: 100%;
	max-width: 100%
}

.form-list .control.remember-me-box label {
	width: auto;
	max-width: none;
	min-width: inherit
}

.form-list .control {
	margin-top: 15px
}

.form-list .control label {
	float: none
}

.form-list .control .radio, .form-list .control .checkbox {
	margin-right: 6px
}

.form-list .control .input-box {
	clear: none;
	display: inline-block;
	width: auto;
	padding: 0
}

form .form-instructions {
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 13px;
	color: #909090
}

.hide-th {
	text-indent: -9999px
}

.data-table {
	width: 100%;
	margin-bottom: 30px
}

.data-table td, .data-table th {
	padding: 15px 20px;
	vertical-align: middle
}

.data-table th {
	background: #F4F4F4;
	text-transform: capitalize;
	font-family: "Ubuntu", sans-serif;
	line-height: 1.4;
	white-space: nowrap
}

.data-table thead th, .data-table tbody td {
	border-bottom: 1px solid #dfdfdf
}

.data-table tbody td, .data-table tfoot td {
	font-family: "Ubuntu", sans-serif
}

.data-table tfoot tr {
	background: #F4F4F4
}

.data-table tbody td .item-options {
	margin-top: 10px
}

.data-table tbody td .item-options dt:after {
	content: ':'
}

.info-box {
	border: 1px solid #dfdfdf;
	padding: 12px 15px;
	margin: 0 0 15px
}

.info-box h2 {
	font-weight: bold;
	font-size: 13px
}

.info-table th, .info-table td {
	vertical-align: top
}

.info-table th {
	font-weight: bold;
	padding: 4px 20px 4px 0
}

.info-table td {
	padding: 4px 0
}

.zebra-table tr:first-child, .zebra-table th:first-child {
	border-top: 1px solid #dfdfdf
}

.zebra-table td, .zebra-table th {
	border-bottom: 1px solid #dfdfdf;
	padding: 6px;
	background-color: transparent
}

.zebra-table tr {
	background-color: #EEEDED
}

.zebra-table tr:nth-child(odd) {
	background-color: #F8F7F5
}

@media only screen and (max-width: 479px) {
	.linearize-table tr, .linearize-table th, .linearize-table td {
		display: block
	}
	.linearize-table thead {
		display: none
	}
	.linearize-table thead th {
		border-right: 0;
		border-left: 0
	}
	.linearize-table thead th.lin-hide {
		display: none
	}
	.linearize-table thead th:nth-child(1n+2) {
		display: none
	}
	.linearize-table tbody tr {
		position: relative;
		border-bottom: 1px solid #ccc
	}
	.linearize-table tbody td {
		padding: 0 10px 4px;
		border-right: 0;
		border-bottom: 0
	}
	.linearize-table tbody td.lin-hide {
		display: none
	}
	.linearize-table tbody td:first-child {
		padding-top: 10px
	}
	.linearize-table tbody td:first-child, .linearize-table tbody td:first-child h3
		{
		font-weight: bold
	}
	.linearize-table tbody td[data-rwd-label] {
		text-align: left;
		padding-left: 30px
	}
	.linearize-table tbody td[data-rwd-label]:before {
		content: attr(data-rwd-label) ":";
		font-size: 12px;
		font-family: "Ubuntu", sans-serif;
		padding: 5px 5px 5px 0;
		text-transform: capitalize
	}
	.linearize-table tfoot tr {
		display: block;
		text-align: right
	}
	.linearize-table tfoot tr:after {
		content: '';
		display: table;
		clear: both
	}
	.linearize-table tfoot td {
		display: block;
		float: left
	}
	.linearize-table tfoot td.lin-hide {
		display: none
	}
	.linearize-table tfoot td:nth-child(odd) {
		clear: left;
		width: 60%
	}
	.linearize-table tfoot td:nth-child(even) {
		text-align: left;
		width: 40%
	}
	.linearize-table .linearize-hide {
		display: none
	}
	.linearize-table .linearize-unpad {
		padding: 0
	}
	.linearize-table .linearize-show {
		display: block
	}
}

@media only screen and (max-width: 599px) {
	.linearize-table-large tr, .linearize-table-large th,
		.linearize-table-large td {
		display: block
	}
	.linearize-table-large thead {
		display: none
	}
	.linearize-table-large thead th {
		border-right: 0;
		border-left: 0
	}
	.linearize-table-large thead th.lin-hide {
		display: none
	}
	.linearize-table-large thead th:nth-child(1n+2) {
		display: none
	}
	.linearize-table-large tbody tr {
		position: relative;
		border-bottom: 1px solid #ccc
	}
	.linearize-table-large tbody td {
		padding: 0 10px 4px;
		border-right: 0;
		border-bottom: 0
	}
	.linearize-table-large tbody td.lin-hide {
		display: none
	}
	.linearize-table-large tbody td:first-child {
		padding-top: 10px
	}
	.linearize-table-large tbody td:first-child, .linearize-table-large tbody td:first-child h3
		{
		font-weight: bold
	}
	.linearize-table-large tbody td[data-rwd-label] {
		text-align: left;
		padding-left: 30px
	}
	.linearize-table-large tbody td[data-rwd-label]:before {
		content: attr(data-rwd-label) ":";
		font-size: 12px;
		font-family: "Ubuntu", sans-serif;
		padding: 5px 5px 5px 0;
		text-transform: capitalize
	}
	.linearize-table-large tfoot tr {
		display: block;
		text-align: right
	}
	.linearize-table-large tfoot tr:after {
		content: '';
		display: table;
		clear: both
	}
	.linearize-table-large tfoot td {
		display: block;
		float: left
	}
	.linearize-table-large tfoot td.lin-hide {
		display: none
	}
	.linearize-table-large tfoot td:nth-child(odd) {
		clear: left;
		width: 60%
	}
	.linearize-table-large tfoot td:nth-child(even) {
		text-align: left;
		width: 40%
	}
	.linearize-table-large .linearize-hide {
		display: none
	}
	.linearize-table-large .linearize-unpad {
		padding: 0
	}
	.linearize-table-large .linearize-show {
		display: block
	}
}

@media only screen and (min-width: 600px) {
	.linearize-table .linearize-collapse {
		display: none
	}
}

div.calendar table {
	border-collapse: separate
}

div.calendar table td.button {
	display: table-cell;
	background: inherit;
	color: inherit;
	text-transform: none
}

/* Styles for engraver library */
#fabric-container canvas {
	width: 100% !important;
	height: auto !important;
}
.canvas-container {
    width: 100% !important;
}
.canvas-invisible {
	display: none;
}
.blockui {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,0.5);
    z-index: 2000;
    display: table;
    text-align: center;
}
.hidden-blockui {
    display: none;
}
.blockui-innerdiv {
    color: black;
    text-align: center;
    display: block;
    font-size: 30px;
    margin-top: 20px;
}
.blockui-innerimg {
    width: 100px;
    display: initial;
}
.blockui-inner-container {
    display: table-cell;
    vertical-align: middle;
}
.hidden-dl {
    display: none;
}

.canvas-controls {
	position: absolute;
	top: 100%;
	right: 0px;
	display: flex;
	flex-wrap: wrap;
	width: 100px;
	justify-content: flex-end;
	z-index: 100;
}

.canvas-instructions {
	text-align: center;
}

.canvas-instructions .label{
	font-size:0.8em;
}

.canvas-controls .btn {
	width: 50px;
	height: 50px;
	padding: 2px;
}