<?php
/**
 * Magento
 * productObject
 *
 **/
?>

<?php
ini_set('error_reporting', E_ALL);
ini_set('display_errors', 1);
ini_set('display_startup_errors', 1);
$theme = $this->helper('storesettings');
?>

<?php
$toplinks_dropdown = true;
$search_dropdown = true;
?>


<!-- Ajax Login -->
<div class="skip-links2">
	<span class="skip-link2 skip-account2"></span>
</div>
<div id="header-account2" class="skip-content2"></div>
<!-- End Ajax Login -->

<header id="header" class="page-header">

	<!--<div class="header-row-background">
      
 <a href="/coupon"  class="voucher_btn">Verify Your Voucher ></a> 
    </div> 
-->
	<div class="page-header-container">

		<!-- logo -->
        <?php if ($theme->getCfg('customlogo_set/logo_status')): ?>
            <?php if ($theme->getCfg('customlogo_set/logo_type') == 'logo_images'): ?>
                <?php if ($theme->getCfg('customlogo_set/logo')): ?>
                    <a class="logo"
			href="<?php echo $this->getUrl('') ?>"> <img
			src="<?php echo Mage::getBaseUrl('media').'images/'.$theme->getCfg('customlogo_set/logo') ?>"
			width="370px"
			alt="<?php echo $theme->getCfg('customlogo_set/logo_alt'); ?>" />
		</a>
                <?php endif ?>
            <?php elseif ($theme->getCfg('customlogo_set/logo_type') == 'logo_text'): ?>
                <h1 class="logo">
			<a class="logo-link" href="<?php echo $this->getUrl('') ?>">
                        <?php echo $theme->getCfg('customlogo_set/logo_desc'); ?>
                    </a>
		</h1>
            <?php endif ?>

        <?php else: ?>
            <a class="logo" href="<?php echo $this->getUrl('') ?>"> <img
			src="<?php echo $this->getLogoSrc() ?>"
			alt="<?php echo $this->getLogoAlt() ?>" />
		</a>
        <?php endif ?>
        <!-- end logo -->

		<div class="f-right">
			<div class="header-minicart desktop">
                <?php echo $this->getChildHtml('minicart_head'); ?>
            </div>

			<!-- Top Links -->
			<div class="top-links">
                <?php
                $toplinksClass = "top-links-inline";
                $toplinksID = "";
                if ($toplinks_dropdown) :
                    $toplinksClass = "skip-content";
                    $toplinksID = "header-account-dropdown";
                    ?>
                    <a
					href="<?php echo $this->helper('customer')->getAccountUrl(); ?>"
					data-target-element="#<?php echo $toplinksID; ?>"
					class="skip-link account-dropdown"> <span class="label"><?php echo $this->__('Account'); ?></span>
				</a>
                <?php endif ?>

                <div id="<?php echo $toplinksID; ?>"
					class="<?php echo $toplinksClass; ?>"> 

                    <?php echo $this->getChildHtml('topLinks') ?>

                </div>
			</div>
			<!-- end Top Links -->
			<!-- Search -->
			<div class="header-search"  >
				<div id="search-dropdown" >
                    <?php
                        $catalogSearchHelper = $this->helper('catalogsearch');
                        $TmSearchHelper = $this->helper('tm_livesearch');
                    ?>
					<form id="search_mini_form"
						action="<?php echo $catalogSearchHelper->getResultUrl() ?>"
						method="get">
						<div class="input-box">
							<label for="search">Search:</label> 
							<input id="search" type="search" autocomplete="off"
								class="input-text required-entry" 
								name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" 
								value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>"
								maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength(); ?>" 
								placeholder="<?php echo $this->__($TmSearchHelper->getCfg('livesearch_set/livesearch_placeholder')) ?>"
								>
							<button type="submit" title="<?php echo $this->__('Search') ?>" class="button search-button">
								<span> <span> Search </span>
								</span>
							</button>
						</div>

						<div id="search_autocomplete" class="search-autocomplete">
							<?php echo $this->getChildHtml('livesearch.autocomplete') ?>
						</div>
					</form>
				</div>
			</div>

			<div class="header-search desktop">
                <?php
                $searchClass = "";
                $searchID = "";
                if ($search_dropdown) :
                    $searchClass = "skip-content";
                    $searchID = "search-dropdown";
                    ?>
                    <a
					href="<?php echo $this->helper('customer')->getAccountUrl(); ?>"
					data-target-element="#<?php echo $searchID; ?>"
					class="skip-link account-dropdown"
					style="display: none;"> 
					<span class="label"><?php echo $this->__('Search'); ?></span>
				</a>
				<div id="<?php echo $searchID; ?>"
					class="<?php echo $searchClass; ?>">
                    <?php endif ?>

                    <?php echo $this->getChildHtml('topSearch') ?>

                    <?php if($search_dropdown): ?>
                    </div>
                    <?php endif ?>
            </div>
			<!-- end Search -->

		</div>
		<div class="main-menu">
			<div id="header-nav" class="skip-content nav-content">
                <?php echo $this->getChildHtml('topMenu') ?>
            </div>
		</div>
	</div>
    <?php require_once("mobile-panel.phtml"); ?>
    <?php echo $this->getChildHtml('topContainer'); ?>
    
  
</header>
<?php if ($theme->getCfg('header_set/header_scroll')): ?>
<script>
        $j(document).ready(function () {
            enableStickUp();
        });
    </script>
<?php endif ?>