<?php 
if (Mage::getStoreConfig('facebook/facebook_page/active', Mage::app()->getStore())):	

	$tm_facebook_settings = array(
		'page_url' 			=> Mage::getStoreConfig('facebook/facebook_page/page_url', Mage::app()->getStore()),
		'hide_cover' 		=> Mage::getStoreConfig('facebook/facebook_page/hide_cover', Mage::app()->getStore()),
		'show_facepile' 	=> Mage::getStoreConfig('facebook/facebook_page/show_facepile', Mage::app()->getStore()),
		'show_posts' 		=> Mage::getStoreConfig('facebook/facebook_page/show_posts', Mage::app()->getStore()),
		'data_height' 		=> Mage::getStoreConfig('facebook/facebook_page/data_height', Mage::app()->getStore()),
		'data_width' 		=> Mage::getStoreConfig('facebook/facebook_page/data_width', Mage::app()->getStore()),
		);
	?>

	<div class="block-facebook-page block-fixed-right">
<!--	    <div class="block-title">-->
<!--	        <strong><span>--><?php //echo $this->__('Facebook Page') ?><!--</span></strong>-->
<!--	    </div>-->
        <div class="elClick fa fa-facebook"></div>
		<div class="block-content elSlide">
			<div class="fb-page"
                 data-href="<?php echo $tm_facebook_settings['page_url']; ?>"
                 data-hide-cover="<?php echo $tm_facebook_settings['hide_cover']; ?>"
                 data-show-facepile="<?php echo $tm_facebook_settings['show_facepile']; ?>"
                 data-height="<?php echo $tm_facebook_settings['data_height']; ?>"
                 data-width="<?php echo $tm_facebook_settings['data_width']; ?>"
                 data-show-posts="<?php echo $tm_facebook_settings['show_posts']; ?>">
                <div class="fb-xfbml-parse-ignore">
                    <blockquote cite="//www.facebook.com/facebook"><a href="//www.facebook.com/facebook">Facebook</a></blockquote>
                </div>
            </div>

	    </div>
	</div>
<?php endif; ?>