<?php
if (Mage::getStoreConfig('facebook/facebook_page/active', Mage::app()->getStore())):
$tm_facebook_app_id = Mage::getStoreConfig('facebook/facebook_page/app_id', Mage::app()->getStore()); ?>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=<?php echo $tm_facebook_app_id; ?>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

if(jQuery) {
	(function (jQuery) {
	    var o = jQuery('.fb-page');

	    jQuery(window).load(function () {
	        o.css({'display': 'block'})
	            .find('span').css({
	                'width': '100%',
	                'display': 'block',
	                'text-align': 'inherit'
	            })
	            .find('iframe').css({
	                'display': 'inline-block',
	                'position': 'static'
	            });
	    });

	    jQuery(window).on('load resize', function () {
	        if (o.parent().width() < o.find('iframe').width()) {
	            o.find('iframe').css({
	                'transform': 'scale(' + (o.width() / o.find('iframe').width()) + ')',
	                'transform-origin': '0% 0%'
	            })
                .parent().css({
                    'height': (o.find('iframe').height() * (o.width() / o.find('iframe').width())) + 'px'
                });
	        } else {
	            o
	                .find('span').css({
	                    'height': 'auto'
	                })
	                .find('iframe').css({
	                    'transform': 'none'
	                });
	        }
	    });
	})(jQuery);
}
</script>
<?php endif; ?>