<?php
    $_collectionSize = $_productCollection->count();
    $_columnCount = 100000;
    $item_big_w = $theme->getCfg('grid/image_width');
    $item_big_h = $theme->getCfg('grid/image_height');
?>
<?php $i=0; foreach ($_productCollection as $_product): ?>
    <?php
    if((($i) % 2) == 0) {
        $float_item = 'clear';
    }else {
        $float_item = 'item-left';
    }
    ?>

    <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid products-grid-full layout-3">
    <?php endif ?>
    <li class="item" <?php echo $theme->getSeoProduct() ?>>
        <div class="wrapper-hover">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image" <?php echo $theme->getSeoUrl() ?>>
                <img
                    id="product-collection-image-<?php echo $_product->getId(); ?>"
                    src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($item_big_w,$item_big_h); ?>"
                    alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" <?php echo $theme->getSeoImage() ?>/>
            </a>
            <div class="product-info">
                <div class="wrapper-relative">
                    <h2 class="product-name-old" <?php echo $theme->getSeoName() ?>><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                    <?php echo $this->getPriceHtml($_product, true) ?>
                    <?php
                    // Provides extra bloc->keepFrame(false)s on which to hang some features for products in the list
                    // Features providing UI elements targeting this block will display directly below the product name
                    if ($this->getChild('name.after')) {
                        $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                        foreach ($_nameAfterChildren as $_nameAfterChildName) {
                            $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                            $_nameAfterChild->setProduct($_product);

                            echo $_nameAfterChild->toHtml();
                        }
                    }
                    ?>
                    <?php if($_product->getRatingSummary()): ?>
                        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                    <?php endif; ?>
                    <div class="actions">
                        <?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><i class="material-design-shopping232"></i></span></span></button>
                        <?php elseif($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
                            <a title="<?php echo $this->__('View Details') ?>" class="button btn-details" href="<?php echo $_product->getProductUrl() ?>"><span><span><i class="material-design-verification24"></i></span></span></a>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                        <ul class="add-to-links">
                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                            <?php endif; ?>
                            <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                            <?php endif; ?>
                        </ul>
                    </div>
                    <?php include("include_down_list.phtml"); ?>
                </div>
            </div>
            <div class="label-product">
                <?php if($_product->getNew()) {echo '<span class="new">'.$this->__('New').'</span>';  }?>
                <?php if($_product->getSale()){echo '<span class="sale">'.$this->__('Sale').'</span>';  }?>
            </div>
        </div>
    </li>
    <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
    <?php endif ?>
<?php endforeach ?>