<?php if($spcd_helper->isEnabledGridList()): ?>
    <?php
    $setDate = $spcd_helper->countdownTime($_product);
    if ($setDate > 0):
        if ($currDate < $setDate): ?>
            <div id="special_countdown_<?php echo $_product->getId(); ?>" class="special_countdown"></div>
            <script type="text/javascript">
                setCountdown("<?php echo $setDate; ?>", "<?php echo $_product->getId(); ?>");
            </script>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>