<ul class="product-thumbs">
    <?php $count_thumbs = 1; foreach (Mage::getModel('catalog/product')->load($_product->getId())->getMediaGalleryImages() as $image): ?>
        <?php if($count_thumbs <= $theme->getCfg('grid/thumbs_count')) : ?>
            <li class="product-thumb">
                <a href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image', $image->getFile())->resize($theme->getCfg('grid/image_width'), $theme->getCfg('grid/image_height')); ?>">
                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $image->getFile())->resize($theme->getCfg('grid/thumb_size_w'), $theme->getCfg('grid/thumb_size_h')); ?>" alt="" />
                </a>
            </li>
        <?php endif;  $count_thumbs++; ?>
    <?php endforeach; ?>
</ul>