<?php if (!sizeof($_product->getData('list_swatch_attr_values'))): ?>
    <div class="product-gallery-img">
        <?php foreach (Mage::getModel('catalog/product')->load($_product->getId())->getMediaGalleryImages() as $image): ?>
                <div class="product-gallery-item">
                    <a href="<?php echo $_product->getProductUrl() ?>">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $image->getFile())->resize($theme->getCfg('grid/image_width'), $theme->getCfg('grid/image_height')); ?>" alt="" />
                    </a>
                </div>
        <?php endforeach; ?>
    </div>
    <script>
        jQuery(function(){
            $j(".product-gallery-img").owlCarousel({
                items: 1,
                autoPlay:false,
                stopOnHover:true,
                pagination: false,
                singleItem : true,
                transitionStyle:false,
                navigation: true
            });
        });
    </script>
<?php else: ?>
    <a
        href="<?php echo $_product->getProductUrl() ?>"
        title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"
        class="product-image" <?php echo $theme->getSeoUrl(); ?>>
        <img
            id="product-collection-image-<?php echo $_product->getId(); ?>"
            src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($theme->getCfg('grid/image_width'), $theme->getCfg('grid/image_height')); ?>"
            alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" <?php echo $theme->getSeoImage(); ?>/>
    </a>
<?php endif;?>