

<div class="option-box" id="option_<?php echo $id ?>">
  <div class="optionextended-option-container"  id="optionextended_option_container_<?php echo $id ?>" >
    <div class="optionextended-spacer">&nbsp;</div>                          
    <div class="optionextended-duplicate-container">
      <?php echo $this->jsQuoteEscape($this->getDeleteButtonHtml()) ?>                           
      <?php echo $this->getDuplicateOptionButtonHtml() ?>
    </div>                                                  
    <table id="product_option_<?php echo $id ?>" class="option-header optionextended-option-orig-table" cellpadding="0" cellspacing="0">
      <input type="hidden" id="product_option_<?php echo $id ?>_is_delete" name="product[options][<?php echo $id ?>][is_delete]" value="" />
      <input type="hidden" id="product_option_<?php echo $id ?>_id" name="product[options][<?php echo $id ?>][id]" value="<?php echo $id ?>" />
      <input type="hidden" id="product_option_<?php echo $id ?>_option_id" name="product[options][<?php echo $id ?>][option_id]" value="<?php echo $id ?>" />
      <input type="hidden" id="optionextended_<?php echo $id ?>_sd_field" name="product[options][<?php echo $id ?>][selected_by_default]" value="<?php echo $option->getSelectedByDefault() ?>" />                                 
      <thead>
          <tr>
              <th class="opt-title"><?php echo Mage::helper('catalog')->__('Title') ?> <span class="required">*</span></th>
              <th class="opt-type"><?php echo Mage::helper('catalog')->__('Input Type') ?> <span class="required">*</span></th>
              <th class="opt-req"><?php echo Mage::helper('catalog')->__('Is Required') ?></th>
              <th class="opt-order"><?php echo Mage::helper('catalog')->__('Sort Order') ?></th>
          </tr>
      </thead>
      <tr>
          <td><input type="text" class="required-entry input-text" id="product_option_<?php echo $id ?>_title" name="product[options][<?php echo $id ?>][title]" value="<?php echo $this->htmlEscape($option->getTitle()) ?>" onchange="this.setHasChanges()" <?php echo $option->getTitleDisabled() ?>><?php echo $option->getCheckboxScopeTitle() ?></td>
          <td><?php echo $this->getTypeSelect() ?></td>
          <td class="opt-req"><?php echo $this->getRequireSelect() ?></td>
          <td class="optionextended-option-order-td"><input type="text" class="input-text" name="product[options][<?php echo $id ?>][sort_order]"  id="product_option_<?php echo $id ?>_sort_order" value="<?php echo $option->getSortOrder() ?>" onchange="this.setHasChanges()"></td>
      </tr>
    </table>
    <table id="optionextended_option_table_<?php echo $id ?>" class="optionextended-option-table">
     <tr>                            
      <th class="optionextended-textfield-column"><?php echo $this->__('Note') ?></th>
      <th class="optionextended-showhide-column">&nbsp;</th>
      <th class="optionextended-code-column"><?php echo Mage::helper('core')->__('Code') ?></th>      
      <?php if ($group == 'select'): ?>        
        <th><span id="optionextended_<?php echo $id ?>_layout_column"><?php echo Mage::helper('core')->__('Layout') ?></span></th>
        <th><span class="optionextended-layout-popup-span" id="optionextended_<?php echo $id ?>_popup_column"><?php echo $this->__('Popup') ?></span></th>
      <?php endif; ?>        
     </tr>                                                                                              
     <tr>
        <td><input class="optionextended-textfield" type="text" name="product[options][<?php echo $id ?>][note]" id="optionextended_<?php echo $id ?>_note" value="<?php echo $this->htmlEscape($option->getNote()) ?>" <?php echo $option->getNoteDisabled() ?>><?php echo $option->getCheckboxScopeNote() ?></td>
        <td>               
            <span  <?php echo $this->getShowTextArea() ?> title="<?php echo $this->getClickToEditText() ?>" id="optionextended_<?php echo $id ?>_note_show" class="optionextended-showhide-link" <?php echo $option->getNoteShowHidden() ?>>e</span>  
            <span onclick="optionExtended.hideTextArea(this);" title="<?php echo $this->__('Click to hide') ?>" id="optionextended_<?php echo $id ?>_note_hide" class="optionextended-showhide-link" style="display:none;">h</span>            
        </td>
        <td><input class="input-text optionextended-code-field" type="text" name="product[options][<?php echo $id ?>][code]" id="optionextended_<?php echo $id ?>_code" value="<?php echo $this->htmlEscape($option->getCode()) ?>" ></td>         
        <?php if ($group == 'select'): ?>        
           <td><?php echo $this->getLayoutSelect() ?></td>
           <td><input  type="checkbox" name="product[options][<?php echo $id ?>][popup]" id="optionextended_<?php echo $id ?>_popup" value="1" <?php echo $option->getPopupChecked() ?> <?php echo $option->getPopupDisabled() ?>></td>                          
        <?php endif; ?>                                            
    </tr>
    </table>
    <div class="optionextended-spacer">&nbsp;</div>                             
  </div>
    <div id="product_option_<?php echo $id ?>_type_<?php echo $group ?>" class="grid tier form-list">
      <div class="hor-scroll">      
        <table class="border" cellpadding="0" cellspacing="0" <?php echo $this->getValuesTableWidth() ?>>    
        <?php if ($group == 'select'): ?>        

          <thead>
          <tr class="headings">
              <?php if (Mage::getStoreConfig('admin/optionextended/dependency') == 1): ?>
                <th class="optionextended-id"><?php echo $this->__('Id') ?></th>                                    
              <?php endif; ?>                                
              <th class="type-title"><?php echo Mage::helper('catalog')->__('Title') ?> <span class="required">*</span></th>
              <th class="type-price"><?php echo Mage::helper('catalog')->__('Price') ?></th>
              <th class="type-type"><?php echo Mage::helper('catalog')->__('Price Type') ?></th>
              <th class="type-sku"><?php echo Mage::helper('catalog')->__('SKU') ?></th>
              <th class="type-order"><?php echo Mage::helper('catalog')->__('Sort Order') ?></th>
              <?php if (Mage::getStoreConfig('admin/optionextended/dependency') == 1): ?>            
                  <th class="optionextended-children-column"><?php echo $this->__('Children') ?></th>
                      <th class="optionextended-showhide-column">&nbsp;</th>
              <?php endif; ?> 
              <?php if (Mage::getStoreConfig('admin/optionextended/images') == 1): ?>                    
                 <th class="optionextended-image-column"><?php echo Mage::helper('catalog')->__('Image') ?></th>
              <?php endif; ?> 
              <?php if (Mage::getStoreConfig('admin/optionextended/description') == 1): ?>                 
                  <th class="optionextended-textfield-column"><?php echo Mage::helper('catalog')->__('Description') ?></th>      
                         <th class="optionextended-showhide-column">&nbsp;</th>
              <?php endif; ?>                        
              <?php if (Mage::getStoreConfig('admin/optionextended/selected_by_default') == 1): ?>                                   
                 <th class="optionextended-sd"><?php echo $this->getSdColumnInput() ?></th>   
              <?php endif; ?>             
              <th class="type-butt last">&nbsp;</th>
          </tr>
          </thead>
          <tbody id="select_option_type_row_<?php echo $id ?>">
            <?php if (Mage::getStoreConfig('admin/optionextended/accordion') == 1 && Mage::getStoreConfig('admin/optionextended/inactiverows') == 1): ?>           
              <?php foreach ($this->getValues() as $value): ?>
                <tr id="product_option_value_<?php echo $value->getId() ?>" onmouseover="optionExtended.activateRow(this, <?php echo $id ?>, <?php echo $value->getId() ?>)">
                    <?php if (Mage::getStoreConfig('admin/optionextended/dependency') == 1): ?>  
                     <td><?php echo $value->getRowId() ?></td>      
                    <?php endif; ?>        
                    <td><?php echo $this->htmlEscape(strlen($value->getTitle()) > 25 ? substr($value->getTitle(), 0, 25). '...' : $value->getTitle()) ?></td>
                    <td><?php echo $value->getPriceFormated() ?></td>
                    <td><?php echo $value->getPriceType() == 'fixed' ? Mage::helper('adminhtml')->__('Fixed') : Mage::helper('adminhtml')->__('Percent'); ?></td>
                    <td><?php echo $this->htmlEscape(strlen($value->getSku()) > 25 ? substr($value->getSku(), 0, 25). '...' : $value->getSku()) ?></td>
                    <td><?php echo $value->getSortOrder() ?></td>
                    <?php if (Mage::getStoreConfig('admin/optionextended/dependency') == 1): ?>                    
                      <td><?php echo $this->htmlEscape(strlen($value->getChildren()) > 25 ? substr($value->getChildren(), 0, 25). '...' : $value->getChildren()) ?></td>                        
                      <td>S&nbsp;s</td>  
                    <?php endif; ?> 
                    <?php if (Mage::getStoreConfig('admin/optionextended/images') == 1): ?>                                           
                      <td><?php echo $value->getImage() != '' ? $this->__('Roll Over for Preview') : $this->__('Roll Over for Uploader'); ?></td>  
                    <?php endif; ?>
                    <?php if (Mage::getStoreConfig('admin/optionextended/description') == 1): ?>                                        
                      <td><?php echo $this->htmlEscape(strlen($value->getDescription()) > 30 ? substr($value->getDescription(), 0, 30). '...' : $value->getDescription()) ?></td>
                      <td>e</td>                       
                    <?php endif; ?>                         
                    <?php if (Mage::getStoreConfig('admin/optionextended/selected_by_default') == 1): ?>               
                       <td id="optionextended_value_<?php echo $value->getId() ?>_sd_sell"><?php echo in_array($value->getRowId(), $option->getSdIds()) ? 1 : 0 ?></td>                
                    <?php endif; ?>   
                    <td>X</td>                                                     
                </tr>  
              <?php endforeach; ?>
            <?php else: ?> 
              <?php foreach ($this->getValues() as $value): ?>            
                <tr id="product_option_value_<?php echo $value->getId() ?>">
                    <?php if (Mage::getStoreConfig('admin/optionextended/dependency') == 1): ?>  
                     <td><?php echo $value->getRowId() ?></td>      
                    <?php endif; ?>        
                    <td>
                    <input type="hidden" name="product[options][<?php echo $id ?>][values][<?php echo $value->getId() ?>][row_id]" value="<?php echo $value->getRowId() ?>">               
                    <input type="hidden" name="product[options][<?php echo $id ?>][values][<?php echo $value->getId() ?>][option_type_id]" value="<?php echo $value->getId() ?>">
                    <input type="hidden" id="product_option_value_<?php echo $value->getId() ?>_is_delete" name="product[options][<?php echo $id ?>][values][<?php echo $value->getId() ?>][is_delete]" value="">
                    <input type="text" class="required-entry input-text select-type-title" id="product_option_value_<?php echo $value->getId() ?>_title" name="product[options][<?php echo $id ?>][values][<?php echo $value->getId() ?>][title]" value="<?php echo $this->htmlEscape($value->getTitle()) ?>" <?php echo $value->getTitleDisabled() ?>><?php echo $value->getCheckboxScopeTitle() ?></td>
                    <td><input type="text" class="input-text product-option-price" id="product_option_value_<?php echo $value->getId() ?>_price" name="product[options][<?php echo $id ?>][values][<?php echo $value->getId() ?>][price]" value="<?php echo $value->getPriceFormated() ?>" <?php echo $value->getPriceDisabled() ?>><?php echo $value->getCheckboxScopePrice() ?></td>
                    <td><?php echo $this->getPriceTypeSelectHtml($value) ?></td>
                    <td><input type="text" class="input-text" name="product[options][<?php echo $id ?>][values][<?php echo $value->getId() ?>][sku]" id="product_option_value_<?php echo $value->getId() ?>_sku" value="<?php echo $this->htmlEscape($value->getSku()) ?>"></td>
                    <td><input type="text" class="input-text" name="product[options][<?php echo $id ?>][values][<?php echo $value->getId() ?>][sort_order]" id="product_option_value_<?php echo $value->getId() ?>_sort_order" value="<?php echo $value->getSortOrder() ?>"></td>
                    <?php if (Mage::getStoreConfig('admin/optionextended/dependency') == 1): ?>
                        <td><input class="optionextended-children-input" type="text" name="product[options][<?php echo $id ?>][values][<?php echo $value->getId() ?>][children]" id="optionextended_<?php echo $value->getId() ?>_children" value="<?php echo $this->htmlEscape($value->getChildren()) ?>" onblur="optionExtended.updateChildren(this, <?php echo $id ?>, <?php echo $value->getId() ?>)">
                        <select id="optionextended_<?php echo $value->getId() ?>_children_detailed_select"  style="display:none;"></select>   
                        <select onchange="optionExtended.onChildrenShortSelectChange(<?php echo $value->getId() ?>)" onblur="optionExtended.showInput(<?php echo $id ?>,<?php echo $value->getId() ?>,'short');" name="optionextended_childrend_dropdown" class="optionextended-children-dropdown" id="optionextended_<?php echo $value->getId() ?>_children_short_select"  style="display:none;" multiple ><option value=""></option></select>                        
                        <div id="optionextended_<?php echo $value->getId() ?>_children_advice"></div>
                        </td>
                        <td align="center"><span id="optionextended_<?php echo $value->getId() ?>_show_link" class="optionextended-children-showhide-link"><span onclick="optionExtended.showSelect(<?php echo $id ?>,<?php echo $value->getId() ?>,'detailed');" title="<?php echo $this->__('Click to select certain values') ?>">S</span>&nbsp;<span onclick="optionExtended.showSelect(<?php echo $id ?>,<?php echo $value->getId() ?>,'short');" title="<?php echo $this->__('Click to select entire option with all its values') ?>">s</span></span></td>
                    <?php endif; ?> 
                    <?php if (Mage::getStoreConfig('admin/optionextended/images') == 1): ?>
                      <td id="optionextended_image_cell_<?php echo $value->getId() ?>">
                          <div class="files" style="width:135px;">
                             <div  id="<?php echo $value->getId() ?>_uploader_place-holder" onmouseover="optionExtended.loadUploader(<?php echo $value->getId() ?>)">
                                <span><?php echo $value->getRollOver() ?></span>
                             </div>         
                             <div id="<?php echo $value->getId() ?>_uploader_row" style="display:none"  class="hide_uploader_row">            
                                <div class="row" >
                                   <input type="hidden" id="optionextended_link_<?php echo $value->getId() ?>_file_save" name="product[options][<?php echo $id ?>][values][<?php echo $value->getId() ?>][image]" value="<?php echo $this->htmlEscape($value->getImageJson()) ?>" /> 
                                   <div id="optionextended_link_<?php echo $value->getId() ?>_file" class="uploader">
                                      <div id="optionextended_link_<?php echo $value->getId() ?>_file-old" class="file-row-info">
                                        <img src="<?php echo $this->getSkinUrl('images/spacer.gif')?>" id="optionextended_link_<?php echo $value->getId() ?>_file_img" width="40" style="display:none;" alt="" />                                      
                                      </div>
                                      <div id="optionextended_link_<?php echo $value->getId() ?>_file-new" class="file-row-info new-file"></div>
                                      <div class="buttons">
                                         <div id="optionextended_link_<?php echo $value->getId() ?>_file-install-flash" style="display:none">
                                            <?php echo Mage::helper('media')->__('This content requires last version of Adobe Flash Player. <a href="%s">Get Flash</a>', 'http://www.adobe.com/go/getflash/') ?>
                                         </div>
                                      </div>
                                   </div>
                                   <img src="<?php echo $this->getSkinUrl('pektsekye/optionextended/delete_image.gif')?>" id="optionextended_link_<?php echo $value->getId() ?>_file_delete" alt="<?php echo Mage::helper('catalog')->__('Delete') ?>" onclick="optionExtended.deleteImage(<?php echo $value->getId() ?>)" class="optionextended-delete-image"  style="display:none"/>                                   
                                   <div id="optionextended_link_<?php echo $value->getId() ?>_file_save_advice"></div>                                                
                                </div>
                             </div>
                          </div>         
                      </td>
                    <?php endif; ?>                   
                    <?php if (Mage::getStoreConfig('admin/optionextended/description') == 1): ?>                  
                       <td>         
                         <input class="optionextended-textfield" type="text" name="product[options][<?php echo $id ?>][values][<?php echo $value->getId() ?>][description]" id="optionextended_<?php echo $value->getId() ?>_description" value="<?php echo $this->htmlEscape($value->getDescription()) ?>" <?php echo $value->getDescriptionDisabled() ?>><?php echo $value->getCheckboxScopeDescription() ?> 
                       </td>               
                       <td><span <?php echo $this->getShowTextArea($value) ?> title="<?php echo $this->getClickToEditText() ?>" id="optionextended_<?php echo $value->getId() ?>_description_show" class="optionextended-showhide-link" <?php echo $value->getDescriptionShowHidden() ?>>e</span><span onclick="optionExtended.hideTextArea(this);" title="<?php echo $this->__('Click to hide') ?>" id="optionextended_<?php echo $value->getId() ?>_description_hide" class="optionextended-showhide-link" style="display:none;">h</span></td>                        
                    <?php endif; ?> 
                    <?php if (Mage::getStoreConfig('admin/optionextended/selected_by_default') == 1): ?>               
                       <td><?php echo $this->getSdCellInput($value) ?></td>                
                    <?php endif; ?>                 
                    <td class="last"><span title="Delete row"><?php echo $this->getDeleteRowButtonHtml($value) ?></span></td>
                   </tr> 
                <?php endforeach; ?>                             
            <?php endif; ?>                                 
          </tbody>
          <tfoot>
          <tr>
          <td colspan="100" class="a-right">             
            <?php echo $this->getAddRowButtonHtml() ?>                 
          </td>
          </tr>
          </tfoot>
                          
        <?php elseif ($group == 'text'): ?>
          <tr class="headings">
              <?php if (Mage::getStoreConfig('admin/optionextended/dependency') == 1): ?>         
                <th class="optionextended-id"><?php echo $this->__('Id') ?></th> 
              <?php endif; ?>            
              <th class="type-price"><?php echo Mage::helper('catalog')->__('Price') ?></th>
              <th class="type-type"><?php echo Mage::helper('catalog')->__('Price Type') ?></th>
              <th class="type-sku"><?php echo Mage::helper('catalog')->__('SKU') ?></th>
              <th class="type-last last"><?php echo Mage::helper('catalog')->__('Max Characters') ?> </th>
              <th class="type-sku"><?php echo Mage::helper('catalog')->__('Regx Rule') ?> </th>
              <th class="type-sku"><?php echo Mage::helper('catalog')->__('Regx Message') ?> </th>
              <th class="type-sku"><?php echo Mage::helper('catalog')->__('Input Type') ?> </th>
          </tr>
          <tr>
              <?php if (Mage::getStoreConfig('admin/optionextended/dependency') == 1): ?>         
                <td><?php echo $option->getRowId() ?></td> 
              <?php endif; ?>           
              <td>
              <input type="hidden" name="product[options][<?php echo $id ?>][row_id]" value="<?php echo $option->getRowId() ?>">                     
              <input type="text" class="input-text product-option-price" id="product_option_<?php echo $id ?>_price" name="product[options][<?php echo $id ?>][price]" value="<?php echo $option->getPriceValue() ?>" <?php echo $option->getPriceDisabled() ?>><?php echo $option->getCheckboxScopePrice() ?></td>
              <td><?php echo $this->getPriceTypeSelectHtml() ?></td>
              <td><input type="text" class="input-text" name="product[options][<?php echo $id ?>][sku]" id="product_option_<?php echo $id ?>_sku" value="<?php echo $this->htmlEscape($option->getSku()) ?>"></td>
              <td class="type-last last"><input type="text" class="input-text" name="product[options][<?php echo $id ?>][max_characters]" id="product_option_<?php echo $id ?>_max_characters" value="<?php echo $option->getMaxCharacters() ?>"></td>
              <td><input type="text" class="input-text" maxlength="240" name="product[options][<?php echo $id ?>][regex]" id="product_option_<?php echo $id ?>_regex" value="<?php echo $this->htmlEscape($option->getRegex()) ?>"></td>
              <td><input type="text" class="input-text" maxlength="240" name="product[options][<?php echo $id ?>][regex_message]" id="product_option_<?php echo $id ?>_regex_message" value="<?php echo $this->htmlEscape($option->getRegexMessage()) ?>"></td>
              <td>
              <select name="product[options][<?php echo $id ?>][input_type]" id="product_option_<?php echo $id ?>_input_type" class="select" title="" >
              	
              	<option value="none" <?php if($option->getInputType()== "none"){ echo " selected='selected'";} ?> >none</option>
              	<option value="lowercase" <?php if($option->getInputType()== "lowercase"){ echo " selected='selected'";} ?>>All characters to lowercase</option>
              	<option value="uppercase" <?php if($option->getInputType()== "uppercase"){ echo " selected='selected'";} ?>>All characters to uppercase</option>
              	<option value="capitalize" <?php if($option->getInputType()== "capitalize"){ echo " selected='selected'";} ?>>First character of each word to uppercase</option>
              	<option value="inherit" <?php if($option->getInputType()== "inherit"){ echo " selected='selected'";} ?>>First letter of first word Uppercase</option>
              	<option value="necklace" <?php if($option->getInputType()== "necklace"){ echo " selected='selected'";} ?>>First letter Uppercase and remaining letter lowercase without space.</option>
              	
              </select>
              </td>
          </tr>
                         
        <?php elseif ($group == 'file'): ?> 
                
          <tr class="headings">
              <?php if (Mage::getStoreConfig('admin/optionextended/dependency') == 1): ?>         
                <th class="optionextended-id"><?php echo $this->__('Id') ?></th> 
              <?php endif; ?>        
              <th class="type-price"><?php echo Mage::helper('catalog')->__('Price') ?></th>
              <th class="type-type"><?php echo Mage::helper('catalog')->__('Price Type') ?></th>
              <th class="type-sku"><?php echo Mage::helper('catalog')->__('SKU') ?></th>
              <th class="type-title"><?php echo Mage::helper('catalog')->__('Allowed File Extensions') ?></th>
              <th class="last"><?php echo Mage::helper('catalog')->__('Maximum Image Size') ?></th>
          </tr>
          <tr>
              <?php if (Mage::getStoreConfig('admin/optionextended/dependency') == 1): ?>         
                <td><?php echo $option->getRowId() ?></td>
              <?php endif; ?>            
              <td>
              <input type="hidden" name="product[options][<?php echo $id ?>][row_id]" value="<?php echo $option->getRowId() ?>">                                
              <input class="input-text type="text" name="product[options][<?php echo $id ?>][price]" id="product_option_<?php echo $id ?>_price" value="<?php echo $option->getPriceValue() ?>" <?php echo $option->getPriceDisabled() ?>><?php echo $option->getCheckboxScopePrice() ?></td>
              <td><?php echo $this->getPriceTypeSelectHtml() ?></td>
              <td><input type="text" class="input-text" name="product[options][<?php echo $id ?>][sku]" id="product_option_<?php echo $id ?>_sku" value="<?php echo $this->htmlEscape($option->getSku()) ?>"></td>
              <td><input class="input-text" type="text" name="product[options][<?php echo $id ?>][file_extension]" id="product_option_<?php echo $id ?>_file_extension" value="<?php echo $this->htmlEscape($option->getFileExtension()) ?>"></td>
              <td class="type-last last" nowrap><input class="input-text" type="text" name="product[options][<?php echo $id ?>][image_size_x]" id="product_option_<?php echo $id ?>_image_size_x" value="<?php echo $option->getImageSizeX() ?>"> <?php echo Mage::helper('catalog')->__('x') ?> <input class="input-text" type="text" name="product[options][<?php echo $id ?>][image_size_y]" id="product_option_<?php echo $id ?>_image_size_y" value="<?php echo $option->getImageSizeY() ?>"> <?php echo Mage::helper('catalog')->__('px.') ?><br/><?php echo Mage::helper('catalog')->__('leave blank if its not an image') ?></td>
          </tr>
                    
        <?php elseif ($group == 'date'): ?> 

          <tr class="headings">
              <?php if (Mage::getStoreConfig('admin/optionextended/dependency') == 1): ?>         
                <th class="optionextended-id"><?php echo $this->__('Id') ?></th> 
              <?php endif; ?>        
              <th class="type-price"><?php echo Mage::helper('catalog')->__('Price') ?></th>
              <th class="type-type"><?php echo Mage::helper('catalog')->__('Price Type') ?></th>
              <th class="last"><?php echo Mage::helper('catalog')->__('SKU') ?></th>
          </tr>
          <tr>
              <?php if (Mage::getStoreConfig('admin/optionextended/dependency') == 1): ?>         
                <td><?php echo $option->getRowId() ?></td>
              <?php endif; ?>            
              <td>
              <input type="hidden" name="product[options][<?php echo $id ?>][row_id]" value="<?php echo $option->getRowId() ?>">                     
              <input type="text" class="input-text product-option-price" id="product_option_<?php echo $id ?>_price" name="product[options][<?php echo $id ?>][price]" value="<?php echo $option->getPriceValue() ?>" <?php echo $option->getPriceDisabled() ?>><?php echo $option->getCheckboxScopePrice() ?></td>
              <td><?php echo $this->getPriceTypeSelectHtml() ?></td>
              <td class="last"><input type="text" class="input-text type-sku" name="product[options][<?php echo $id ?>][sku]" id="product_option_<?php echo $id ?>_sku" value="<?php echo $this->htmlEscape($option->getSku()) ?>"></td>
          </tr>    
                               
        <?php endif; ?>   
       </table> 
      </div>           
    </div>  
 </div>
<script type="text/javascript">
//<![CDATA[
if (optionExtended.optionIsNotLoaded[<?php echo $id ?>]){
  
<?php if (Mage::getStoreConfig('admin/optionextended/inactiverows') == 1): ?>  
  optionExtended.setRowsData(<?php echo $this->getRowsData() ?>);
<?php endif; ?> 
  
  optionExtended.optionIsNotLoaded[<?php echo $id ?>] = false;
}
//]]> 
</script> 
