<?php if($_itemsCount = count($this->getItemCollection()->getItems())): ?>
<?php
    $uid = uniqid();
?>
<div class="freento-upsellswidgets-popup">
    <div class="freento-upsellswidgets-popup-close freento-upsellswidgets-popup-cancel" onclick="jQuery.colorbox.close()">&times;</div>
    <h2><?php echo $this->__('You may also be interested in the following product(s)') ?></h2>
    <ul class="freento-upsellswidgets-products">
    <?php $this->resetItemsIterator() ?>
        <?php for($_j = 0; $_j < $_itemsCount; $_j ++): ?>
        
        <?php if ($_j % $this->getColumnCount() == 0 && $_j != $_itemsCount - 1): ?>
    </ul>
    <ul class="freento-upsellswidgets-products">
        <?php endif; ?>
        
            <?php if($_link=$this->getIterableItem()): ?>
            <li style="width:<?php echo floor(100 / $this->getColumnCount()) ?>%;">
                <a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_link->getName()) ?>" class="product-image">
                    <img src="<?php echo $this->helper('catalog/image')->init($_link, 'small_image')->resize(320, 320)->keepAspectRatio(true)->keepFrame(false) ?>" alt="<?php echo $this->escapeHtml($_link->getName()) ?>" />
                </a>
                <h3 class="product-name"><a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_link->getName()) ?>"><?php echo $this->escapeHtml($_link->getName()) ?></a></h3>
                <?php echo $this->getPriceHtml($_link, true, '-upsell') ?>
                
                <?php if($_link->isSaleable()): ?>
                    <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_link) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                <?php else: ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php endif; ?>
                
            </li>
            <?php endif; ?>
        <?php endfor; ?>
    </ul>
    <?php $_addAllUrl = Mage::getUrl('freento_upsellswidgets/widget/addall', array ('_secure' => Mage::app()->getStore()->isCurrentlySecure())); ?>
    <form action="<?php echo $_addAllUrl ?>" method="post">
        <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
        <input type="hidden" name="product_ids" value="<?php echo implode(',', $this->getItemCollection()->getAllIds()) ?>" />
        <div class="buttons-set">
            <button type="submit" class="button">
                <span><span><?php echo $this->__('Add All To Cart') ?></span></span>
            </button>
            <button class="button freento-upsellswidgets-popup-cancel" type="button" onclick="jQuery.colorbox.close()">
                <span><span><?php echo $this->__('No, thanks') ?></span></span>
            </button>
        </div>
    </form>
</div>
<?php endif; ?>