.add-message span {
    display: none;
    text-align: center;
    color: green;
}

.add-message .show {
    display: block;
}

.ajaxcart {
    position: relative;
}

.ajaxcart .glyph-icon {
    padding: 10px;
    display: block;
    font-family: "Flaticon";
    font-size: 64px;
    line-height: 1;
}

#ajaxcart-cart-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    box-sizing: border-box;
    width: 320px;
    background: #fff;
    z-index: 50;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

#ajaxcart-cart-content.show {
    display: block;
}

#ajaxcart-cart-content .block-subtitle .close {
    top: 10px;
}
.block-cart .mini-products-list .product-image {
    float: left;
    max-width: 40%;
    margin-right: 1em;
    position: relative;
    z-index: 2;
}

.block-cart .mini-products-list .product-details {
    margin-left: 0;
}

.block-cart .mini-products-list .item.last {
    margin-bottom: 0;
    padding-bottom: 0;
}

#mincart-overlay {
    display: none;
    height: 100%;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.7); */
    position: fixed;
    z-index: 990;
}

#mincart-overlay.show {
    display: block;
}

/*#mincart-overlay:before {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*background: url(../../../images/tm/ajaxcart/ajax-loader.gif) 50% 50% no-repeat white;*/
    /*margin-left: -50px;*/
    /*margin-top: -50px;*/
    /*padding: 50px;*/
/*}*/
#mincart-overlay:before {
    content: '';
    font-size: 20px;
    margin: 0 auto 5em;
    width: 1em;
    height: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    text-align: center;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
    }
    12.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    25% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    37.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    50% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    62.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    75% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
    }
    87.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
    }
}
@keyframes load4 {
    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
    }
    12.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    25% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    37.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    50% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    62.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    75% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
    }
    87.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
    }
}

.view-all-link {
    display: table;
    box-sizing: border-box;
    margin: 10px auto;
}

#ajaxcart-progress {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 999;
    display: none;
}
#ajaxcart-progress.active {
    display: block;
}
.ajaxcart-count .icon {
    float: left;
}

.ajaxcart-link,
.ajaxcart-link:focus{
    color: #888888;
}
.ajaxcart-link:hover {
    color: #333;
}
#ajaxcart-progress.active, #ajaxcart-progress:hover {
    opacity: 1;
}

.ac-progress {
    width: 100%;
    height: 10px;
    float: none;
}

.ac-progress-wrap {
    background: #f1f1f1;
    position: relative;
}

.ac-progress-content {
    background: #fd6b6b;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .5s ease-out;
}
.messages-ajax {
    /* background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0; */
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9990;
    left: 0;
    top: 0;
}
.messages-ajax ul {
    position: fixed;
    width: 300px;
    left: 50%;
    top:45%;
    margin-left: -150px;
    z-index: 55;
    text-align: center;
}
.messages.messages-ajax li li  {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    color: #F05059;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*# sourceMappingURL=ajaxcart.css.map */
