/**
* @author Amasty Team
* @copyright Copyright (c) 2008-2012 Amasty (http://www.amasty.com)
* @package Amasty_Feed
*/
.am_feed_popup {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -301px;
    width: 600px;
    background: #efefef;
    padding: 10px;
    height: 440px;  	
    border: 3px solid #bbb;
    z-index: 401;
}

.am_feed_overlay {
    width: 100%;
    height: 100%;
    background: #efefef;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 400;
}

.am_feed_popup .am_feed_popup_log {
    padding: 10px;  
    height: 300px;
    overflow-y: scroll;
}

.am_feed_popup .close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.am_feed_popup_progress_container {
    margin: 10px 0px;
}
.am_feed_popup_progress {
    background: #ff9933;
}

.am_feed_popup .am_feed_popup_log li {
    border-bottom: 1px solid #999;
    background: #fff;
    padding: 3px;
}

.am_feed_popup .am_feed_popup_result {
    background: #fff;
    padding: 10px;
}
