<?php $freeShipping = $this->checkFreeShipping(); ?>

<div id="free-shipping-progress-bar" style="display: none;">
	<?php if($freeShipping): ?>
		<div class="free-shipping-progress-text"><?php echo $this->__('You are eligible for free shipping.'); ?></div>
	<?php else: ?>
		<?php $minPackageValue = $this->getMinPackageValue(); ?>
		<?php $subtotal = $this->getSubtotal(); ?>
		<?php $progress = $subtotal * 100 / $minPackageValue; ?>
		<div class="free-shipping-progress-bar-container">
			<div class="free-shipping-progress-text-note"><?php echo $this->__('Please Note: Free Shipping offer applies ONLY after any discount/voucher codes are applied to Grand Total.'); ?></div>
			<div class="free-shipping-progress-text"><?php echo $this->__('%s away from free shipping.', $this->formatPrice(($minPackageValue - $subtotal))); ?></div>
			<div class="free-shipping-progress-range">
				<div class="min-range"><?php echo $this->formatPrice(0); ?></div>
				<div class="free-shipping-progress-bar">
					<div class="free-shipping-progress-bar-indicator" style="width: <?php echo round(ceil($progress), 0); ?>%;">
					</div>
				</div>
				<div class="max-range"><?php echo $this->formatPrice($minPackageValue); ?></div>
			</div>
		</div>
	<?php endif; ?>

	<button type="button" class="button free-shipping-button" onclick="setLocation('<?php echo $this->getUrl('/'); ?>')">
		<span><span><?php echo $this->__('Continue Shopping >') ?></span></span>
	</button>
</div>