<?php $couponCode = $this->getCouponCode(); ?>

<div class="container" style="margin-bottom: 30px;">
	<div class="col-lg-5">
		<form method="post" id="login-form">
			<div class="col2-set">
				<div class="registered-users">
					<div class="content">
						<h2><?php echo $this->__('Verify Your Voucher') ?></h2>
						<ul class="form-list">
							<li><label for="coupon_code" class="required"><em>*</em><?php echo $this->__('Coupon Code') ?></label>
								<div class="input-box">
									<input type="text" name="coupon_code" value="<?php echo $couponCode; ?>" id="coupon_code" class="input-text required-entry" title="<?php echo $this->__('Coupon Code') ?>">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col1-set">
				<div class="coupon-buttonset" style="padding-bottom: 10px;">
					<button type="submit" class="button" title="<?php echo $this->__('Verify') ?>" name="btn_verify" id="btn_verify">
						<span><span><?php echo $this->__('Verify') ?></span></span>
					</button>
				</div>
			</div>
		</form>
	</div>
	<?php $description = $this->getCouponDescription(); ?>
	<?php if(!is_null($description)): ?>
		<div class="col-lg-7">
			<?php echo $description; ?>
		</div>
	<?php endif; ?>
</div>

<script type="text/javascript">
//<![CDATA[
    var couponForm = new VarienForm('login-form');
//]]>
</script>

<?php if($couponCode != ""): ?>
	<?php echo $this->getChildHtml('product_list'); ?>
<?php endif; ?>