[class*=emojione-] {
  text-indent: -9999em;
  image-rendering: optimizeQuality;
  font-size: inherit;
  height: 1.3em;
  width: 1.3em;
  top: -3px;
  position: relative;
  display: inline-block;
  margin: 0 .15em;
  line-height: normal;
  vertical-align: middle;
  background-image: url("emojione.sprites.png");
  background-size: 3600%;
  background-repeat: no-repeat; }

.emojione-0023-20E3 {
  background-position: 2.85714% 0%; }

.emojione-0030-20E3 {
  background-position: 71.42857% 51.42857%; }

.emojione-0031-20E3 {
  background-position: 0% 2.85714%; }

.emojione-0032-20E3 {
  background-position: 2.85714% 2.85714%; }

.emojione-0033-20E3 {
  background-position: 5.71429% 0%; }

.emojione-0034-20E3 {
  background-position: 5.71429% 2.85714%; }

.emojione-0035-20E3 {
  background-position: 0% 5.71429%; }

.emojione-0036-20E3 {
  background-position: 2.85714% 5.71429%; }

.emojione-0037-20E3 {
  background-position: 5.71429% 5.71429%; }

.emojione-0038-20E3 {
  background-position: 8.57143% 0%; }

.emojione-0039-20E3 {
  background-position: 8.57143% 2.85714%; }

.emojione-00A9 {
  background-position: 8.57143% 5.71429%; }

.emojione-00AE {
  background-position: 0% 8.57143%; }

.emojione-1F004 {
  background-position: 2.85714% 8.57143%; }

.emojione-1F0CF {
  background-position: 5.71429% 8.57143%; }

.emojione-1F170 {
  background-position: 8.57143% 8.57143%; }

.emojione-1F171 {
  background-position: 11.42857% 0%; }

.emojione-1F17E {
  background-position: 11.42857% 2.85714%; }

.emojione-1F17F {
  background-position: 11.42857% 5.71429%; }

.emojione-1F18E {
  background-position: 11.42857% 8.57143%; }

.emojione-1F191 {
  background-position: 0% 11.42857%; }

.emojione-1F192 {
  background-position: 2.85714% 11.42857%; }

.emojione-1F193 {
  background-position: 5.71429% 11.42857%; }

.emojione-1F194 {
  background-position: 8.57143% 11.42857%; }

.emojione-1F195 {
  background-position: 11.42857% 11.42857%; }

.emojione-1F196 {
  background-position: 14.28571% 0%; }

.emojione-1F197 {
  background-position: 14.28571% 2.85714%; }

.emojione-1F198 {
  background-position: 14.28571% 5.71429%; }

.emojione-1F199 {
  background-position: 14.28571% 8.57143%; }

.emojione-1F19A {
  background-position: 14.28571% 11.42857%; }

.emojione-1F1E6-1F1E8 {
  background-position: 0% 14.28571%; }

.emojione-1F1E6-1F1E9 {
  background-position: 2.85714% 14.28571%; }

.emojione-1F1E6-1F1EA {
  background-position: 5.71429% 14.28571%; }

.emojione-1F1E6-1F1EB {
  background-position: 8.57143% 14.28571%; }

.emojione-1F1E6-1F1EC {
  background-position: 11.42857% 14.28571%; }

.emojione-1F1E6-1F1EE {
  background-position: 14.28571% 14.28571%; }

.emojione-1F1E6-1F1F1 {
  background-position: 17.14286% 0%; }

.emojione-1F1E6-1F1F2 {
  background-position: 17.14286% 2.85714%; }

.emojione-1F1E6-1F1F4 {
  background-position: 17.14286% 5.71429%; }

.emojione-1F1E6-1F1F7 {
  background-position: 17.14286% 8.57143%; }

.emojione-1F1E6-1F1F9 {
  background-position: 17.14286% 11.42857%; }

.emojione-1F1E6-1F1FA {
  background-position: 17.14286% 14.28571%; }

.emojione-1F1E6-1F1FC {
  background-position: 0% 17.14286%; }

.emojione-1F1E6-1F1FF {
  background-position: 2.85714% 17.14286%; }

.emojione-1F1E7-1F1E6 {
  background-position: 5.71429% 17.14286%; }

.emojione-1F1E7-1F1E7 {
  background-position: 8.57143% 17.14286%; }

.emojione-1F1E7-1F1E9 {
  background-position: 11.42857% 17.14286%; }

.emojione-1F1E7-1F1EA {
  background-position: 14.28571% 17.14286%; }

.emojione-1F1E7-1F1EB {
  background-position: 17.14286% 17.14286%; }

.emojione-1F1E7-1F1EC {
  background-position: 20% 0%; }

.emojione-1F1E7-1F1ED {
  background-position: 20% 2.85714%; }

.emojione-1F1E7-1F1EE {
  background-position: 20% 5.71429%; }

.emojione-1F1E7-1F1EF {
  background-position: 20% 8.57143%; }

.emojione-1F1E7-1F1F2 {
  background-position: 20% 11.42857%; }

.emojione-1F1E7-1F1F3 {
  background-position: 20% 14.28571%; }

.emojione-1F1E7-1F1F4 {
  background-position: 20% 17.14286%; }

.emojione-1F1E7-1F1F7 {
  background-position: 0% 20%; }

.emojione-1F1E7-1F1F8 {
  background-position: 2.85714% 20%; }

.emojione-1F1E7-1F1F9 {
  background-position: 5.71429% 20%; }

.emojione-1F1E7-1F1FC {
  background-position: 8.57143% 20%; }

.emojione-1F1E7-1F1FE {
  background-position: 11.42857% 20%; }

.emojione-1F1E7-1F1FF {
  background-position: 14.28571% 20%; }

.emojione-1F1E8-1F1E6 {
  background-position: 17.14286% 20%; }

.emojione-1F1E8-1F1E9 {
  background-position: 20% 20%; }

.emojione-1F1E8-1F1EB {
  background-position: 22.85714% 0%; }

.emojione-1F1E8-1F1EC {
  background-position: 22.85714% 2.85714%; }

.emojione-1F1E8-1F1ED {
  background-position: 22.85714% 5.71429%; }

.emojione-1F1E8-1F1EE {
  background-position: 22.85714% 8.57143%; }

.emojione-1F1E8-1F1F1 {
  background-position: 22.85714% 11.42857%; }

.emojione-1F1E8-1F1F2 {
  background-position: 22.85714% 14.28571%; }

.emojione-1F1E8-1F1F3 {
  background-position: 22.85714% 17.14286%; }

.emojione-1F1E8-1F1F4 {
  background-position: 22.85714% 20%; }

.emojione-1F1E8-1F1F7 {
  background-position: 0% 22.85714%; }

.emojione-1F1E8-1F1FA {
  background-position: 2.85714% 22.85714%; }

.emojione-1F1E8-1F1FB {
  background-position: 5.71429% 22.85714%; }

.emojione-1F1E8-1F1FE {
  background-position: 8.57143% 22.85714%; }

.emojione-1F1E8-1F1FF {
  background-position: 11.42857% 22.85714%; }

.emojione-1F1E9-1F1EA {
  background-position: 14.28571% 22.85714%; }

.emojione-1F1E9-1F1EF {
  background-position: 17.14286% 22.85714%; }

.emojione-1F1E9-1F1F0 {
  background-position: 20% 22.85714%; }

.emojione-1F1E9-1F1F2 {
  background-position: 22.85714% 22.85714%; }

.emojione-1F1E9-1F1F4 {
  background-position: 25.71429% 0%; }

.emojione-1F1E9-1F1FF {
  background-position: 25.71429% 2.85714%; }

.emojione-1F1EA-1F1E8 {
  background-position: 25.71429% 5.71429%; }

.emojione-1F1EA-1F1EA {
  background-position: 25.71429% 8.57143%; }

.emojione-1F1EA-1F1EC {
  background-position: 25.71429% 11.42857%; }

.emojione-1F1EA-1F1ED {
  background-position: 25.71429% 14.28571%; }

.emojione-1F1EA-1F1F7 {
  background-position: 25.71429% 17.14286%; }

.emojione-1F1EA-1F1F8 {
  background-position: 25.71429% 20%; }

.emojione-1F1EA-1F1F9 {
  background-position: 25.71429% 22.85714%; }

.emojione-1F1EB-1F1EE {
  background-position: 0% 25.71429%; }

.emojione-1F1EB-1F1EF {
  background-position: 2.85714% 25.71429%; }

.emojione-1F1EB-1F1F0 {
  background-position: 5.71429% 25.71429%; }

.emojione-1F1EB-1F1F2 {
  background-position: 8.57143% 25.71429%; }

.emojione-1F1EB-1F1F4 {
  background-position: 11.42857% 25.71429%; }

.emojione-1F1EB-1F1F7 {
  background-position: 14.28571% 25.71429%; }

.emojione-1F1EC-1F1E6 {
  background-position: 17.14286% 25.71429%; }

.emojione-1F1EC-1F1E7 {
  background-position: 20% 25.71429%; }

.emojione-1F1EC-1F1E9 {
  background-position: 22.85714% 25.71429%; }

.emojione-1F1EC-1F1EA {
  background-position: 25.71429% 25.71429%; }

.emojione-1F1EC-1F1ED {
  background-position: 28.57143% 0%; }

.emojione-1F1EC-1F1EE {
  background-position: 28.57143% 2.85714%; }

.emojione-1F1EC-1F1F1 {
  background-position: 28.57143% 5.71429%; }

.emojione-1F1EC-1F1F2 {
  background-position: 28.57143% 8.57143%; }

.emojione-1F1EC-1F1F3 {
  background-position: 28.57143% 11.42857%; }

.emojione-1F1EC-1F1F6 {
  background-position: 28.57143% 14.28571%; }

.emojione-1F1EC-1F1F7 {
  background-position: 28.57143% 17.14286%; }

.emojione-1F1EC-1F1F9 {
  background-position: 28.57143% 20%; }

.emojione-1F1EC-1F1FA {
  background-position: 28.57143% 22.85714%; }

.emojione-1F1EC-1F1FC {
  background-position: 28.57143% 25.71429%; }

.emojione-1F1EC-1F1FE {
  background-position: 0% 28.57143%; }

.emojione-1F1ED-1F1F0 {
  background-position: 2.85714% 28.57143%; }

.emojione-1F1ED-1F1F3 {
  background-position: 5.71429% 28.57143%; }

.emojione-1F1ED-1F1F7 {
  background-position: 8.57143% 28.57143%; }

.emojione-1F1ED-1F1F9 {
  background-position: 11.42857% 28.57143%; }

.emojione-1F1ED-1F1FA {
  background-position: 14.28571% 28.57143%; }

.emojione-1F1EE-1F1E9 {
  background-position: 17.14286% 28.57143%; }

.emojione-1F1EE-1F1EA {
  background-position: 20% 28.57143%; }

.emojione-1F1EE-1F1F1 {
  background-position: 22.85714% 28.57143%; }

.emojione-1F1EE-1F1F3 {
  background-position: 25.71429% 28.57143%; }

.emojione-1F1EE-1F1F6 {
  background-position: 28.57143% 28.57143%; }

.emojione-1F1EE-1F1F7 {
  background-position: 31.42857% 0%; }

.emojione-1F1EE-1F1F8 {
  background-position: 31.42857% 2.85714%; }

.emojione-1F1EE-1F1F9 {
  background-position: 31.42857% 5.71429%; }

.emojione-1F1EF-1F1EA {
  background-position: 31.42857% 8.57143%; }

.emojione-1F1EF-1F1F2 {
  background-position: 31.42857% 11.42857%; }

.emojione-1F1EF-1F1F4 {
  background-position: 31.42857% 14.28571%; }

.emojione-1F1EF-1F1F5 {
  background-position: 31.42857% 17.14286%; }

.emojione-1F1F0-1F1EA {
  background-position: 31.42857% 20%; }

.emojione-1F1F0-1F1EC {
  background-position: 31.42857% 22.85714%; }

.emojione-1F1F0-1F1ED {
  background-position: 31.42857% 25.71429%; }

.emojione-1F1F0-1F1EE {
  background-position: 31.42857% 28.57143%; }

.emojione-1F1F0-1F1F2 {
  background-position: 0% 31.42857%; }

.emojione-1F1F0-1F1F3 {
  background-position: 2.85714% 31.42857%; }

.emojione-1F1F0-1F1F5 {
  background-position: 5.71429% 31.42857%; }

.emojione-1F1F0-1F1F7 {
  background-position: 8.57143% 31.42857%; }

.emojione-1F1F0-1F1FC {
  background-position: 11.42857% 31.42857%; }

.emojione-1F1F0-1F1FE {
  background-position: 14.28571% 31.42857%; }

.emojione-1F1F0-1F1FF {
  background-position: 17.14286% 31.42857%; }

.emojione-1F1F1-1F1E6 {
  background-position: 20% 31.42857%; }

.emojione-1F1F1-1F1E7 {
  background-position: 22.85714% 31.42857%; }

.emojione-1F1F1-1F1E8 {
  background-position: 25.71429% 31.42857%; }

.emojione-1F1F1-1F1EE {
  background-position: 28.57143% 31.42857%; }

.emojione-1F1F1-1F1F0 {
  background-position: 31.42857% 31.42857%; }

.emojione-1F1F1-1F1F7 {
  background-position: 34.28571% 0%; }

.emojione-1F1F1-1F1F8 {
  background-position: 34.28571% 2.85714%; }

.emojione-1F1F1-1F1F9 {
  background-position: 34.28571% 5.71429%; }

.emojione-1F1F1-1F1FA {
  background-position: 34.28571% 8.57143%; }

.emojione-1F1F1-1F1FB {
  background-position: 34.28571% 11.42857%; }

.emojione-1F1F1-1F1FE {
  background-position: 34.28571% 14.28571%; }

.emojione-1F1F2-1F1E6 {
  background-position: 34.28571% 17.14286%; }

.emojione-1F1F2-1F1E8 {
  background-position: 34.28571% 20%; }

.emojione-1F1F2-1F1E9 {
  background-position: 34.28571% 22.85714%; }

.emojione-1F1F2-1F1EA {
  background-position: 34.28571% 25.71429%; }

.emojione-1F1F2-1F1EC {
  background-position: 34.28571% 28.57143%; }

.emojione-1F1F2-1F1ED {
  background-position: 34.28571% 31.42857%; }

.emojione-1F1F2-1F1F0 {
  background-position: 0% 34.28571%; }

.emojione-1F1F2-1F1F1 {
  background-position: 2.85714% 34.28571%; }

.emojione-1F1F2-1F1F2 {
  background-position: 5.71429% 34.28571%; }

.emojione-1F1F2-1F1F3 {
  background-position: 8.57143% 34.28571%; }

.emojione-1F1F2-1F1F4 {
  background-position: 11.42857% 34.28571%; }

.emojione-1F1F2-1F1F7 {
  background-position: 14.28571% 34.28571%; }

.emojione-1F1F2-1F1F8 {
  background-position: 17.14286% 34.28571%; }

.emojione-1F1F2-1F1F9 {
  background-position: 20% 34.28571%; }

.emojione-1F1F2-1F1FA {
  background-position: 22.85714% 34.28571%; }

.emojione-1F1F2-1F1FB {
  background-position: 25.71429% 34.28571%; }

.emojione-1F1F2-1F1FC {
  background-position: 28.57143% 34.28571%; }

.emojione-1F1F2-1F1FD {
  background-position: 31.42857% 34.28571%; }

.emojione-1F1F2-1F1FE {
  background-position: 34.28571% 34.28571%; }

.emojione-1F1F2-1F1FF {
  background-position: 37.14286% 0%; }

.emojione-1F1F3-1F1E6 {
  background-position: 37.14286% 2.85714%; }

.emojione-1F1F3-1F1E8 {
  background-position: 37.14286% 5.71429%; }

.emojione-1F1F3-1F1EA {
  background-position: 37.14286% 8.57143%; }

.emojione-1F1F3-1F1EC {
  background-position: 37.14286% 11.42857%; }

.emojione-1F1F3-1F1EE {
  background-position: 37.14286% 14.28571%; }

.emojione-1F1F3-1F1F1 {
  background-position: 37.14286% 17.14286%; }

.emojione-1F1F3-1F1F4 {
  background-position: 37.14286% 20%; }

.emojione-1F1F3-1F1F5 {
  background-position: 37.14286% 22.85714%; }

.emojione-1F1F3-1F1F7 {
  background-position: 37.14286% 25.71429%; }

.emojione-1F1F3-1F1FA {
  background-position: 37.14286% 28.57143%; }

.emojione-1F1F3-1F1FF {
  background-position: 37.14286% 31.42857%; }

.emojione-1F1F4-1F1F2 {
  background-position: 37.14286% 34.28571%; }

.emojione-1F1F5-1F1E6 {
  background-position: 0% 37.14286%; }

.emojione-1F1F5-1F1EA {
  background-position: 2.85714% 37.14286%; }

.emojione-1F1F5-1F1EB {
  background-position: 5.71429% 37.14286%; }

.emojione-1F1F5-1F1EC {
  background-position: 8.57143% 37.14286%; }

.emojione-1F1F5-1F1ED {
  background-position: 11.42857% 37.14286%; }

.emojione-1F1F5-1F1F0 {
  background-position: 14.28571% 37.14286%; }

.emojione-1F1F5-1F1F1 {
  background-position: 17.14286% 37.14286%; }

.emojione-1F1F5-1F1F7 {
  background-position: 20% 37.14286%; }

.emojione-1F1F5-1F1F8 {
  background-position: 22.85714% 37.14286%; }

.emojione-1F1F5-1F1F9 {
  background-position: 25.71429% 37.14286%; }

.emojione-1F1F5-1F1FC {
  background-position: 28.57143% 37.14286%; }

.emojione-1F1F5-1F1FE {
  background-position: 31.42857% 37.14286%; }

.emojione-1F1F6-1F1E6 {
  background-position: 34.28571% 37.14286%; }

.emojione-1F1F7-1F1F4 {
  background-position: 37.14286% 37.14286%; }

.emojione-1F1F7-1F1F8 {
  background-position: 40% 0%; }

.emojione-1F1F7-1F1FA {
  background-position: 40% 2.85714%; }

.emojione-1F1F7-1F1FC {
  background-position: 40% 5.71429%; }

.emojione-1F1F8-1F1E6 {
  background-position: 40% 8.57143%; }

.emojione-1F1F8-1F1E7 {
  background-position: 40% 11.42857%; }

.emojione-1F1F8-1F1E8 {
  background-position: 40% 14.28571%; }

.emojione-1F1F8-1F1E9 {
  background-position: 40% 17.14286%; }

.emojione-1F1F8-1F1EA {
  background-position: 40% 20%; }

.emojione-1F1F8-1F1EC {
  background-position: 40% 22.85714%; }

.emojione-1F1F8-1F1ED {
  background-position: 40% 25.71429%; }

.emojione-1F1F8-1F1EE {
  background-position: 40% 28.57143%; }

.emojione-1F1F8-1F1F0 {
  background-position: 40% 31.42857%; }

.emojione-1F1F8-1F1F1 {
  background-position: 40% 34.28571%; }

.emojione-1F1F8-1F1F2 {
  background-position: 40% 37.14286%; }

.emojione-1F1F8-1F1F3 {
  background-position: 0% 40%; }

.emojione-1F1F8-1F1F4 {
  background-position: 2.85714% 40%; }

.emojione-1F1F8-1F1F7 {
  background-position: 5.71429% 40%; }

.emojione-1F1F8-1F1F9 {
  background-position: 8.57143% 40%; }

.emojione-1F1F8-1F1FB {
  background-position: 11.42857% 40%; }

.emojione-1F1F8-1F1FE {
  background-position: 14.28571% 40%; }

.emojione-1F1F8-1F1FF {
  background-position: 17.14286% 40%; }

.emojione-1F1F9-1F1E9 {
  background-position: 20% 40%; }

.emojione-1F1F9-1F1EC {
  background-position: 22.85714% 40%; }

.emojione-1F1F9-1F1ED {
  background-position: 25.71429% 40%; }

.emojione-1F1F9-1F1EF {
  background-position: 28.57143% 40%; }

.emojione-1F1F9-1F1F1 {
  background-position: 31.42857% 40%; }

.emojione-1F1F9-1F1F2 {
  background-position: 34.28571% 40%; }

.emojione-1F1F9-1F1F3 {
  background-position: 37.14286% 40%; }

.emojione-1F1F9-1F1F4 {
  background-position: 40% 40%; }

.emojione-1F1F9-1F1F7 {
  background-position: 42.85714% 0%; }

.emojione-1F1F9-1F1F9 {
  background-position: 42.85714% 2.85714%; }

.emojione-1F1F9-1F1FB {
  background-position: 42.85714% 5.71429%; }

.emojione-1F1F9-1F1FC {
  background-position: 42.85714% 8.57143%; }

.emojione-1F1F9-1F1FF {
  background-position: 42.85714% 11.42857%; }

.emojione-1F1FA-1F1E6 {
  background-position: 42.85714% 14.28571%; }

.emojione-1F1FA-1F1EC {
  background-position: 42.85714% 17.14286%; }

.emojione-1F1FA-1F1F8 {
  background-position: 42.85714% 20%; }

.emojione-1F1FA-1F1FE {
  background-position: 42.85714% 22.85714%; }

.emojione-1F1FA-1F1FF {
  background-position: 42.85714% 25.71429%; }

.emojione-1F1FB-1F1E6 {
  background-position: 42.85714% 28.57143%; }

.emojione-1F1FB-1F1E8 {
  background-position: 42.85714% 31.42857%; }

.emojione-1F1FB-1F1EA {
  background-position: 42.85714% 34.28571%; }

.emojione-1F1FB-1F1EE {
  background-position: 42.85714% 37.14286%; }

.emojione-1F1FB-1F1F3 {
  background-position: 42.85714% 40%; }

.emojione-1F1FB-1F1FA {
  background-position: 0% 42.85714%; }

.emojione-1F1FC-1F1EB {
  background-position: 2.85714% 42.85714%; }

.emojione-1F1FC-1F1F8 {
  background-position: 5.71429% 42.85714%; }

.emojione-1F1FD-1F1F0 {
  background-position: 8.57143% 42.85714%; }

.emojione-1F1FE-1F1EA {
  background-position: 11.42857% 42.85714%; }

.emojione-1F1FF-1F1E6 {
  background-position: 14.28571% 42.85714%; }

.emojione-1F1FF-1F1F2 {
  background-position: 17.14286% 42.85714%; }

.emojione-1F1FF-1F1FC {
  background-position: 20% 42.85714%; }

.emojione-1F201 {
  background-position: 22.85714% 42.85714%; }

.emojione-1F202 {
  background-position: 25.71429% 42.85714%; }

.emojione-1F21A {
  background-position: 28.57143% 42.85714%; }

.emojione-1F22F {
  background-position: 31.42857% 42.85714%; }

.emojione-1F232 {
  background-position: 34.28571% 42.85714%; }

.emojione-1F233 {
  background-position: 37.14286% 42.85714%; }

.emojione-1F234 {
  background-position: 40% 42.85714%; }

.emojione-1F235 {
  background-position: 42.85714% 42.85714%; }

.emojione-1F236 {
  background-position: 45.71429% 0%; }

.emojione-1F237 {
  background-position: 45.71429% 2.85714%; }

.emojione-1F238 {
  background-position: 45.71429% 5.71429%; }

.emojione-1F239 {
  background-position: 45.71429% 8.57143%; }

.emojione-1F23A {
  background-position: 45.71429% 11.42857%; }

.emojione-1F250 {
  background-position: 45.71429% 14.28571%; }

.emojione-1F251 {
  background-position: 45.71429% 17.14286%; }

.emojione-1F300 {
  background-position: 45.71429% 20%; }

.emojione-1F301 {
  background-position: 45.71429% 22.85714%; }

.emojione-1F302 {
  background-position: 45.71429% 25.71429%; }

.emojione-1F303 {
  background-position: 45.71429% 28.57143%; }

.emojione-1F304 {
  background-position: 45.71429% 31.42857%; }

.emojione-1F305 {
  background-position: 45.71429% 34.28571%; }

.emojione-1F306 {
  background-position: 45.71429% 37.14286%; }

.emojione-1F307 {
  background-position: 45.71429% 40%; }

.emojione-1F308 {
  background-position: 45.71429% 42.85714%; }

.emojione-1F309 {
  background-position: 0% 45.71429%; }

.emojione-1F30A {
  background-position: 2.85714% 45.71429%; }

.emojione-1F30B {
  background-position: 5.71429% 45.71429%; }

.emojione-1F30C {
  background-position: 8.57143% 45.71429%; }

.emojione-1F30D {
  background-position: 11.42857% 45.71429%; }

.emojione-1F30E {
  background-position: 14.28571% 45.71429%; }

.emojione-1F30F {
  background-position: 17.14286% 45.71429%; }

.emojione-1F310 {
  background-position: 20% 45.71429%; }

.emojione-1F311 {
  background-position: 22.85714% 45.71429%; }

.emojione-1F312 {
  background-position: 25.71429% 45.71429%; }

.emojione-1F313 {
  background-position: 28.57143% 45.71429%; }

.emojione-1F314 {
  background-position: 31.42857% 45.71429%; }

.emojione-1F315 {
  background-position: 34.28571% 45.71429%; }

.emojione-1F316 {
  background-position: 37.14286% 45.71429%; }

.emojione-1F317 {
  background-position: 40% 45.71429%; }

.emojione-1F318 {
  background-position: 42.85714% 45.71429%; }

.emojione-1F319 {
  background-position: 45.71429% 45.71429%; }

.emojione-1F31A {
  background-position: 48.57143% 0%; }

.emojione-1F31B {
  background-position: 48.57143% 2.85714%; }

.emojione-1F31C {
  background-position: 48.57143% 5.71429%; }

.emojione-1F31D {
  background-position: 48.57143% 8.57143%; }

.emojione-1F31E {
  background-position: 48.57143% 11.42857%; }

.emojione-1F31F {
  background-position: 48.57143% 14.28571%; }

.emojione-1F320 {
  background-position: 48.57143% 17.14286%; }

.emojione-1F321 {
  background-position: 48.57143% 20%; }

.emojione-1F327 {
  background-position: 48.57143% 22.85714%; }

.emojione-1F328 {
  background-position: 48.57143% 25.71429%; }

.emojione-1F329 {
  background-position: 48.57143% 28.57143%; }

.emojione-1F32A {
  background-position: 48.57143% 31.42857%; }

.emojione-1F32B {
  background-position: 48.57143% 34.28571%; }

.emojione-1F32C {
  background-position: 48.57143% 37.14286%; }

.emojione-1F330 {
  background-position: 48.57143% 40%; }

.emojione-1F331 {
  background-position: 48.57143% 42.85714%; }

.emojione-1F332 {
  background-position: 48.57143% 45.71429%; }

.emojione-1F333 {
  background-position: 0% 48.57143%; }

.emojione-1F334 {
  background-position: 2.85714% 48.57143%; }

.emojione-1F335 {
  background-position: 5.71429% 48.57143%; }

.emojione-1F336 {
  background-position: 8.57143% 48.57143%; }

.emojione-1F337 {
  background-position: 11.42857% 48.57143%; }

.emojione-1F338 {
  background-position: 14.28571% 48.57143%; }

.emojione-1F339 {
  background-position: 17.14286% 48.57143%; }

.emojione-1F33A {
  background-position: 20% 48.57143%; }

.emojione-1F33B {
  background-position: 22.85714% 48.57143%; }

.emojione-1F33C {
  background-position: 25.71429% 48.57143%; }

.emojione-1F33D {
  background-position: 28.57143% 48.57143%; }

.emojione-1F33E {
  background-position: 31.42857% 48.57143%; }

.emojione-1F33F {
  background-position: 34.28571% 48.57143%; }

.emojione-1F340 {
  background-position: 37.14286% 48.57143%; }

.emojione-1F341 {
  background-position: 40% 48.57143%; }

.emojione-1F342 {
  background-position: 42.85714% 48.57143%; }

.emojione-1F343 {
  background-position: 45.71429% 48.57143%; }

.emojione-1F344 {
  background-position: 48.57143% 48.57143%; }

.emojione-1F345 {
  background-position: 51.42857% 0%; }

.emojione-1F346 {
  background-position: 51.42857% 2.85714%; }

.emojione-1F347 {
  background-position: 51.42857% 5.71429%; }

.emojione-1F348 {
  background-position: 51.42857% 8.57143%; }

.emojione-1F349 {
  background-position: 51.42857% 11.42857%; }

.emojione-1F34A {
  background-position: 51.42857% 14.28571%; }

.emojione-1F34B {
  background-position: 51.42857% 17.14286%; }

.emojione-1F34C {
  background-position: 51.42857% 20%; }

.emojione-1F34D {
  background-position: 51.42857% 22.85714%; }

.emojione-1F34E {
  background-position: 51.42857% 25.71429%; }

.emojione-1F34F {
  background-position: 51.42857% 28.57143%; }

.emojione-1F350 {
  background-position: 51.42857% 31.42857%; }

.emojione-1F351 {
  background-position: 51.42857% 34.28571%; }

.emojione-1F352 {
  background-position: 51.42857% 37.14286%; }

.emojione-1F353 {
  background-position: 51.42857% 40%; }

.emojione-1F354 {
  background-position: 51.42857% 42.85714%; }

.emojione-1F355 {
  background-position: 51.42857% 45.71429%; }

.emojione-1F356 {
  background-position: 51.42857% 48.57143%; }

.emojione-1F357 {
  background-position: 0% 51.42857%; }

.emojione-1F358 {
  background-position: 2.85714% 51.42857%; }

.emojione-1F359 {
  background-position: 5.71429% 51.42857%; }

.emojione-1F35A {
  background-position: 8.57143% 51.42857%; }

.emojione-1F35B {
  background-position: 11.42857% 51.42857%; }

.emojione-1F35C {
  background-position: 14.28571% 51.42857%; }

.emojione-1F35D {
  background-position: 17.14286% 51.42857%; }

.emojione-1F35E {
  background-position: 20% 51.42857%; }

.emojione-1F35F {
  background-position: 22.85714% 51.42857%; }

.emojione-1F360 {
  background-position: 25.71429% 51.42857%; }

.emojione-1F361 {
  background-position: 28.57143% 51.42857%; }

.emojione-1F362 {
  background-position: 31.42857% 51.42857%; }

.emojione-1F363 {
  background-position: 34.28571% 51.42857%; }

.emojione-1F364 {
  background-position: 37.14286% 51.42857%; }

.emojione-1F365 {
  background-position: 40% 51.42857%; }

.emojione-1F366 {
  background-position: 42.85714% 51.42857%; }

.emojione-1F367 {
  background-position: 45.71429% 51.42857%; }

.emojione-1F368 {
  background-position: 48.57143% 51.42857%; }

.emojione-1F369 {
  background-position: 51.42857% 51.42857%; }

.emojione-1F36A {
  background-position: 54.28571% 0%; }

.emojione-1F36B {
  background-position: 54.28571% 2.85714%; }

.emojione-1F36C {
  background-position: 54.28571% 5.71429%; }

.emojione-1F36D {
  background-position: 54.28571% 8.57143%; }

.emojione-1F36E {
  background-position: 54.28571% 11.42857%; }

.emojione-1F36F {
  background-position: 54.28571% 14.28571%; }

.emojione-1F370 {
  background-position: 54.28571% 17.14286%; }

.emojione-1F371 {
  background-position: 54.28571% 20%; }

.emojione-1F372 {
  background-position: 54.28571% 22.85714%; }

.emojione-1F373 {
  background-position: 54.28571% 25.71429%; }

.emojione-1F374 {
  background-position: 54.28571% 28.57143%; }

.emojione-1F375 {
  background-position: 54.28571% 31.42857%; }

.emojione-1F376 {
  background-position: 54.28571% 34.28571%; }

.emojione-1F377 {
  background-position: 54.28571% 37.14286%; }

.emojione-1F378 {
  background-position: 54.28571% 40%; }

.emojione-1F379 {
  background-position: 54.28571% 42.85714%; }

.emojione-1F37A {
  background-position: 54.28571% 45.71429%; }

.emojione-1F37B {
  background-position: 54.28571% 48.57143%; }

.emojione-1F37C {
  background-position: 54.28571% 51.42857%; }

.emojione-1F37D {
  background-position: 0% 54.28571%; }

.emojione-1F380 {
  background-position: 2.85714% 54.28571%; }

.emojione-1F381 {
  background-position: 5.71429% 54.28571%; }

.emojione-1F382 {
  background-position: 8.57143% 54.28571%; }

.emojione-1F383 {
  background-position: 11.42857% 54.28571%; }

.emojione-1F384 {
  background-position: 14.28571% 54.28571%; }

.emojione-1F385 {
  background-position: 17.14286% 54.28571%; }

.emojione-1F386 {
  background-position: 20% 54.28571%; }

.emojione-1F387 {
  background-position: 22.85714% 54.28571%; }

.emojione-1F388 {
  background-position: 25.71429% 54.28571%; }

.emojione-1F389 {
  background-position: 28.57143% 54.28571%; }

.emojione-1F38A {
  background-position: 31.42857% 54.28571%; }

.emojione-1F38B {
  background-position: 34.28571% 54.28571%; }

.emojione-1F38C {
  background-position: 37.14286% 54.28571%; }

.emojione-1F38D {
  background-position: 40% 54.28571%; }

.emojione-1F38E {
  background-position: 42.85714% 54.28571%; }

.emojione-1F38F {
  background-position: 45.71429% 54.28571%; }

.emojione-1F390 {
  background-position: 48.57143% 54.28571%; }

.emojione-1F391 {
  background-position: 51.42857% 54.28571%; }

.emojione-1F392 {
  background-position: 54.28571% 54.28571%; }

.emojione-1F393 {
  background-position: 57.14286% 0%; }

.emojione-1F394 {
  background-position: 57.14286% 2.85714%; }

.emojione-1F395 {
  background-position: 57.14286% 5.71429%; }

.emojione-1F396 {
  background-position: 57.14286% 8.57143%; }

.emojione-1F397 {
  background-position: 57.14286% 11.42857%; }

.emojione-1F398 {
  background-position: 57.14286% 14.28571%; }

.emojione-1F399 {
  background-position: 57.14286% 17.14286%; }

.emojione-1F39A {
  background-position: 57.14286% 20%; }

.emojione-1F39B {
  background-position: 57.14286% 22.85714%; }

.emojione-1F39C {
  background-position: 57.14286% 25.71429%; }

.emojione-1F39D {
  background-position: 57.14286% 28.57143%; }

.emojione-1F39E {
  background-position: 57.14286% 31.42857%; }

.emojione-1F39F {
  background-position: 57.14286% 34.28571%; }

.emojione-1F3A0 {
  background-position: 57.14286% 37.14286%; }

.emojione-1F3A1 {
  background-position: 57.14286% 40%; }

.emojione-1F3A2 {
  background-position: 57.14286% 42.85714%; }

.emojione-1F3A3 {
  background-position: 57.14286% 45.71429%; }

.emojione-1F3A4 {
  background-position: 57.14286% 48.57143%; }

.emojione-1F3A5 {
  background-position: 57.14286% 51.42857%; }

.emojione-1F3A6 {
  background-position: 57.14286% 54.28571%; }

.emojione-1F3A7 {
  background-position: 0% 57.14286%; }

.emojione-1F3A8 {
  background-position: 2.85714% 57.14286%; }

.emojione-1F3A9 {
  background-position: 5.71429% 57.14286%; }

.emojione-1F3AA {
  background-position: 8.57143% 57.14286%; }

.emojione-1F3AB {
  background-position: 11.42857% 57.14286%; }

.emojione-1F3AC {
  background-position: 14.28571% 57.14286%; }

.emojione-1F3AD {
  background-position: 17.14286% 57.14286%; }

.emojione-1F3AE {
  background-position: 20% 57.14286%; }

.emojione-1F3AF {
  background-position: 22.85714% 57.14286%; }

.emojione-1F3B0 {
  background-position: 25.71429% 57.14286%; }

.emojione-1F3B1 {
  background-position: 28.57143% 57.14286%; }

.emojione-1F3B2 {
  background-position: 31.42857% 57.14286%; }

.emojione-1F3B3 {
  background-position: 34.28571% 57.14286%; }

.emojione-1F3B4 {
  background-position: 37.14286% 57.14286%; }

.emojione-1F3B5 {
  background-position: 40% 57.14286%; }

.emojione-1F3B6 {
  background-position: 42.85714% 57.14286%; }

.emojione-1F3B7 {
  background-position: 45.71429% 57.14286%; }

.emojione-1F3B8 {
  background-position: 48.57143% 57.14286%; }

.emojione-1F3B9 {
  background-position: 51.42857% 57.14286%; }

.emojione-1F3BA {
  background-position: 54.28571% 57.14286%; }

.emojione-1F3BB {
  background-position: 57.14286% 57.14286%; }

.emojione-1F3BC {
  background-position: 60% 0%; }

.emojione-1F3BD {
  background-position: 60% 2.85714%; }

.emojione-1F3BE {
  background-position: 60% 5.71429%; }

.emojione-1F3BF {
  background-position: 60% 8.57143%; }

.emojione-1F3C0 {
  background-position: 60% 11.42857%; }

.emojione-1F3C1 {
  background-position: 60% 14.28571%; }

.emojione-1F3C2 {
  background-position: 60% 17.14286%; }

.emojione-1F3C3 {
  background-position: 60% 20%; }

.emojione-1F3C4 {
  background-position: 60% 22.85714%; }

.emojione-1F3C5 {
  background-position: 60% 25.71429%; }

.emojione-1F3C6 {
  background-position: 60% 28.57143%; }

.emojione-1F3C7 {
  background-position: 60% 31.42857%; }

.emojione-1F3C8 {
  background-position: 60% 34.28571%; }

.emojione-1F3C9 {
  background-position: 60% 37.14286%; }

.emojione-1F3CA {
  background-position: 60% 40%; }

.emojione-1F3CB {
  background-position: 60% 42.85714%; }

.emojione-1F3CC {
  background-position: 60% 45.71429%; }

.emojione-1F3CD {
  background-position: 60% 48.57143%; }

.emojione-1F3CE {
  background-position: 60% 51.42857%; }

.emojione-1F3D4 {
  background-position: 60% 54.28571%; }

.emojione-1F3D5 {
  background-position: 60% 57.14286%; }

.emojione-1F3D6 {
  background-position: 0% 60%; }

.emojione-1F3D7 {
  background-position: 2.85714% 60%; }

.emojione-1F3D8 {
  background-position: 5.71429% 60%; }

.emojione-1F3D9 {
  background-position: 8.57143% 60%; }

.emojione-1F3DA {
  background-position: 11.42857% 60%; }

.emojione-1F3DB {
  background-position: 14.28571% 60%; }

.emojione-1F3DC {
  background-position: 17.14286% 60%; }

.emojione-1F3DD {
  background-position: 20% 60%; }

.emojione-1F3DE {
  background-position: 22.85714% 60%; }

.emojione-1F3DF {
  background-position: 25.71429% 60%; }

.emojione-1F3E0 {
  background-position: 28.57143% 60%; }

.emojione-1F3E1 {
  background-position: 31.42857% 60%; }

.emojione-1F3E2 {
  background-position: 34.28571% 60%; }

.emojione-1F3E3 {
  background-position: 37.14286% 60%; }

.emojione-1F3E4 {
  background-position: 40% 60%; }

.emojione-1F3E5 {
  background-position: 42.85714% 60%; }

.emojione-1F3E6 {
  background-position: 45.71429% 60%; }

.emojione-1F3E7 {
  background-position: 48.57143% 60%; }

.emojione-1F3E8 {
  background-position: 51.42857% 60%; }

.emojione-1F3E9 {
  background-position: 54.28571% 60%; }

.emojione-1F3EA {
  background-position: 57.14286% 60%; }

.emojione-1F3EB {
  background-position: 60% 60%; }

.emojione-1F3EC {
  background-position: 62.85714% 0%; }

.emojione-1F3ED {
  background-position: 62.85714% 2.85714%; }

.emojione-1F3EE {
  background-position: 62.85714% 5.71429%; }

.emojione-1F3EF {
  background-position: 62.85714% 8.57143%; }

.emojione-1F3F0 {
  background-position: 62.85714% 11.42857%; }

.emojione-1F3F1 {
  background-position: 62.85714% 14.28571%; }

.emojione-1F3F2 {
  background-position: 62.85714% 17.14286%; }

.emojione-1F3F3 {
  background-position: 62.85714% 20%; }

.emojione-1F3F4 {
  background-position: 62.85714% 22.85714%; }

.emojione-1F3F5 {
  background-position: 62.85714% 25.71429%; }

.emojione-1F3F6 {
  background-position: 62.85714% 28.57143%; }

.emojione-1F3F7 {
  background-position: 62.85714% 31.42857%; }

.emojione-1F400 {
  background-position: 62.85714% 34.28571%; }

.emojione-1F401 {
  background-position: 62.85714% 37.14286%; }

.emojione-1F402 {
  background-position: 62.85714% 40%; }

.emojione-1F403 {
  background-position: 62.85714% 42.85714%; }

.emojione-1F404 {
  background-position: 62.85714% 45.71429%; }

.emojione-1F405 {
  background-position: 62.85714% 48.57143%; }

.emojione-1F406 {
  background-position: 62.85714% 51.42857%; }

.emojione-1F407 {
  background-position: 62.85714% 54.28571%; }

.emojione-1F408 {
  background-position: 62.85714% 57.14286%; }

.emojione-1F409 {
  background-position: 62.85714% 60%; }

.emojione-1F40A {
  background-position: 0% 62.85714%; }

.emojione-1F40B {
  background-position: 2.85714% 62.85714%; }

.emojione-1F40C {
  background-position: 5.71429% 62.85714%; }

.emojione-1F40D {
  background-position: 8.57143% 62.85714%; }

.emojione-1F40E {
  background-position: 11.42857% 62.85714%; }

.emojione-1F40F {
  background-position: 14.28571% 62.85714%; }

.emojione-1F410 {
  background-position: 17.14286% 62.85714%; }

.emojione-1F411 {
  background-position: 20% 62.85714%; }

.emojione-1F412 {
  background-position: 22.85714% 62.85714%; }

.emojione-1F413 {
  background-position: 25.71429% 62.85714%; }

.emojione-1F414 {
  background-position: 28.57143% 62.85714%; }

.emojione-1F415 {
  background-position: 31.42857% 62.85714%; }

.emojione-1F416 {
  background-position: 34.28571% 62.85714%; }

.emojione-1F417 {
  background-position: 37.14286% 62.85714%; }

.emojione-1F418 {
  background-position: 40% 62.85714%; }

.emojione-1F419 {
  background-position: 42.85714% 62.85714%; }

.emojione-1F41A {
  background-position: 45.71429% 62.85714%; }

.emojione-1F41B {
  background-position: 48.57143% 62.85714%; }

.emojione-1F41C {
  background-position: 51.42857% 62.85714%; }

.emojione-1F41D {
  background-position: 54.28571% 62.85714%; }

.emojione-1F41E {
  background-position: 57.14286% 62.85714%; }

.emojione-1F41F {
  background-position: 60% 62.85714%; }

.emojione-1F420 {
  background-position: 62.85714% 62.85714%; }

.emojione-1F421 {
  background-position: 65.71429% 0%; }

.emojione-1F422 {
  background-position: 65.71429% 2.85714%; }

.emojione-1F423 {
  background-position: 65.71429% 5.71429%; }

.emojione-1F424 {
  background-position: 65.71429% 8.57143%; }

.emojione-1F425 {
  background-position: 65.71429% 11.42857%; }

.emojione-1F426 {
  background-position: 65.71429% 14.28571%; }

.emojione-1F427 {
  background-position: 65.71429% 17.14286%; }

.emojione-1F428 {
  background-position: 65.71429% 20%; }

.emojione-1F429 {
  background-position: 65.71429% 22.85714%; }

.emojione-1F42A {
  background-position: 65.71429% 25.71429%; }

.emojione-1F42B {
  background-position: 65.71429% 28.57143%; }

.emojione-1F42C {
  background-position: 65.71429% 31.42857%; }

.emojione-1F42D {
  background-position: 65.71429% 34.28571%; }

.emojione-1F42E {
  background-position: 65.71429% 37.14286%; }

.emojione-1F42F {
  background-position: 65.71429% 40%; }

.emojione-1F430 {
  background-position: 65.71429% 42.85714%; }

.emojione-1F431 {
  background-position: 65.71429% 45.71429%; }

.emojione-1F432 {
  background-position: 65.71429% 48.57143%; }

.emojione-1F433 {
  background-position: 65.71429% 51.42857%; }

.emojione-1F434 {
  background-position: 65.71429% 54.28571%; }

.emojione-1F435 {
  background-position: 65.71429% 57.14286%; }

.emojione-1F436 {
  background-position: 65.71429% 60%; }

.emojione-1F437 {
  background-position: 65.71429% 62.85714%; }

.emojione-1F438 {
  background-position: 0% 65.71429%; }

.emojione-1F439 {
  background-position: 2.85714% 65.71429%; }

.emojione-1F43A {
  background-position: 5.71429% 65.71429%; }

.emojione-1F43B {
  background-position: 8.57143% 65.71429%; }

.emojione-1F43C {
  background-position: 11.42857% 65.71429%; }

.emojione-1F43D {
  background-position: 14.28571% 65.71429%; }

.emojione-1F43E {
  background-position: 17.14286% 65.71429%; }

.emojione-1F43F {
  background-position: 20% 65.71429%; }

.emojione-1F440 {
  background-position: 22.85714% 65.71429%; }

.emojione-1F441 {
  background-position: 25.71429% 65.71429%; }

.emojione-1F442 {
  background-position: 28.57143% 65.71429%; }

.emojione-1F443 {
  background-position: 31.42857% 65.71429%; }

.emojione-1F444 {
  background-position: 34.28571% 65.71429%; }

.emojione-1F445 {
  background-position: 37.14286% 65.71429%; }

.emojione-1F446 {
  background-position: 40% 65.71429%; }

.emojione-1F447 {
  background-position: 42.85714% 65.71429%; }

.emojione-1F448 {
  background-position: 45.71429% 65.71429%; }

.emojione-1F449 {
  background-position: 48.57143% 65.71429%; }

.emojione-1F44A {
  background-position: 51.42857% 65.71429%; }

.emojione-1F44B {
  background-position: 54.28571% 65.71429%; }

.emojione-1F44C {
  background-position: 57.14286% 65.71429%; }

.emojione-1F44D {
  background-position: 60% 65.71429%; }

.emojione-1F44E {
  background-position: 62.85714% 65.71429%; }

.emojione-1F44F {
  background-position: 65.71429% 65.71429%; }

.emojione-1F450 {
  background-position: 68.57143% 0%; }

.emojione-1F451 {
  background-position: 68.57143% 2.85714%; }

.emojione-1F452 {
  background-position: 68.57143% 5.71429%; }

.emojione-1F453 {
  background-position: 68.57143% 8.57143%; }

.emojione-1F454 {
  background-position: 68.57143% 11.42857%; }

.emojione-1F455 {
  background-position: 68.57143% 14.28571%; }

.emojione-1F456 {
  background-position: 68.57143% 17.14286%; }

.emojione-1F457 {
  background-position: 68.57143% 20%; }

.emojione-1F458 {
  background-position: 68.57143% 22.85714%; }

.emojione-1F459 {
  background-position: 68.57143% 25.71429%; }

.emojione-1F45A {
  background-position: 68.57143% 28.57143%; }

.emojione-1F45B {
  background-position: 68.57143% 31.42857%; }

.emojione-1F45C {
  background-position: 68.57143% 34.28571%; }

.emojione-1F45D {
  background-position: 68.57143% 37.14286%; }

.emojione-1F45E {
  background-position: 68.57143% 40%; }

.emojione-1F45F {
  background-position: 68.57143% 42.85714%; }

.emojione-1F460 {
  background-position: 68.57143% 45.71429%; }

.emojione-1F461 {
  background-position: 68.57143% 48.57143%; }

.emojione-1F462 {
  background-position: 68.57143% 51.42857%; }

.emojione-1F463 {
  background-position: 68.57143% 54.28571%; }

.emojione-1F464 {
  background-position: 68.57143% 57.14286%; }

.emojione-1F465 {
  background-position: 68.57143% 60%; }

.emojione-1F466 {
  background-position: 68.57143% 62.85714%; }

.emojione-1F467 {
  background-position: 68.57143% 65.71429%; }

.emojione-1F468-1F468-1F466-1F466 {
  background-position: 0% 68.57143%; }

.emojione-1F468-1F468-1F466 {
  background-position: 2.85714% 68.57143%; }

.emojione-1F468-1F468-1F467-1F466 {
  background-position: 5.71429% 68.57143%; }

.emojione-1F468-1F468-1F467-1F467 {
  background-position: 8.57143% 68.57143%; }

.emojione-1F468-1F468-1F467 {
  background-position: 11.42857% 68.57143%; }

.emojione-1F468-1F469-1F466-1F466 {
  background-position: 14.28571% 68.57143%; }

.emojione-1F468-1F469-1F467-1F466 {
  background-position: 17.14286% 68.57143%; }

.emojione-1F468-1F469-1F467-1F467 {
  background-position: 20% 68.57143%; }

.emojione-1F468-1F469-1F467 {
  background-position: 22.85714% 68.57143%; }

.emojione-1F468-2764-1F468 {
  background-position: 25.71429% 68.57143%; }

.emojione-1F468-2764-1F48B-1F468 {
  background-position: 28.57143% 68.57143%; }

.emojione-1F468 {
  background-position: 31.42857% 68.57143%; }

.emojione-1F469-1F469-1F466-1F466 {
  background-position: 34.28571% 68.57143%; }

.emojione-1F469-1F469-1F466 {
  background-position: 37.14286% 68.57143%; }

.emojione-1F469-1F469-1F467-1F466 {
  background-position: 40% 68.57143%; }

.emojione-1F469-1F469-1F467-1F467 {
  background-position: 42.85714% 68.57143%; }

.emojione-1F469-1F469-1F467 {
  background-position: 45.71429% 68.57143%; }

.emojione-1F469-2764-1F469 {
  background-position: 48.57143% 68.57143%; }

.emojione-1F469-2764-1F48B-1F469 {
  background-position: 51.42857% 68.57143%; }

.emojione-1F469 {
  background-position: 54.28571% 68.57143%; }

.emojione-1F46A {
  background-position: 57.14286% 68.57143%; }

.emojione-1F46B {
  background-position: 60% 68.57143%; }

.emojione-1F46C {
  background-position: 62.85714% 68.57143%; }

.emojione-1F46D {
  background-position: 65.71429% 68.57143%; }

.emojione-1F46E {
  background-position: 68.57143% 68.57143%; }

.emojione-1F46F {
  background-position: 71.42857% 0%; }

.emojione-1F470 {
  background-position: 71.42857% 2.85714%; }

.emojione-1F471 {
  background-position: 71.42857% 5.71429%; }

.emojione-1F472 {
  background-position: 71.42857% 8.57143%; }

.emojione-1F473 {
  background-position: 71.42857% 11.42857%; }

.emojione-1F474 {
  background-position: 71.42857% 14.28571%; }

.emojione-1F475 {
  background-position: 71.42857% 17.14286%; }

.emojione-1F476 {
  background-position: 71.42857% 20%; }

.emojione-1F477 {
  background-position: 71.42857% 22.85714%; }

.emojione-1F478 {
  background-position: 71.42857% 25.71429%; }

.emojione-1F479 {
  background-position: 71.42857% 28.57143%; }

.emojione-1F47A {
  background-position: 71.42857% 31.42857%; }

.emojione-1F47B {
  background-position: 71.42857% 34.28571%; }

.emojione-1F47C {
  background-position: 71.42857% 37.14286%; }

.emojione-1F47D {
  background-position: 71.42857% 40%; }

.emojione-1F47E {
  background-position: 71.42857% 42.85714%; }

.emojione-1F47F {
  background-position: 71.42857% 45.71429%; }

.emojione-1F480 {
  background-position: 71.42857% 48.57143%; }

.emojione-1F481 {
  background-position: 0% 0%; }

.emojione-1F482 {
  background-position: 71.42857% 54.28571%; }

.emojione-1F483 {
  background-position: 71.42857% 57.14286%; }

.emojione-1F484 {
  background-position: 71.42857% 60%; }

.emojione-1F485 {
  background-position: 71.42857% 62.85714%; }

.emojione-1F486 {
  background-position: 71.42857% 65.71429%; }

.emojione-1F487 {
  background-position: 71.42857% 68.57143%; }

.emojione-1F488 {
  background-position: 0% 71.42857%; }

.emojione-1F489 {
  background-position: 2.85714% 71.42857%; }

.emojione-1F48A {
  background-position: 5.71429% 71.42857%; }

.emojione-1F48B {
  background-position: 8.57143% 71.42857%; }

.emojione-1F48C {
  background-position: 11.42857% 71.42857%; }

.emojione-1F48D {
  background-position: 14.28571% 71.42857%; }

.emojione-1F48E {
  background-position: 17.14286% 71.42857%; }

.emojione-1F48F {
  background-position: 20% 71.42857%; }

.emojione-1F490 {
  background-position: 22.85714% 71.42857%; }

.emojione-1F491 {
  background-position: 25.71429% 71.42857%; }

.emojione-1F492 {
  background-position: 28.57143% 71.42857%; }

.emojione-1F493 {
  background-position: 31.42857% 71.42857%; }

.emojione-1F494 {
  background-position: 34.28571% 71.42857%; }

.emojione-1F495 {
  background-position: 37.14286% 71.42857%; }

.emojione-1F496 {
  background-position: 40% 71.42857%; }

.emojione-1F497 {
  background-position: 42.85714% 71.42857%; }

.emojione-1F498 {
  background-position: 45.71429% 71.42857%; }

.emojione-1F499 {
  background-position: 48.57143% 71.42857%; }

.emojione-1F49A {
  background-position: 51.42857% 71.42857%; }

.emojione-1F49B {
  background-position: 54.28571% 71.42857%; }

.emojione-1F49C {
  background-position: 57.14286% 71.42857%; }

.emojione-1F49D {
  background-position: 60% 71.42857%; }

.emojione-1F49E {
  background-position: 62.85714% 71.42857%; }

.emojione-1F49F {
  background-position: 65.71429% 71.42857%; }

.emojione-1F4A0 {
  background-position: 68.57143% 71.42857%; }

.emojione-1F4A1 {
  background-position: 71.42857% 71.42857%; }

.emojione-1F4A2 {
  background-position: 74.28571% 0%; }

.emojione-1F4A3 {
  background-position: 74.28571% 2.85714%; }

.emojione-1F4A4 {
  background-position: 74.28571% 5.71429%; }

.emojione-1F4A5 {
  background-position: 74.28571% 8.57143%; }

.emojione-1F4A6 {
  background-position: 74.28571% 11.42857%; }

.emojione-1F4A7 {
  background-position: 74.28571% 14.28571%; }

.emojione-1F4A8 {
  background-position: 74.28571% 17.14286%; }

.emojione-1F4A9 {
  background-position: 74.28571% 20%; }

.emojione-1F4AA {
  background-position: 74.28571% 22.85714%; }

.emojione-1F4AB {
  background-position: 74.28571% 25.71429%; }

.emojione-1F4AC {
  background-position: 74.28571% 28.57143%; }

.emojione-1F4AD {
  background-position: 74.28571% 31.42857%; }

.emojione-1F4AE {
  background-position: 74.28571% 34.28571%; }

.emojione-1F4AF {
  background-position: 74.28571% 37.14286%; }

.emojione-1F4B0 {
  background-position: 74.28571% 40%; }

.emojione-1F4B1 {
  background-position: 74.28571% 42.85714%; }

.emojione-1F4B2 {
  background-position: 74.28571% 45.71429%; }

.emojione-1F4B3 {
  background-position: 74.28571% 48.57143%; }

.emojione-1F4B4 {
  background-position: 74.28571% 51.42857%; }

.emojione-1F4B5 {
  background-position: 74.28571% 54.28571%; }

.emojione-1F4B6 {
  background-position: 74.28571% 57.14286%; }

.emojione-1F4B7 {
  background-position: 74.28571% 60%; }

.emojione-1F4B8 {
  background-position: 74.28571% 62.85714%; }

.emojione-1F4B9 {
  background-position: 74.28571% 65.71429%; }

.emojione-1F4BA {
  background-position: 74.28571% 68.57143%; }

.emojione-1F4BB {
  background-position: 74.28571% 71.42857%; }

.emojione-1F4BC {
  background-position: 0% 74.28571%; }

.emojione-1F4BD {
  background-position: 2.85714% 74.28571%; }

.emojione-1F4BE {
  background-position: 5.71429% 74.28571%; }

.emojione-1F4BF {
  background-position: 8.57143% 74.28571%; }

.emojione-1F4C0 {
  background-position: 11.42857% 74.28571%; }

.emojione-1F4C1 {
  background-position: 14.28571% 74.28571%; }

.emojione-1F4C2 {
  background-position: 17.14286% 74.28571%; }

.emojione-1F4C3 {
  background-position: 20% 74.28571%; }

.emojione-1F4C4 {
  background-position: 22.85714% 74.28571%; }

.emojione-1F4C5 {
  background-position: 25.71429% 74.28571%; }

.emojione-1F4C6 {
  background-position: 28.57143% 74.28571%; }

.emojione-1F4C7 {
  background-position: 31.42857% 74.28571%; }

.emojione-1F4C8 {
  background-position: 34.28571% 74.28571%; }

.emojione-1F4C9 {
  background-position: 37.14286% 74.28571%; }

.emojione-1F4CA {
  background-position: 40% 74.28571%; }

.emojione-1F4CB {
  background-position: 42.85714% 74.28571%; }

.emojione-1F4CC {
  background-position: 45.71429% 74.28571%; }

.emojione-1F4CD {
  background-position: 48.57143% 74.28571%; }

.emojione-1F4CE {
  background-position: 51.42857% 74.28571%; }

.emojione-1F4CF {
  background-position: 54.28571% 74.28571%; }

.emojione-1F4D0 {
  background-position: 57.14286% 74.28571%; }

.emojione-1F4D1 {
  background-position: 60% 74.28571%; }

.emojione-1F4D2 {
  background-position: 62.85714% 74.28571%; }

.emojione-1F4D3 {
  background-position: 65.71429% 74.28571%; }

.emojione-1F4D4 {
  background-position: 68.57143% 74.28571%; }

.emojione-1F4D5 {
  background-position: 71.42857% 74.28571%; }

.emojione-1F4D6 {
  background-position: 74.28571% 74.28571%; }

.emojione-1F4D7 {
  background-position: 77.14286% 0%; }

.emojione-1F4D8 {
  background-position: 77.14286% 2.85714%; }

.emojione-1F4D9 {
  background-position: 77.14286% 5.71429%; }

.emojione-1F4DA {
  background-position: 77.14286% 8.57143%; }

.emojione-1F4DB {
  background-position: 77.14286% 11.42857%; }

.emojione-1F4DC {
  background-position: 77.14286% 14.28571%; }

.emojione-1F4DD {
  background-position: 77.14286% 17.14286%; }

.emojione-1F4DE {
  background-position: 77.14286% 20%; }

.emojione-1F4DF {
  background-position: 77.14286% 22.85714%; }

.emojione-1F4E0 {
  background-position: 77.14286% 25.71429%; }

.emojione-1F4E1 {
  background-position: 77.14286% 28.57143%; }

.emojione-1F4E2 {
  background-position: 77.14286% 31.42857%; }

.emojione-1F4E3 {
  background-position: 77.14286% 34.28571%; }

.emojione-1F4E4 {
  background-position: 77.14286% 37.14286%; }

.emojione-1F4E5 {
  background-position: 77.14286% 40%; }

.emojione-1F4E6 {
  background-position: 77.14286% 42.85714%; }

.emojione-1F4E7 {
  background-position: 77.14286% 45.71429%; }

.emojione-1F4E8 {
  background-position: 77.14286% 48.57143%; }

.emojione-1F4E9 {
  background-position: 77.14286% 51.42857%; }

.emojione-1F4EA {
  background-position: 77.14286% 54.28571%; }

.emojione-1F4EB {
  background-position: 77.14286% 57.14286%; }

.emojione-1F4EC {
  background-position: 77.14286% 60%; }

.emojione-1F4ED {
  background-position: 77.14286% 62.85714%; }

.emojione-1F4EE {
  background-position: 77.14286% 65.71429%; }

.emojione-1F4EF {
  background-position: 77.14286% 68.57143%; }

.emojione-1F4F0 {
  background-position: 77.14286% 71.42857%; }

.emojione-1F4F1 {
  background-position: 77.14286% 74.28571%; }

.emojione-1F4F2 {
  background-position: 0% 77.14286%; }

.emojione-1F4F3 {
  background-position: 2.85714% 77.14286%; }

.emojione-1F4F4 {
  background-position: 5.71429% 77.14286%; }

.emojione-1F4F5 {
  background-position: 8.57143% 77.14286%; }

.emojione-1F4F6 {
  background-position: 11.42857% 77.14286%; }

.emojione-1F4F7 {
  background-position: 14.28571% 77.14286%; }

.emojione-1F4F8 {
  background-position: 17.14286% 77.14286%; }

.emojione-1F4F9 {
  background-position: 20% 77.14286%; }

.emojione-1F4FA {
  background-position: 22.85714% 77.14286%; }

.emojione-1F4FB {
  background-position: 25.71429% 77.14286%; }

.emojione-1F4FC {
  background-position: 28.57143% 77.14286%; }

.emojione-1F4FD {
  background-position: 31.42857% 77.14286%; }

.emojione-1F4FE {
  background-position: 34.28571% 77.14286%; }

.emojione-1F500 {
  background-position: 37.14286% 77.14286%; }

.emojione-1F501 {
  background-position: 40% 77.14286%; }

.emojione-1F502 {
  background-position: 42.85714% 77.14286%; }

.emojione-1F503 {
  background-position: 45.71429% 77.14286%; }

.emojione-1F504 {
  background-position: 48.57143% 77.14286%; }

.emojione-1F505 {
  background-position: 51.42857% 77.14286%; }

.emojione-1F506 {
  background-position: 54.28571% 77.14286%; }

.emojione-1F507 {
  background-position: 57.14286% 77.14286%; }

.emojione-1F508 {
  background-position: 60% 77.14286%; }

.emojione-1F509 {
  background-position: 62.85714% 77.14286%; }

.emojione-1F50A {
  background-position: 65.71429% 77.14286%; }

.emojione-1F50B {
  background-position: 68.57143% 77.14286%; }

.emojione-1F50C {
  background-position: 71.42857% 77.14286%; }

.emojione-1F50D {
  background-position: 74.28571% 77.14286%; }

.emojione-1F50E {
  background-position: 77.14286% 77.14286%; }

.emojione-1F50F {
  background-position: 80% 0%; }

.emojione-1F510 {
  background-position: 80% 2.85714%; }

.emojione-1F511 {
  background-position: 80% 5.71429%; }

.emojione-1F512 {
  background-position: 80% 8.57143%; }

.emojione-1F513 {
  background-position: 80% 11.42857%; }

.emojione-1F514 {
  background-position: 80% 14.28571%; }

.emojione-1F515 {
  background-position: 80% 17.14286%; }

.emojione-1F516 {
  background-position: 80% 20%; }

.emojione-1F517 {
  background-position: 80% 22.85714%; }

.emojione-1F518 {
  background-position: 80% 25.71429%; }

.emojione-1F519 {
  background-position: 80% 28.57143%; }

.emojione-1F51A {
  background-position: 80% 31.42857%; }

.emojione-1F51B {
  background-position: 80% 34.28571%; }

.emojione-1F51C {
  background-position: 80% 37.14286%; }

.emojione-1F51D {
  background-position: 80% 40%; }

.emojione-1F51E {
  background-position: 80% 42.85714%; }

.emojione-1F51F {
  background-position: 80% 45.71429%; }

.emojione-1F520 {
  background-position: 80% 48.57143%; }

.emojione-1F521 {
  background-position: 80% 51.42857%; }

.emojione-1F522 {
  background-position: 80% 54.28571%; }

.emojione-1F523 {
  background-position: 80% 57.14286%; }

.emojione-1F524 {
  background-position: 80% 60%; }

.emojione-1F525 {
  background-position: 80% 62.85714%; }

.emojione-1F526 {
  background-position: 80% 65.71429%; }

.emojione-1F527 {
  background-position: 80% 68.57143%; }

.emojione-1F528 {
  background-position: 80% 71.42857%; }

.emojione-1F529 {
  background-position: 80% 74.28571%; }

.emojione-1F52A {
  background-position: 80% 77.14286%; }

.emojione-1F52B {
  background-position: 0% 80%; }

.emojione-1F52C {
  background-position: 2.85714% 80%; }

.emojione-1F52D {
  background-position: 5.71429% 80%; }

.emojione-1F52E {
  background-position: 8.57143% 80%; }

.emojione-1F52F {
  background-position: 11.42857% 80%; }

.emojione-1F530 {
  background-position: 14.28571% 80%; }

.emojione-1F531 {
  background-position: 17.14286% 80%; }

.emojione-1F532 {
  background-position: 20% 80%; }

.emojione-1F533 {
  background-position: 22.85714% 80%; }

.emojione-1F534 {
  background-position: 25.71429% 80%; }

.emojione-1F535 {
  background-position: 28.57143% 80%; }

.emojione-1F536 {
  background-position: 31.42857% 80%; }

.emojione-1F537 {
  background-position: 34.28571% 80%; }

.emojione-1F538 {
  background-position: 37.14286% 80%; }

.emojione-1F539 {
  background-position: 40% 80%; }

.emojione-1F53A {
  background-position: 42.85714% 80%; }

.emojione-1F53B {
  background-position: 45.71429% 80%; }

.emojione-1F53C {
  background-position: 48.57143% 80%; }

.emojione-1F53D {
  background-position: 51.42857% 80%; }

.emojione-1F546 {
  background-position: 54.28571% 80%; }

.emojione-1F547 {
  background-position: 57.14286% 80%; }

.emojione-1F548 {
  background-position: 60% 80%; }

.emojione-1F549 {
  background-position: 62.85714% 80%; }

.emojione-1F54A {
  background-position: 65.71429% 80%; }

.emojione-1F550 {
  background-position: 68.57143% 80%; }

.emojione-1F551 {
  background-position: 71.42857% 80%; }

.emojione-1F552 {
  background-position: 74.28571% 80%; }

.emojione-1F553 {
  background-position: 77.14286% 80%; }

.emojione-1F554 {
  background-position: 80% 80%; }

.emojione-1F555 {
  background-position: 82.85714% 0%; }

.emojione-1F556 {
  background-position: 82.85714% 2.85714%; }

.emojione-1F557 {
  background-position: 82.85714% 5.71429%; }

.emojione-1F558 {
  background-position: 82.85714% 8.57143%; }

.emojione-1F559 {
  background-position: 82.85714% 11.42857%; }

.emojione-1F55A {
  background-position: 82.85714% 14.28571%; }

.emojione-1F55B {
  background-position: 82.85714% 17.14286%; }

.emojione-1F55C {
  background-position: 82.85714% 20%; }

.emojione-1F55D {
  background-position: 82.85714% 22.85714%; }

.emojione-1F55E {
  background-position: 82.85714% 25.71429%; }

.emojione-1F55F {
  background-position: 82.85714% 28.57143%; }

.emojione-1F560 {
  background-position: 82.85714% 31.42857%; }

.emojione-1F561 {
  background-position: 82.85714% 34.28571%; }

.emojione-1F562 {
  background-position: 82.85714% 37.14286%; }

.emojione-1F563 {
  background-position: 82.85714% 40%; }

.emojione-1F564 {
  background-position: 82.85714% 42.85714%; }

.emojione-1F565 {
  background-position: 82.85714% 45.71429%; }

.emojione-1F566 {
  background-position: 82.85714% 48.57143%; }

.emojione-1F567 {
  background-position: 82.85714% 51.42857%; }

.emojione-1F568 {
  background-position: 82.85714% 54.28571%; }

.emojione-1F569 {
  background-position: 82.85714% 57.14286%; }

.emojione-1F56A {
  background-position: 82.85714% 60%; }

.emojione-1F56B {
  background-position: 82.85714% 62.85714%; }

.emojione-1F56C {
  background-position: 82.85714% 65.71429%; }

.emojione-1F56D {
  background-position: 82.85714% 68.57143%; }

.emojione-1F56E {
  background-position: 82.85714% 71.42857%; }

.emojione-1F56F {
  background-position: 82.85714% 74.28571%; }

.emojione-1F570 {
  background-position: 82.85714% 77.14286%; }

.emojione-1F571 {
  background-position: 82.85714% 80%; }

.emojione-1F572 {
  background-position: 0% 82.85714%; }

.emojione-1F573 {
  background-position: 2.85714% 82.85714%; }

.emojione-1F574 {
  background-position: 5.71429% 82.85714%; }

.emojione-1F575 {
  background-position: 8.57143% 82.85714%; }

.emojione-1F576 {
  background-position: 11.42857% 82.85714%; }

.emojione-1F577 {
  background-position: 14.28571% 82.85714%; }

.emojione-1F578 {
  background-position: 17.14286% 82.85714%; }

.emojione-1F579 {
  background-position: 20% 82.85714%; }

.emojione-1F57B {
  background-position: 22.85714% 82.85714%; }

.emojione-1F57E {
  background-position: 25.71429% 82.85714%; }

.emojione-1F57F {
  background-position: 28.57143% 82.85714%; }

.emojione-1F581 {
  background-position: 31.42857% 82.85714%; }

.emojione-1F582 {
  background-position: 34.28571% 82.85714%; }

.emojione-1F583 {
  background-position: 37.14286% 82.85714%; }

.emojione-1F585 {
  background-position: 40% 82.85714%; }

.emojione-1F586 {
  background-position: 42.85714% 82.85714%; }

.emojione-1F587 {
  background-position: 45.71429% 82.85714%; }

.emojione-1F588 {
  background-position: 48.57143% 82.85714%; }

.emojione-1F589 {
  background-position: 51.42857% 82.85714%; }

.emojione-1F58A {
  background-position: 54.28571% 82.85714%; }

.emojione-1F58B {
  background-position: 57.14286% 82.85714%; }

.emojione-1F58C {
  background-position: 60% 82.85714%; }

.emojione-1F58D {
  background-position: 62.85714% 82.85714%; }

.emojione-1F58E {
  background-position: 65.71429% 82.85714%; }

.emojione-1F58F {
  background-position: 68.57143% 82.85714%; }

.emojione-1F590 {
  background-position: 71.42857% 82.85714%; }

.emojione-1F591 {
  background-position: 74.28571% 82.85714%; }

.emojione-1F592 {
  background-position: 77.14286% 82.85714%; }

.emojione-1F593 {
  background-position: 80% 82.85714%; }

.emojione-1F594 {
  background-position: 82.85714% 82.85714%; }

.emojione-1F595 {
  background-position: 85.71429% 0%; }

.emojione-1F596 {
  background-position: 85.71429% 2.85714%; }

.emojione-1F597 {
  background-position: 85.71429% 5.71429%; }

.emojione-1F598 {
  background-position: 85.71429% 8.57143%; }

.emojione-1F599 {
  background-position: 85.71429% 11.42857%; }

.emojione-1F59E {
  background-position: 85.71429% 14.28571%; }

.emojione-1F59F {
  background-position: 85.71429% 17.14286%; }

.emojione-1F5A5 {
  background-position: 85.71429% 20%; }

.emojione-1F5A6 {
  background-position: 85.71429% 22.85714%; }

.emojione-1F5A7 {
  background-position: 85.71429% 25.71429%; }

.emojione-1F5A8 {
  background-position: 85.71429% 28.57143%; }

.emojione-1F5A9 {
  background-position: 85.71429% 31.42857%; }

.emojione-1F5AA {
  background-position: 85.71429% 34.28571%; }

.emojione-1F5AB {
  background-position: 85.71429% 37.14286%; }

.emojione-1F5AD {
  background-position: 85.71429% 40%; }

.emojione-1F5AE {
  background-position: 85.71429% 42.85714%; }

.emojione-1F5AF {
  background-position: 85.71429% 45.71429%; }

.emojione-1F5B2 {
  background-position: 85.71429% 48.57143%; }

.emojione-1F5B3 {
  background-position: 85.71429% 51.42857%; }

.emojione-1F5B4 {
  background-position: 85.71429% 54.28571%; }

.emojione-1F5B8 {
  background-position: 85.71429% 57.14286%; }

.emojione-1F5B9 {
  background-position: 85.71429% 60%; }

.emojione-1F5BC {
  background-position: 85.71429% 62.85714%; }

.emojione-1F5BD {
  background-position: 85.71429% 65.71429%; }

.emojione-1F5BE {
  background-position: 85.71429% 68.57143%; }

.emojione-1F5C0 {
  background-position: 85.71429% 71.42857%; }

.emojione-1F5C1 {
  background-position: 85.71429% 74.28571%; }

.emojione-1F5C2 {
  background-position: 85.71429% 77.14286%; }

.emojione-1F5C3 {
  background-position: 85.71429% 80%; }

.emojione-1F5C4 {
  background-position: 85.71429% 82.85714%; }

.emojione-1F5C6 {
  background-position: 0% 85.71429%; }

.emojione-1F5C7 {
  background-position: 2.85714% 85.71429%; }

.emojione-1F5C9 {
  background-position: 5.71429% 85.71429%; }

.emojione-1F5CA {
  background-position: 8.57143% 85.71429%; }

.emojione-1F5CE {
  background-position: 11.42857% 85.71429%; }

.emojione-1F5CF {
  background-position: 14.28571% 85.71429%; }

.emojione-1F5D0 {
  background-position: 17.14286% 85.71429%; }

.emojione-1F5D1 {
  background-position: 20% 85.71429%; }

.emojione-1F5D2 {
  background-position: 22.85714% 85.71429%; }

.emojione-1F5D3 {
  background-position: 25.71429% 85.71429%; }

.emojione-1F5D4 {
  background-position: 28.57143% 85.71429%; }

.emojione-1F5D8 {
  background-position: 31.42857% 85.71429%; }

.emojione-1F5D9 {
  background-position: 34.28571% 85.71429%; }

.emojione-1F5DC {
  background-position: 37.14286% 85.71429%; }

.emojione-1F5DD {
  background-position: 40% 85.71429%; }

.emojione-1F5DE {
  background-position: 42.85714% 85.71429%; }

.emojione-1F5E0 {
  background-position: 45.71429% 85.71429%; }

.emojione-1F5E1 {
  background-position: 48.57143% 85.71429%; }

.emojione-1F5E2 {
  background-position: 51.42857% 85.71429%; }

.emojione-1F5E3 {
  background-position: 54.28571% 85.71429%; }

.emojione-1F5E8 {
  background-position: 57.14286% 85.71429%; }

.emojione-1F5E9 {
  background-position: 60% 85.71429%; }

.emojione-1F5EA {
  background-position: 62.85714% 85.71429%; }

.emojione-1F5EB {
  background-position: 65.71429% 85.71429%; }

.emojione-1F5EC {
  background-position: 68.57143% 85.71429%; }

.emojione-1F5ED {
  background-position: 71.42857% 85.71429%; }

.emojione-1F5EE {
  background-position: 74.28571% 85.71429%; }

.emojione-1F5EF {
  background-position: 77.14286% 85.71429%; }

.emojione-1F5F0 {
  background-position: 80% 85.71429%; }

.emojione-1F5F1 {
  background-position: 82.85714% 85.71429%; }

.emojione-1F5F2 {
  background-position: 85.71429% 85.71429%; }

.emojione-1F5F3 {
  background-position: 88.57143% 0%; }

.emojione-1F5F4 {
  background-position: 88.57143% 2.85714%; }

.emojione-1F5F5 {
  background-position: 88.57143% 5.71429%; }

.emojione-1F5F8 {
  background-position: 88.57143% 8.57143%; }

.emojione-1F5F9 {
  background-position: 88.57143% 11.42857%; }

.emojione-1F5FA {
  background-position: 88.57143% 14.28571%; }

.emojione-1F5FB {
  background-position: 88.57143% 17.14286%; }

.emojione-1F5FC {
  background-position: 88.57143% 20%; }

.emojione-1F5FD {
  background-position: 88.57143% 22.85714%; }

.emojione-1F5FE {
  background-position: 88.57143% 25.71429%; }

.emojione-1F5FF {
  background-position: 88.57143% 28.57143%; }

.emojione-1F600 {
  background-position: 88.57143% 31.42857%; }

.emojione-1F601 {
  background-position: 88.57143% 34.28571%; }

.emojione-1F602 {
  background-position: 88.57143% 37.14286%; }

.emojione-1F603 {
  background-position: 88.57143% 40%; }

.emojione-1F604 {
  background-position: 88.57143% 42.85714%; }

.emojione-1F605 {
  background-position: 88.57143% 45.71429%; }

.emojione-1F606 {
  background-position: 88.57143% 48.57143%; }

.emojione-1F607 {
  background-position: 88.57143% 51.42857%; }

.emojione-1F608 {
  background-position: 88.57143% 54.28571%; }

.emojione-1F609 {
  background-position: 88.57143% 57.14286%; }

.emojione-1F60A {
  background-position: 88.57143% 60%; }

.emojione-1F60B {
  background-position: 88.57143% 62.85714%; }

.emojione-1F60C {
  background-position: 88.57143% 65.71429%; }

.emojione-1F60D {
  background-position: 88.57143% 68.57143%; }

.emojione-1F60E {
  background-position: 88.57143% 71.42857%; }

.emojione-1F60F {
  background-position: 88.57143% 74.28571%; }

.emojione-1F610 {
  background-position: 88.57143% 77.14286%; }

.emojione-1F611 {
  background-position: 88.57143% 80%; }

.emojione-1F612 {
  background-position: 88.57143% 82.85714%; }

.emojione-1F613 {
  background-position: 88.57143% 85.71429%; }

.emojione-1F614 {
  background-position: 0% 88.57143%; }

.emojione-1F615 {
  background-position: 2.85714% 88.57143%; }

.emojione-1F616 {
  background-position: 5.71429% 88.57143%; }

.emojione-1F617 {
  background-position: 8.57143% 88.57143%; }

.emojione-1F618 {
  background-position: 11.42857% 88.57143%; }

.emojione-1F619 {
  background-position: 14.28571% 88.57143%; }

.emojione-1F61A {
  background-position: 17.14286% 88.57143%; }

.emojione-1F61B {
  background-position: 20% 88.57143%; }

.emojione-1F61C {
  background-position: 22.85714% 88.57143%; }

.emojione-1F61D {
  background-position: 25.71429% 88.57143%; }

.emojione-1F61E {
  background-position: 28.57143% 88.57143%; }

.emojione-1F61F {
  background-position: 31.42857% 88.57143%; }

.emojione-1F620 {
  background-position: 34.28571% 88.57143%; }

.emojione-1F621 {
  background-position: 37.14286% 88.57143%; }

.emojione-1F622 {
  background-position: 40% 88.57143%; }

.emojione-1F623 {
  background-position: 42.85714% 88.57143%; }

.emojione-1F624 {
  background-position: 45.71429% 88.57143%; }

.emojione-1F625 {
  background-position: 48.57143% 88.57143%; }

.emojione-1F626 {
  background-position: 51.42857% 88.57143%; }

.emojione-1F627 {
  background-position: 54.28571% 88.57143%; }

.emojione-1F628 {
  background-position: 57.14286% 88.57143%; }

.emojione-1F629 {
  background-position: 60% 88.57143%; }

.emojione-1F62A {
  background-position: 62.85714% 88.57143%; }

.emojione-1F62B {
  background-position: 65.71429% 88.57143%; }

.emojione-1F62C {
  background-position: 68.57143% 88.57143%; }

.emojione-1F62D {
  background-position: 71.42857% 88.57143%; }

.emojione-1F62E {
  background-position: 74.28571% 88.57143%; }

.emojione-1F62F {
  background-position: 77.14286% 88.57143%; }

.emojione-1F630 {
  background-position: 80% 88.57143%; }

.emojione-1F631 {
  background-position: 82.85714% 88.57143%; }

.emojione-1F632 {
  background-position: 85.71429% 88.57143%; }

.emojione-1F633 {
  background-position: 88.57143% 88.57143%; }

.emojione-1F634 {
  background-position: 91.42857% 0%; }

.emojione-1F635 {
  background-position: 91.42857% 2.85714%; }

.emojione-1F636 {
  background-position: 91.42857% 5.71429%; }

.emojione-1F637 {
  background-position: 91.42857% 8.57143%; }

.emojione-1F638 {
  background-position: 91.42857% 11.42857%; }

.emojione-1F639 {
  background-position: 91.42857% 14.28571%; }

.emojione-1F63A {
  background-position: 91.42857% 17.14286%; }

.emojione-1F63B {
  background-position: 91.42857% 20%; }

.emojione-1F63C {
  background-position: 91.42857% 22.85714%; }

.emojione-1F63D {
  background-position: 91.42857% 25.71429%; }

.emojione-1F63E {
  background-position: 91.42857% 28.57143%; }

.emojione-1F63F {
  background-position: 91.42857% 31.42857%; }

.emojione-1F640 {
  background-position: 91.42857% 34.28571%; }

.emojione-1F641 {
  background-position: 91.42857% 37.14286%; }

.emojione-1F642 {
  background-position: 91.42857% 40%; }

.emojione-1F645 {
  background-position: 91.42857% 42.85714%; }

.emojione-1F646 {
  background-position: 91.42857% 45.71429%; }

.emojione-1F647 {
  background-position: 91.42857% 48.57143%; }

.emojione-1F648 {
  background-position: 91.42857% 51.42857%; }

.emojione-1F649 {
  background-position: 91.42857% 54.28571%; }

.emojione-1F64A {
  background-position: 91.42857% 57.14286%; }

.emojione-1F64B {
  background-position: 91.42857% 60%; }

.emojione-1F64C {
  background-position: 91.42857% 62.85714%; }

.emojione-1F64D {
  background-position: 91.42857% 65.71429%; }

.emojione-1F64E {
  background-position: 91.42857% 68.57143%; }

.emojione-1F64F {
  background-position: 91.42857% 71.42857%; }

.emojione-1F680 {
  background-position: 91.42857% 74.28571%; }

.emojione-1F681 {
  background-position: 91.42857% 77.14286%; }

.emojione-1F682 {
  background-position: 91.42857% 80%; }

.emojione-1F683 {
  background-position: 91.42857% 82.85714%; }

.emojione-1F684 {
  background-position: 91.42857% 85.71429%; }

.emojione-1F685 {
  background-position: 91.42857% 88.57143%; }

.emojione-1F686 {
  background-position: 0% 91.42857%; }

.emojione-1F687 {
  background-position: 2.85714% 91.42857%; }

.emojione-1F688 {
  background-position: 5.71429% 91.42857%; }

.emojione-1F689 {
  background-position: 8.57143% 91.42857%; }

.emojione-1F68A {
  background-position: 11.42857% 91.42857%; }

.emojione-1F68B {
  background-position: 14.28571% 91.42857%; }

.emojione-1F68C {
  background-position: 17.14286% 91.42857%; }

.emojione-1F68D {
  background-position: 20% 91.42857%; }

.emojione-1F68E {
  background-position: 22.85714% 91.42857%; }

.emojione-1F68F {
  background-position: 25.71429% 91.42857%; }

.emojione-1F690 {
  background-position: 28.57143% 91.42857%; }

.emojione-1F691 {
  background-position: 31.42857% 91.42857%; }

.emojione-1F692 {
  background-position: 34.28571% 91.42857%; }

.emojione-1F693 {
  background-position: 37.14286% 91.42857%; }

.emojione-1F694 {
  background-position: 40% 91.42857%; }

.emojione-1F695 {
  background-position: 42.85714% 91.42857%; }

.emojione-1F696 {
  background-position: 45.71429% 91.42857%; }

.emojione-1F697 {
  background-position: 48.57143% 91.42857%; }

.emojione-1F698 {
  background-position: 51.42857% 91.42857%; }

.emojione-1F699 {
  background-position: 54.28571% 91.42857%; }

.emojione-1F69A {
  background-position: 57.14286% 91.42857%; }

.emojione-1F69B {
  background-position: 60% 91.42857%; }

.emojione-1F69C {
  background-position: 62.85714% 91.42857%; }

.emojione-1F69D {
  background-position: 65.71429% 91.42857%; }

.emojione-1F69E {
  background-position: 68.57143% 91.42857%; }

.emojione-1F69F {
  background-position: 71.42857% 91.42857%; }

.emojione-1F6A0 {
  background-position: 74.28571% 91.42857%; }

.emojione-1F6A1 {
  background-position: 77.14286% 91.42857%; }

.emojione-1F6A2 {
  background-position: 80% 91.42857%; }

.emojione-1F6A3 {
  background-position: 82.85714% 91.42857%; }

.emojione-1F6A4 {
  background-position: 85.71429% 91.42857%; }

.emojione-1F6A5 {
  background-position: 88.57143% 91.42857%; }

.emojione-1F6A6 {
  background-position: 91.42857% 91.42857%; }

.emojione-1F6A7 {
  background-position: 94.28571% 0%; }

.emojione-1F6A8 {
  background-position: 94.28571% 2.85714%; }

.emojione-1F6A9 {
  background-position: 94.28571% 5.71429%; }

.emojione-1F6AA {
  background-position: 94.28571% 8.57143%; }

.emojione-1F6AB {
  background-position: 94.28571% 11.42857%; }

.emojione-1F6AC {
  background-position: 94.28571% 14.28571%; }

.emojione-1F6AD {
  background-position: 94.28571% 17.14286%; }

.emojione-1F6AE {
  background-position: 94.28571% 20%; }

.emojione-1F6AF {
  background-position: 94.28571% 22.85714%; }

.emojione-1F6B0 {
  background-position: 94.28571% 25.71429%; }

.emojione-1F6B1 {
  background-position: 94.28571% 28.57143%; }

.emojione-1F6B2 {
  background-position: 94.28571% 31.42857%; }

.emojione-1F6B3 {
  background-position: 94.28571% 34.28571%; }

.emojione-1F6B4 {
  background-position: 94.28571% 37.14286%; }

.emojione-1F6B5 {
  background-position: 94.28571% 40%; }

.emojione-1F6B6 {
  background-position: 94.28571% 42.85714%; }

.emojione-1F6B7 {
  background-position: 94.28571% 45.71429%; }

.emojione-1F6B8 {
  background-position: 94.28571% 48.57143%; }

.emojione-1F6B9 {
  background-position: 94.28571% 51.42857%; }

.emojione-1F6BA {
  background-position: 94.28571% 54.28571%; }

.emojione-1F6BB {
  background-position: 94.28571% 57.14286%; }

.emojione-1F6BC {
  background-position: 94.28571% 60%; }

.emojione-1F6BD {
  background-position: 94.28571% 62.85714%; }

.emojione-1F6BE {
  background-position: 94.28571% 65.71429%; }

.emojione-1F6BF {
  background-position: 94.28571% 68.57143%; }

.emojione-1F6C0 {
  background-position: 94.28571% 71.42857%; }

.emojione-1F6C1 {
  background-position: 94.28571% 74.28571%; }

.emojione-1F6C2 {
  background-position: 94.28571% 77.14286%; }

.emojione-1F6C3 {
  background-position: 94.28571% 80%; }

.emojione-1F6C4 {
  background-position: 94.28571% 82.85714%; }

.emojione-1F6C5 {
  background-position: 94.28571% 85.71429%; }

.emojione-1F6C6 {
  background-position: 94.28571% 88.57143%; }

.emojione-1F6C7 {
  background-position: 94.28571% 91.42857%; }

.emojione-1F6C8 {
  background-position: 0% 94.28571%; }

.emojione-1F6C9 {
  background-position: 2.85714% 94.28571%; }

.emojione-1F6CA {
  background-position: 5.71429% 94.28571%; }

.emojione-1F6CB {
  background-position: 8.57143% 94.28571%; }

.emojione-1F6CC {
  background-position: 11.42857% 94.28571%; }

.emojione-1F6CD {
  background-position: 14.28571% 94.28571%; }

.emojione-1F6CE {
  background-position: 17.14286% 94.28571%; }

.emojione-1F6CF {
  background-position: 20% 94.28571%; }

.emojione-1F6E0 {
  background-position: 22.85714% 94.28571%; }

.emojione-1F6E1 {
  background-position: 25.71429% 94.28571%; }

.emojione-1F6E2 {
  background-position: 28.57143% 94.28571%; }

.emojione-1F6E3 {
  background-position: 31.42857% 94.28571%; }

.emojione-1F6E4 {
  background-position: 34.28571% 94.28571%; }

.emojione-1F6E5 {
  background-position: 37.14286% 94.28571%; }

.emojione-1F6E6 {
  background-position: 40% 94.28571%; }

.emojione-1F6E7 {
  background-position: 42.85714% 94.28571%; }

.emojione-1F6E8 {
  background-position: 45.71429% 94.28571%; }

.emojione-1F6E9 {
  background-position: 48.57143% 94.28571%; }

.emojione-1F6EA {
  background-position: 51.42857% 94.28571%; }

.emojione-1F6EB {
  background-position: 54.28571% 94.28571%; }

.emojione-1F6EC {
  background-position: 57.14286% 94.28571%; }

.emojione-1F6F0 {
  background-position: 60% 94.28571%; }

.emojione-1F6F1 {
  background-position: 62.85714% 94.28571%; }

.emojione-1F6F2 {
  background-position: 65.71429% 94.28571%; }

.emojione-1F6F3 {
  background-position: 68.57143% 94.28571%; }

.emojione-203C {
  background-position: 71.42857% 94.28571%; }

.emojione-2049 {
  background-position: 74.28571% 94.28571%; }

.emojione-2122 {
  background-position: 77.14286% 94.28571%; }

.emojione-2139 {
  background-position: 80% 94.28571%; }

.emojione-2194 {
  background-position: 82.85714% 94.28571%; }

.emojione-2195 {
  background-position: 85.71429% 94.28571%; }

.emojione-2196 {
  background-position: 88.57143% 94.28571%; }

.emojione-2197 {
  background-position: 91.42857% 94.28571%; }

.emojione-2198 {
  background-position: 94.28571% 94.28571%; }

.emojione-2199 {
  background-position: 97.14286% 0%; }

.emojione-21A9 {
  background-position: 97.14286% 2.85714%; }

.emojione-21AA {
  background-position: 97.14286% 5.71429%; }

.emojione-231A {
  background-position: 97.14286% 8.57143%; }

.emojione-231B {
  background-position: 97.14286% 11.42857%; }

.emojione-23E9 {
  background-position: 97.14286% 14.28571%; }

.emojione-23EA {
  background-position: 97.14286% 17.14286%; }

.emojione-23EB {
  background-position: 97.14286% 20%; }

.emojione-23EC {
  background-position: 97.14286% 22.85714%; }

.emojione-23F0 {
  background-position: 97.14286% 25.71429%; }

.emojione-23F3 {
  background-position: 97.14286% 28.57143%; }

.emojione-24C2 {
  background-position: 97.14286% 31.42857%; }

.emojione-25AA {
  background-position: 97.14286% 34.28571%; }

.emojione-25AB {
  background-position: 97.14286% 37.14286%; }

.emojione-25B6 {
  background-position: 97.14286% 40%; }

.emojione-25C0 {
  background-position: 97.14286% 42.85714%; }

.emojione-25FB {
  background-position: 97.14286% 45.71429%; }

.emojione-25FC {
  background-position: 97.14286% 48.57143%; }

.emojione-25FD {
  background-position: 97.14286% 51.42857%; }

.emojione-25FE {
  background-position: 97.14286% 54.28571%; }

.emojione-2600 {
  background-position: 97.14286% 57.14286%; }

.emojione-2601 {
  background-position: 97.14286% 60%; }

.emojione-260E {
  background-position: 97.14286% 62.85714%; }

.emojione-2611 {
  background-position: 97.14286% 65.71429%; }

.emojione-2614 {
  background-position: 97.14286% 68.57143%; }

.emojione-2615 {
  background-position: 97.14286% 71.42857%; }

.emojione-261D {
  background-position: 97.14286% 74.28571%; }

.emojione-263A {
  background-position: 97.14286% 77.14286%; }

.emojione-2648 {
  background-position: 97.14286% 80%; }

.emojione-2649 {
  background-position: 97.14286% 82.85714%; }

.emojione-264A {
  background-position: 97.14286% 85.71429%; }

.emojione-264B {
  background-position: 97.14286% 88.57143%; }

.emojione-264C {
  background-position: 97.14286% 91.42857%; }

.emojione-264D {
  background-position: 97.14286% 94.28571%; }

.emojione-264E {
  background-position: 0% 97.14286%; }

.emojione-264F {
  background-position: 2.85714% 97.14286%; }

.emojione-2650 {
  background-position: 5.71429% 97.14286%; }

.emojione-2651 {
  background-position: 8.57143% 97.14286%; }

.emojione-2652 {
  background-position: 11.42857% 97.14286%; }

.emojione-2653 {
  background-position: 14.28571% 97.14286%; }

.emojione-2660 {
  background-position: 17.14286% 97.14286%; }

.emojione-2663 {
  background-position: 20% 97.14286%; }

.emojione-2665 {
  background-position: 22.85714% 97.14286%; }

.emojione-2666 {
  background-position: 25.71429% 97.14286%; }

.emojione-2668 {
  background-position: 28.57143% 97.14286%; }

.emojione-267B {
  background-position: 31.42857% 97.14286%; }

.emojione-267F {
  background-position: 34.28571% 97.14286%; }

.emojione-2693 {
  background-position: 37.14286% 97.14286%; }

.emojione-26A0 {
  background-position: 40% 97.14286%; }

.emojione-26A1 {
  background-position: 42.85714% 97.14286%; }

.emojione-26AA {
  background-position: 45.71429% 97.14286%; }

.emojione-26AB {
  background-position: 48.57143% 97.14286%; }

.emojione-26BD {
  background-position: 51.42857% 97.14286%; }

.emojione-26BE {
  background-position: 54.28571% 97.14286%; }

.emojione-26C4 {
  background-position: 57.14286% 97.14286%; }

.emojione-26C5 {
  background-position: 60% 97.14286%; }

.emojione-26CE {
  background-position: 62.85714% 97.14286%; }

.emojione-26D4 {
  background-position: 65.71429% 97.14286%; }

.emojione-26EA {
  background-position: 68.57143% 97.14286%; }

.emojione-26F2 {
  background-position: 71.42857% 97.14286%; }

.emojione-26F3 {
  background-position: 74.28571% 97.14286%; }

.emojione-26F5 {
  background-position: 77.14286% 97.14286%; }

.emojione-26FA {
  background-position: 80% 97.14286%; }

.emojione-26FD {
  background-position: 82.85714% 97.14286%; }

.emojione-2702 {
  background-position: 85.71429% 97.14286%; }

.emojione-2705 {
  background-position: 88.57143% 97.14286%; }

.emojione-2708 {
  background-position: 91.42857% 97.14286%; }

.emojione-2709 {
  background-position: 94.28571% 97.14286%; }

.emojione-270A {
  background-position: 97.14286% 97.14286%; }

.emojione-270B {
  background-position: 100% 0%; }

.emojione-270C {
  background-position: 100% 2.85714%; }

.emojione-270F {
  background-position: 100% 5.71429%; }

.emojione-2712 {
  background-position: 100% 8.57143%; }

.emojione-2714 {
  background-position: 100% 11.42857%; }

.emojione-2716 {
  background-position: 100% 14.28571%; }

.emojione-2728 {
  background-position: 100% 17.14286%; }

.emojione-2733 {
  background-position: 100% 20%; }

.emojione-2734 {
  background-position: 100% 22.85714%; }

.emojione-2744 {
  background-position: 100% 25.71429%; }

.emojione-2747 {
  background-position: 100% 28.57143%; }

.emojione-274C {
  background-position: 100% 31.42857%; }

.emojione-274E {
  background-position: 100% 34.28571%; }

.emojione-2753 {
  background-position: 100% 37.14286%; }

.emojione-2754 {
  background-position: 100% 40%; }

.emojione-2755 {
  background-position: 100% 42.85714%; }

.emojione-2757 {
  background-position: 100% 45.71429%; }

.emojione-2764 {
  background-position: 100% 48.57143%; }

.emojione-2795 {
  background-position: 100% 51.42857%; }

.emojione-2796 {
  background-position: 100% 54.28571%; }

.emojione-2797 {
  background-position: 100% 57.14286%; }

.emojione-27A1 {
  background-position: 100% 60%; }

.emojione-27B0 {
  background-position: 100% 62.85714%; }

.emojione-27BF {
  background-position: 100% 65.71429%; }

.emojione-2934 {
  background-position: 100% 68.57143%; }

.emojione-2935 {
  background-position: 100% 71.42857%; }

.emojione-2B05 {
  background-position: 100% 74.28571%; }

.emojione-2B06 {
  background-position: 100% 77.14286%; }

.emojione-2B07 {
  background-position: 100% 80%; }

.emojione-2B1B {
  background-position: 100% 82.85714%; }

.emojione-2B1C {
  background-position: 100% 85.71429%; }

.emojione-2B50 {
  background-position: 100% 88.57143%; }

.emojione-2B55 {
  background-position: 100% 91.42857%; }

.emojione-3030 {
  background-position: 100% 94.28571%; }

.emojione-303D {
  background-position: 100% 97.14286%; }

.emojione-3297 {
  background-position: 0% 100%; }

.emojione-3299 {
  background-position: 2.85714% 100%; }
