//
// Magento
//
// =============================================
// placeholders
// =============================================
@import "var";

/* -------------------------------------------- *
 * Buttons
 */

%primary-button {
  @include border-radius(0);
  background: $c-button;
  display: inline-block;
  padding: 11px 20px;
  color: $c-button-color;
  @include box-shadow(0 5px 5px rgba(0, 0, 0, 0.14));
  //@extend %button-border;
  border: 0;
  font-size: 14px;
  font-weight: 400;
  font-family: $f-stack-special;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  overflow: hidden;
  position: relative;

  span {
    z-index: 9;
    position: relative;
  }

  &:not(a)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background: $c-button-hover;
    z-index: 2;
  }

  &:hover {
    @extend %single-hover;
    @extend %button-border-hover;
    background: $c-button-hover;
    cursor: pointer;

  }
  &:active {
    &::after {
      background: $c-button-active;
    }

  }
  &:focus {
    color: $c-button-color;
    background: $c-button-active;
  }
}

%secondary-button {
  @extend %primary-button;
  background: $c-button-secondary;
  color: $c-button-secondary-color;
  text-shadow: none;

  &:not(a)::after {
    background: $c-button-secondary-hover;
  }

  &:hover {
    background: $c-button-secondary-hover;
    cursor: pointer;
    color: $c-button-secondary-color;
  }

  &:active {
    color: $c-button-secondary-color;
    &::after {
      background: $c-button-secondary-active;
    }
  }

  &:focus {
    background: $c-button-secondary-active;
    color: $c-button-secondary-color;
    outline: none;
  }
}

%large-button {
  font-size: 18px;
  padding: 14px 28px;

  @include bp(max-width, $bp-large) {
    padding: 7px 12px;
  }
}

%small-button {
  font-size: $f-size;
  text-transform: none;
  padding: 6px 15px;
}

%button-type2 {
  background-color: $c-button-cart;
  &::after {
    background: $c-button-cart-hover;
  }
  &:hover {
    background: $c-button-cart-hover;
  }

  &:active {
    &::after {
      background: $c-button-cart-active;
    }
  }

  &:focus {
    background: $c-button-cart-active;
  }
}

%btn-details {
  span span::before {
    @include fa-icon;
    content: $fa-var-info;
    font-size: 24px;
    line-height: 16px;
    padding-right: 10px;

    @include bp(max-width, $bp-large) {
      display: none;
    }
  }
}

%box-custom-shadow {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.14);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.14);
}
%align-center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform:  translate(-50%, -50%);
  z-index: 2;
}

/* -------------------------------------------- *
 * Button hover
 */

%button-border {
  border-bottom: solid 1px rgba(0, 0, 0, 0.28);
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  border-top: solid 1px transparent;
  border-left: solid 1px transparent;
}

%button-border-hover {
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: rgba(0, 0, 0, 0.28);
  border-left-color: rgba(0, 0, 0, 0.2);
}

%single-hover {
  //margin: -1px 0 1px;
  z-index: 999;
}

%shadow-hover {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

%single-active {
  opacity: 0.8;
}

/* -------------------------------------------- *
 * Swatch label hover
 */

%swatch-label {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    border: solid 0px $c-module-background;
    opacity: 0;
  }
}

%swatch-label-hover {
  &::before {
    border-width: 3px;
    opacity: 1;
  }
}

/* -------------------------------------------- *
 * Custom Radio button, Checkbox
 */

%custom-radio {

  input[type="radio"],
  input[type="checkbox"] {
    float: left;
    margin-top: 5px;
    display: none;

  }

  input[type="radio"] + label,
  input[type="radio"] + .label label {
    cursor: pointer;
    position: relative;
    padding-left: 27px;
    text-transform: none;
    display: inline-block;

    &:before {
      content: "";
      display: inline-block;

      width: 16px;
      height: 16px;

      margin-right: 10px;
      position: absolute;
      border-radius: 50%;
      left: 0;
      top: 2px;
      background-color: $c-module-background;
      border: solid 1px $c-module-border-light;
    }

    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      width: 0px;
      height: 0px;
      left: 9px;
      top: 10px;
      background-color: $accent-color-1;
      box-shadow: inset -1px -1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    }

    &:hover {
      color: $c-link;
    }
  }

  input[type=radio]:checked + .label label:after,
  input[type=radio]:checked + label:after {

    width: 12px;
    height: 12px;
    left: 2px;
    top: 4px;
  }

  input[type="checkbox"] + label,
  input[type="checkbox"] + .label label {
    display: inline-block;
    padding-left: 27px;
    position: relative;
    clear: both;
    cursor: pointer;
    text-transform: none;

    &:before {
      content: "";
      display: inline-block;

      width: 16px;
      height: 16px;
      margin-right: 10px;
      position: absolute;
      left: 0;
      top: 2px;
      background-color: $c-module-background;
      border: solid 1px $c-module-border-light;
    }

    &:after {
      @include custom-icon($font-family-icon, "\e048");
      display: inline-block;
      position: absolute;
      font-size: 0;
      left: 9px;
      top: 10px;
      color: $accent-color-1;
      text-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    }

    &:hover {
      color: $c-link;
    }

  }

  input[type=checkbox]:checked + label:after,
  input[type=checkbox]:checked + .label label:after {

    font-size: 22px;
    top: -9px;
    left: 0;
  }
}

/* -------------------------------------------- *
 * Custom Select
 */

%custom-select {
  .dropdown {
    width: 100%;
    background-color: $c-module-background;
    border: solid 1px $c-module-border-light;
    border-radius: $default-border-radius;

    &:hover {
      box-shadow: none;
      background: $c-module-background-hover;
    }

    .validation-advice {
      position: relative !important;
      height: auto;
      opacity: 1;
      padding: 0 0 10px !important;
      background: $c-page-background;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      top: -1px;
      left: -1px;
      margin-right: -2px;

    }

    div {
      background-color: $c-module-background;
      border: solid 1px $c-module-border-light;

      ul {
        z-index: 12;

        li {
          margin: 0;

          &.focus {
            background: $c-module-background-hover;
            color: $c-gray;
          }

          &.active {
            font-weight: normal;
            background: $c-module-background-hover;
          }
        }
      }
    }

    li,
    .selected {
      font-size: $f-size;
      color: $c-text;
      padding: 13px 20px;
    }

    .selected {
      color: $c-dark;
      &::after {
        box-shadow: none;
      }
    }

    .carat {
      border-width: 6px;
      border-color: $c-module-border-dark transparent transparent;
      right: 20px;
    }

    &.open {
      z-index: 15;
      .carat {
        border-bottom: 6px solid $c-module-border-dark;
        border-top: 6px solid transparent;
        margin-top: -10px;
      }

      div {
        padding: 10px 0;
        height: auto !important;

        ul {
          position: relative;
          z-index: 12;
        }
      }
    }

  }
}

/* -------------------------------------------- *
 * Theme elements
 */

.theme-border {
  border-top: solid 2px $accent-color-1;
}

.theme-color {
  color: $accent-color-1;
}

.title-border {
  border-bottom: solid 2px $c-module-border-light;
  padding-bottom: 30px !important;
  margin-bottom: 40px !important;

  @include bp(max-width, $bp-medium) {
    margin-bottom: 15px !important;
    padding-bottom: 10px !important;
  }
}

%without-border {
  border-bottom: none !important;
  padding-bottom: 25px !important;
  margin-bottom: 0 !important;
}

.theme-block {
  border: solid 1px $c-fieldset-border;
  border-top: solid 2px $accent-color-1;
  padding: 30px 29px;
  margin-bottom: $trim * 2;
}

.no-theme-block {
  border: none;
  padding: 0;
  margin-bottom: 0;
}

%label-example {
  text-transform: uppercase;
  color: $c-dark;
  font-weight: normal;
}

%subtitle-example {
  font-size: $f-size-xxl;
  line-height: 1.667em;
  color: $accent-color-1;
  text-transform: uppercase;
  font-weight: 500;
}

%th-table {
  font-size: $f-size-xl;
  line-height: 1.667em;
  color: $c-dark;
  text-transform: uppercase;
  font-weight: 500;
}

@include bp(max-width, $bp-large) {
  .theme-block {

    padding: 15px;
    margin-bottom: $trim;
  }

  %label-example {
    font-size: $f-size-xs;
  }
}

/* -------------------------------------------- *
* Table Bordered
*/

.table-bordered {
  @extend .theme-border;

  thead > tr > th,
  thead > tr > td {
    border-bottom-width: 1px;
    @extend %th-table;
  }

  th, td {
    border: solid 1px $c-table-border;
  }
}

/* -------------------------------------------- *
 * Material Design Click Animation
 */

.ink {
  display: block;
  position: absolute;
  background: rgba(000, 000, 000, 0.1);
  border-radius: 100%;
  @include transform(scale(0));
  z-index: 9999;
}

.animate {
  @include animation('ripple 0.65s linear');
}

@include keyframes('ripple') {
  100% {
    opacity: 0;
    @include transform(scale(2.5));
  }
}

/* -------------------------------------------- *
 * Icons
 */

.icon-sprite {
  background-image: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  @include image-replacement;
}

.icon-sprite-for-modules {
  @extend .icon-sprite;
  background-image: url(../images/icon_sprite.png);
}

@include if-min-resolution(2) {
  .icon-sprite {
    background-image: url(../images/icon_sprite@2x.png);
    background-size: 100px 1000px;
  }
}

/* ----------------------------------------- *
* Footer
*/
%footer-title {
  font-family: $f-stack-default;
  color: $c-h1;
  font-size: $f-size-xl;
  display: block;
  padding: 0 0 9px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
}

/* ----------------------------------------- *
* animation
*/

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }
  50% {
    opacity: 1;
  }
}
@mixin product-animation {
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-name: zoomIn;
  -webkit-animation-name:zoomIn;
}
