<?php
$spcd_helper = $this->helper('specialpricecountdown/data');
$currDate = $spcd_helper->currDate();
?>
<?php if (($_products = $this->getSliderCollection()) && $_products->getSize()): ?>
    <?php
    if($this->_getData('small_img_slider') == 0) {
        $count_thumbs_img = 1;
    } else {
        $count_thumbs_img = 2;
    }
    ?>
    <div class="slider-product-widget">
        <?php $_columnCount = $this->getProductsCount(); ?>
        <div class="slider-carousel">
            <?php $i = 0; foreach ($_products->getItems() as $_product): $i++; ?>
                <div class="item cont_<?php echo $i; ?>" itemscope itemtype="//schema.org/product">
                    <div class="box-image-slider">
                        <?php $count_thumbs = 1; foreach ($_product->load($_product->getId())->getMediaGalleryImages() as $image): ?>

                            <?php if ($count_thumbs <= $count_thumbs_img): ?>
                                <?php
                                if((($count_thumbs-1) % 2) == 0) {
                                    $item_w = $this->_getData('img_width_slider');
                                    $item_h = $this->_getData('img_height_slider');
                                } else {
                                    $item_w = ceil($this->_getData('img_width_slider'))* 0.85;
                                    $item_h = ceil($this->_getData('img_height_slider'))* 0.85;
                                }
                                ?>
                                <a class="product-image product-image-<?php echo $count_thumbs_img; ?>" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" itemprop="url">
                                    <img
                                        src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $image->getFile())->resize($item_w,$item_h); ?>"
                                        alt="<?php echo $this->htmlEscape($_product->getName()) ?>"
                                        title="<?php echo $this->htmlEscape($_product->getName()) ?>" itemprop="image"/>
                                </a>
                            <?php endif; $count_thumbs++; ?>
                        <?php endforeach; ?>
                    </div>
                    <div class="box-info-slider">
                        <h3 class="product-name" itemprop="name">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                                <?php echo $this->htmlEscape($_product->getName()) ?>
                            </a>
                        </h3>
                        <?php echo $this->getPriceHtml($_product, true); ?>
                        <?php echo $this->htmlEscape($_product->getPriceHtml($_product, true)) ?>
                        <?php if($spcd_helper->isEnabledSales()): ?>
                            <?php
                            $setDate = $spcd_helper->countdownTime($_product);
                            if ($setDate > 0):
                                if ($currDate < $setDate): ?>
                                    <div id="special_countdown_<?php echo $_product->getId(); ?>_widget" class="special_countdown"></div>
                                    <script type="text/javascript">
                                        setCountdown("<?php echo $setDate; ?>", "<?php echo $_product->getId(); ?>_widget");
                                    </script>
                                <?php endif; ?>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
                            <div class="actions">
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            </div>
                        <?php elseif($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
                            <div class="actions"><a title="<?php echo $this->__('View Details') ?>" class="button btn-details" href="<?php echo $_product->getProductUrl() ?>"><span><span><?php echo $this->__('View Details') ?></span></span></a></div>
                        <?php else: ?>
                            <div class="actions availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></div>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
    <script>
        <?php $transitionStyle = $this->_getData('transition_types');  ?>
        jQuery(function(){
            $j(".slider-carousel").owlCarousel({
                items: 1,
                autoPlay:<?php echo $this->_getData('autoplay_slider')?>,
                stopOnHover:true,
                pagination: <?php echo $this->_getData('pagination_slider')?>,
                singleItem : true,
                transitionStyle:<?php if($transitionStyle != 'false'):?> '<?php echo $transitionStyle ?>' <?php else: ?><?php echo $transitionStyle; endif; ?>,
                navigation: <?php echo $this->_getData('navigation_slider')?>
            });
        });
    </script>
<?php endif; ?>