<div class="discount opc" style="text-align: right;" >
    <h2> <label class="required"><em>*</em></label> <?php echo $this->__('Do you have Coupon/Voucher code?') ?></h2>
    <div class="choice-form section">
    	<form id="discount-choice-form" method="POST">
	        <ul>
                <li>
                    <div class="control">
                       	<input name="choice" type="radio" value="1" id="choice_yes" class="input-radio validate-one-required-by-name" <?php echo strlen($this->getCouponCode())? 'checked="checked"': '' ?>>
                       	<label for="choice_yes"><?php echo $this->__('Yes') ?></label>
                    </div>
               	</li>
               	<li>
                    <div class="control">
                       	<input name="choice" type="radio" value="0" id="choice_no" class="input-radio">
                       	<label for="choice_no"><?php echo $this->__('No') ?></label>
                    </div>
               	</li>
            </ul>
            <div id="discount-coupon-form">
                <div class="wide">
                    <div class="control">
                        <input id="coupon_use" type="hidden" name="coupon[use]" value="<?php echo strlen($this->getCouponCode())? '1': '0' ?>" />
                        <input class="input-text" id="coupon_code" name="coupon[code]" value="<?php echo $this->escapeHtml($this->getCouponCode()) ?>" type="text" class="input-box" />
                        <div id="advice-error-message">
                            <?php if(strlen($this->getCouponCode())): ?>
                                <?php echo $this->getDiscountMessage(); ?>
                            <?php endif;?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons-set" id="discount-coupon-button-set">
	            <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Continue')) ?>" class="button" onclick="return validateChoice();" value="<?php echo Mage::helper('core')->quoteEscape($this->__('Continue')) ?>"><span><span><?php echo $this->__('Select to Continue') ?></span></span></button>
                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif'); ?>" style="display: none;" id="discount-coupon-loader" />
	        </div>
    	</form>
    </div>
</div>

<script type="text/javascript">
//<![CDATA[
document.observe("dom:loaded", function() {
	// initially hide all containers for tab content
    <?php if(strlen($this->getCouponCode()) == 0): ?>
        $('discount-coupon-form').hide();
        visibleCheckoutButton(true);
    <?php else: ?>
    	visibleCheckoutButton(true);
    <?php endif;?>

    $$('input[type=radio][name=choice]').invoke('observe','click',function(field) {
        if(this.value == 1)
        {
            $('discount-coupon-form').show();
            $('coupon_code').addClassName('required-entry');
            $('coupon_use').setValue(1);
            $('advice-error-message').update('');
            document.getElementById('coupon_code').value = ''
            $('discount-coupon-button-set').show();
            visibleCheckoutButton(false);
        }
        else
        {
            $('discount-coupon-form').hide();
            $('coupon_code').removeClassName('required-entry');
            $('coupon_use').setValue(0);
            $('discount-coupon-button-set').hide();
            flashCoupon();
        }
    });
});

function visibleCheckoutButton(isVisible)
{
	if($$("ul.checkout-types").length)
	{
		$$("ul.checkout-types").forEach(function(item) {
			if(isVisible)
				item.show();
			else
				item.hide();
		});
	}

	if(isVisible){
		// debugger;
		var progressRequest = new Ajax.Request(
            "<?php echo $this->ajaxProgressActionUrl(); ?>",
            {
                method:"post",
                onComplete: function() {
                	// debugger;
                	$("free-shipping-progress-bar").show();
                	// visibleCheckoutButton(true);
                },
                onSuccess: function(result) {
                    var result = JSON.parse(result.responseText);

                    if(result.content != undefined){
                        $("free-shipping-progress-bar").replace(result.content);
                        //console.log(result.content);
                    }
                    //console.log(result);
                },
                onFailure: function() {
                	 $("free-shipping-progress-bar").replace("<?php echo $this->__('Unable to check free shipping at this moment.'); ?>");
                },
            }
        );
		
		
		
	}else{
		$("free-shipping-progress-bar").hide();
		// visibleCheckoutButton(false);
	}
}

function gotoCoupon(){
	window.location.href = "/coupon/index/index/coupon_code/"+document.getElementById('coupon_code').value;
}

function flashCoupon()
{
	var formToValidate = $('discount-choice-form');
	$('discount-coupon-loader').show();
    var request = new Ajax.Request(
            '<?php echo $this->removeCoupActionUrl(); ?>',
            {
                method:'post',
                parameters: Form.serialize(formToValidate),
                onComplete: function() {
                    $('discount-coupon-loader').hide();
                },
                onSuccess: function(result) {
                    var result = JSON.parse(result.responseText);
                    // console.log(result);
                    if(result.html != undefined)
                        $('shopping-cart-totals-table').replace(result.html);

                    if(result.cart != undefined)
                    {
                        var div = document.createElement('div');
                        div.innerHTML = result.cart;
                        if($(div).select("#shopping-cart-table").length > 0)
                            $('shopping-cart-table').replace($(div).select("#shopping-cart-table")[0]);
                    }

                    if(result.progress != undefined)
                    {
                        var div = document.createElement('div');
                        div.innerHTML = result.progress;
                        if($(div).select("#free-shipping-progress-bar").length > 0)
                            $('free-shipping-progress-bar').replace($(div).select("#free-shipping-progress-bar")[0]);
                    }

                    if(result.message != undefined)
                        $('advice-error-message').update(result.message);

                    if(result.status == 'SUCCESS')
                        visibleCheckoutButton(true);
                    else
                        visibleCheckoutButton(false);
                },
                onFailure: function() {
                    $('advice-error-message').update('<?php echo $this->__('Error in processing request!'); ?>');
                },
            }
        );
}

function validateChoice()
{
	var formToValidate = $('discount-choice-form');
    var validator = new Validation(formToValidate);
    if(validator.validate()) {
        var selectedRadio = parseInt($$('input:checked[type=radio][name=choice]')[0].value);

        $('discount-coupon-loader').show();
        $('advice-error-message').update('');

        var request = new Ajax.Request(
            '<?php echo $this->getFormActionUrl(); ?>',
            {
                method:'post',
                parameters: Form.serialize(formToValidate),
                onComplete: function() {
                    $('discount-coupon-loader').hide();
                },
                onSuccess: function(result) {
                    var result = JSON.parse(result.responseText);
                    if(result.html != undefined)
                        $('shopping-cart-totals-table').replace(result.html);

                    if(result.cart != undefined)
                    {
                        var div = document.createElement('div');
                        div.innerHTML = result.cart;
                        if($(div).select("#shopping-cart-table").length > 0)
                            $('shopping-cart-table').replace($(div).select("#shopping-cart-table")[0]);
                    }

                    if(result.progress != undefined)
                    {
                        var div = document.createElement('div');
                        div.innerHTML = result.progress;
                        if($(div).select("#free-shipping-progress-bar").length > 0)
                            $('free-shipping-progress-bar').replace($(div).select("#free-shipping-progress-bar")[0]);
                    }

                    if(result.message != undefined)
                        $('advice-error-message').update(result.message);
                    if(result.status == 'SUCCESS'){
                        visibleCheckoutButton(true);
                    	$('discount-coupon-button-set').hide();
                    }else{
                        visibleCheckoutButton(false);
                    }
                },
                onFailure: function() {
                    $('advice-error-message').update('<?php echo $this->__('Error in processing request!'); ?>');
                },
            }
        );
    }
    return false;
}

document.getElementById("coupon_code").addEventListener("input", couponCodeShow);

function couponCodeShow() {
	$('discount-coupon-button-set').show();
}
//]]>
</script>