#row_amsorting_general_custom_position tr th:last-child,
#row_amsorting_general_custom_position tr td:last-child,
#row_amsorting_general_custom_position tr:last-child {
    display: none;
}

#row_amsorting_general_custom_position tr th input,
#row_amsorting_general_custom_position tr td input {
    width: 96% !important;
}

#amsorting_bestsellers_exclude {
    max-height: 195px;
}