<?php

$session_coupon_code = Mage::getSingleton('core/session')->getData('session_coupon_code');

?>



<div class="col-lg-5">

  <form action="<?php echo Mage::getUrl('coupon/index/save')?>" method="post" id="login-form">

    <div class="col2-set">

      <div class="registered-users">

        <div class="content">

          <h2>Verify Your Voucher</h2>

          <ul class="form-list">

            <li>

              <label for="email" class="required"><em>*</em>Coupon Code</label>

              <div class="input-box">

                <input required="" type="text" name="coupon_code" value="<?php if (isset($session_coupon_code)) {echo $session_coupon_code;}else{ echo ''; } ?>" id="coupon_code" class="input-text required-entry validate-email" title="Coupon Code">

              </div>

            </li>

          </ul>

        </div>

      </div>

    </div>

    <div class="col1-set">

      <div class="registered-users"> 

        <div class="">

          <button type="submit" class="button" title="Verify" name="btn_verify" id="btn_verify"><span><span>Verify</span></span></button> 

        </div>

      </div>

    </div>

  </form>

</div>





  <?php 

  $products = Mage::getSingleton('core/session')->getData('session_product_data');



  if(count($products) > 0)

  {

   ?>

   <div class="col-lg-7">

   <div>  

    <p><strong>Coupon Found!</strong></p>

    <?php

    foreach ($products as $p_key => $p_value) {?>
    	 	
    <p>Your Coupon is Valid for <a href="<?php echo Mage::getUrl('').$p_value['url_path']; ?>"><strong><?php echo $p_value['name']; ?></strong></a> from the following collection </p>    

   <?php } ?>

    <p>When processing a coupon code for multiple items it is necessary to click on "keep shopping" button in the shopping cart to enter the additional designs/personalization. </p>

    <p><strong>Please make sure all of your items are in the shopping cart before you check out.</strong></p>    

  </div>

  </div>

  <?php

}

?>





<!-- Product Data Start  -->



<?php



if(count($products) > 0)

  {



echo "<div class='col-lg-12' style='clear: both;'><ul class='products-grid row products-grid--max-3-col first last odd'>";

foreach ($products as $pro_key => $pro_value) {

$model = Mage::getModel('catalog/product');

$prod = $model->loadByAttribute('sku', $pro_value['sku']); 

$image_path = $prod->getImageUrl();
  ?>

  

<li class="col-lg-3">

    <div class="category-products-grid">

      <div class="images-container">



        <a href="<?php echo Mage::getUrl('').$pro_value['url_path']; ?>" title="#" class="product-image">

            <img id="" class="img-responsive" src="<?php echo $image_path; ?>" width="270" height="270">

        </a>    



      </div>



      <div class="product-info products-textlink clearfix" style="padding-bottom: 50px; min-height: 206px;">

        <h2 class="product-name">

        <a href="<?php echo Mage::getUrl('').$pro_value['url_path']; ?>" title="<?php echo $pro_value['name']; ?>">

         

         <?php echo Mage::helper('core/string')->truncate($pro_value['name'], '50'); ?>

         </a>

         </h2>



        <div class="price-box">

          <span class="regular-price">

            <span class="price"><?php echo '$'.round($pro_value['price'],2); ?></span>

          </span>



          </div>            

                              

      </div>

    </div>

  </li>



<?php }

echo "</ul></div>";

}

 ?>  



<!-- Product Data End  -->



<?php

$EM = Mage::getSingleton('core/session')->getData('EM');

if(isset($EM))

{

  echo $EM; 

}



Mage::getSingleton('core/session')->unsetData('session_product_data');

Mage::getSingleton('core/session')->unsetData('session_coupon_code');

Mage::getSingleton('core/session')->unsetData('EM');

?>