.free-shipping-progress-text-note {  color: #F05059; }

#free-shipping-progress-bar { padding: 24px 0; }

.free-shipping-progress-bar-container {  text-align: left; }
.free-shipping-progress-text { font-size: 18px; margin-bottom: 8px; }
.free-shipping-progress-bar-container .free-shipping-progress-range { font-size: 16px; }

.free-shipping-progress-bar-container .free-shipping-progress-range .min-range { display: inline-block; vertical-align: top; line-height: 30px; margin-right: 10px; }
.free-shipping-progress-bar-container .free-shipping-progress-range .max-range { display: inline-block; vertical-align: top; line-height: 30px; margin-left: 10px; }
.free-shipping-progress-bar-container .free-shipping-progress-bar { box-sizing: content-box; text-align: left; display: inline-block; vertical-align: top; width: 170px; height: 16px; margin: 7px 0; border: solid 1px #666; position: relative; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; /* future proofing */ -khtml-border-radius: 10px; /* for old Konqueror browsers */ }
.free-shipping-progress-bar-container .free-shipping-progress-bar .free-shipping-progress-bar-indicator { background: #21a23e; display: inline-block; height: 18px; position: absolute; top: -1px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; /* future proofing */ -khtml-border-radius: 10px; /* for old Konqueror browsers */ }

.cart-totals #free-shipping-progress-bar { text-align: left; }

.checkout-onepage-index #free-shipping-progress-bar { padding: 15px 0; }
.checkout-onepage-index .free-shipping-progress-text { margin-bottom: 0px; }

.free-shipping-button { margin-top: 20px; display: none; }
.checkout-onepage-index .free-shipping-button { display: block; }
