<div class="discount">
    <h2><?php echo $this->__('Do you have discount/vouchor code?') ?></h2>
    <div class="choice-form">
    	<form id="discount-choice-form" method="POST">
	        <ul>
                <li>
                   	<input name="choice" type="radio" value="1" id="choice_yes" class="input-radio validate-one-required-by-name" <?php echo strlen($this->getCouponCode())? 'checked="checked"': '' ?>>
                   	<label for="choice_yes"><?php echo $this->__('Yes') ?></label>
               	</li>
               	<li>
                   	<input name="choice" type="radio" value="0" id="choice_no" class="input-radio">
                   	<label for="choice_no"><?php echo $this->__('No') ?></label>
               	</li>
            </ul>
            <div id="discount-coupon-form">
                <div class="input-box">
                    <input id="coupon_use" type="hidden" name="coupon[use]" value="<?php echo strlen($this->getCouponCode())? '1': '0' ?>" />
                    <input class="input-text" id="coupon_code" name="coupon[code]" value="<?php echo $this->escapeHtml($this->getCouponCode()) ?>" />
                    <div id="advice-error-message"></div>
                </div>
            </div>
            <div class="buttons-set">
	            <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Continue')) ?>" class="button" onclick="return validateChoice();" value="<?php echo Mage::helper('core')->quoteEscape($this->__('Continue')) ?>"><span><span><?php echo $this->__('Continue') ?></span></span></button>
                <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif'); ?>" style="display: none;" id="discount-coupon-loader" />
	        </div>
    	</form>
    </div>
</div>

<script type="text/javascript">
//<![CDATA[
document.observe("dom:loaded", function() {
	// initially hide all containers for tab content
    <?php if(strlen($this->getCouponCode()) == 0): ?>
        $('discount-coupon-form').hide();
        visibleCheckoutButton(false);
    <?php endif;?>

    $$('input[type=radio][name=choice]').invoke('observe','click',function(field) {
        if(this.value == 1)
        {
            $('discount-coupon-form').show();
            $('coupon_code').addClassName('required-entry');
            $('coupon_use').setValue(1);
        }
        else
        {
            $('discount-coupon-form').hide();
            $('coupon_code').removeClassName('required-entry');
            $('coupon_use').setValue(0);
        }
    });
});

function visibleCheckoutButton(isVisible)
{
	if($$('ul.checkout-types').length)
	{
		$$('ul.checkout-types').forEach(function(item) {
			if(isVisible)
				item.show();
			else
				item.hide();
		});
	}
}

function validateChoice()
{
	var formToValidate = $('discount-choice-form');
    var validator = new Validation(formToValidate);
    if(validator.validate()) {
        var selectedRadio = parseInt($$('input:checked[type=radio][name=choice]')[0].value);

        $('discount-coupon-loader').show();
        $('advice-error-message').update('');

        var request = new Ajax.Request(
            '<?php echo $this->getFormActionUrl(); ?>',
            {
                method:'post',
                parameters: Form.serialize(formToValidate),
                onComplete: function() {
                    $('discount-coupon-loader').hide();
                },
                onSuccess: function(result) {
                    var result = JSON.parse(result.responseText);
                    if(result.html != undefined)
                        $('shopping-cart-totals-table').replace(result.html);

                    if(result.message != undefined)
                        $('advice-error-message').update(result.message);

                    if(result.status == 'SUCCESS')
                        visibleCheckoutButton(true);
                    else
                        visibleCheckoutButton(false);
                },
                onFailure: function() {
                    $('advice-error-message').update('<?php echo $this->__('Error in processing request!'); ?>');
                },
            }
        );
    }
    return false;
}
//]]>
</script>