.page {
    text-align: right;
}
.header-row-background .welcome-msg {
    float: left;
}
.header-row-background .header-switchers {
    float: right;
}
.logo {
    float: right;
}
.page-header-container .f-right {
    float: left;
}
.grid-full .li-wrapper {
    text-align: right;
}
.grid-full ul ul .level2 > a {
    margin-right: -12px;
    margin-left: auto;
}