<?php
$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$theme = $this->helper('storesettings');
$spcd_helper = $this->helper('specialpricecountdown/data');
$currDate = $spcd_helper->currDate();
?>

<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
    <?php
    $_collectionSize = $_products->getSize();

    if($_collectionSize > 4)  {
        $_sliderClass = "sliderClass";
        $_sliderOnOf = "homeSider_1";
        $_itemwidth = "free";
        $_slidControl = '<div class="home-carousel-control">
            <a class="carousel-prev1 fa fa-angle-left" href="#"></a>
                <a class="carousel-next1 fa fa-angle-right" href="#"></a>
        </div>';
    } else {
        $_sliderOnOf = "row";
        $_itemwidth = "col-sm-3";
        $_sliderClass = '';
        $_slidControl = '';
    }

    ?>
    <div class="widget widget-catalogsale-products <?php echo $_sliderClass;?>">
        <div class="page-title category-title">
            <h1><?php echo $this->__('Special products') ?></h1>
        </div>
        <?php $suffix = $this->getNameInLayout(); ?>
        <ul class="products-grid <?php echo $_sliderOnOf;?>" id="widget-catalogsale-products-<?php echo $suffix; ?>">
            <?php foreach ($_products->getItems() as $_product): ?>
                <li class="item <?php echo $_itemwidth;?>" <?php echo $theme->getSeoProduct() ?>>
                    <div class="wrapper-hover">
                        <div class="product-image-container">
                            <!-- Carusel Images Product -->
                            <?php if ($theme->getCfg('home_grid/type_hover') == 'carusel_images'): ?>
                                <?php include("include_gallery.phtml"); ?>
                            <?php else: ?>
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image" <?php echo $theme->getSeoUrl(); ?>>
                                    <img
                                        id="product-collection-image-<?php echo $_product->getId(); ?>"
                                        src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($theme->getCfg('home_grid/image_width'), $theme->getCfg('home_grid/image_height')); ?>"
                                        alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" <?php echo $theme->getSeoImage(); ?>/>
                                    <!-- Include Hover images -->
                                    <?php if ($theme->getCfg('home_grid/type_hover') == 'hover_images'): ?>
                                        <?php include("include_imghover.phtml"); ?>
                                    <?php endif; ?>
                                    <!-- End Hover images -->
                                </a>
                            <?php endif; ?>
                            <!-- End Images Product -->

                            <!-- Include Product Thumbs -->
                            <?php if ($theme->getCfg('home_grid/type_hover') == 'thumbnails'): ?>
                                <?php include("include_thumbs.phtml"); ?>
                            <?php endif; ?>
                            <!-- End Product Thumbs -->
                            <?php if($spcd_helper->isEnabledSales()): ?>
                                <?php
                                $setDate = $spcd_helper->countdownTime($_product);
                                if ($setDate > 0):
                                    if ($currDate < $setDate): ?>
                                        <div id="special_countdown_<?php echo $_product->getId(); ?>" class="special_countdown"></div>
                                        <script type="text/javascript">
                                            setCountdown("<?php echo $setDate; ?>", "<?php echo $_product->getId(); ?>");
                                        </script>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>
                        <div class="product-info">
                            <h3 class="product-name noSwipe" ><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>)" <?php echo $theme->getSeoName(); ?>><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></h3>

                            <?php echo $this->getPriceHtml($_product, true, '-widget-catalogsale-'.$suffix) ?>
                            <div class="wrapper-relative">
                                <div class="wrapper-hover-hiden">
                                    <?php
                                    // Provides extra bloc->keepFrame(false)s on which to hang some features for products in the list
                                    // Features providing UI elements targeting this block will display directly below the product name
                                    if ($this->getChild('name.after')) {
                                        $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                                        foreach ($_nameAfterChildren as $_nameAfterChildName) {
                                            $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                            $_nameAfterChild->setProduct($_product);

                                            echo $_nameAfterChild->toHtml();
                                        }
                                    }
                                    ?>
                                    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                    <div class="actions">
                                        <?php if($_product->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart noSwipe" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><i class="material-design-shopping232"></i><?php echo $this->__('Add to Cart') ?></span></span></button>
                                        <?php else: ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                        <?php endif; ?>
                                        <ul class="add-to-links noSwipe">
                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <li><a title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" rel="tooltip" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                            <?php endif; ?>
                                            <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                                <li><span class="separator">|</span> <a  title="<?php echo $this->__('Add to Compare') ?> " href="<?php echo $_compareUrl ?>" rel="tooltip" class="link-compare "><?php echo $this->__('Add to Compare') ?></a></li>
                                            <?php endif; ?>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="label-product">
                            <?php if($_product->getNew()) {echo '<span class="new">'.$this->__('New').'</span>';  }?>
                            <?php if($_product->getSale()){echo '<span class="sale">'.$this->__('Sale').'</span>';  }?>
                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
            </ul>
            <?php echo "$_slidControl"; ?>
            <script type="text/javascript">decorateList('widget-catalogsale-products-<?php echo $suffix; ?>', 'none-recursive')</script>
    </div>
    <script type="text/javascript">
        jQuery(window).bind('load resize',function(){
            if(jQuery(".homeSider_1").length){
                jQuery('.homeSider_1').carouFredSel({
                    responsive: true,
                    width: '100%',
                    prev: '.carousel-prev1',
                    next: '.carousel-next1',
                    scroll: {
                        items            : 1,
                        pauseOnHover    : true
                    },
                    auto    : {
                        play    : 1,
                        timeoutDuration :15000
                    },
                    items: {
                        visible: {
                            min: 1,
                            max: 4
                        },
                        width:370,
                        height: 'variable'
                    },
                    mousewheel: true,
                    swipe: {
                        onMouse: false,
                        onTouch: true
                    }
                });
                jQuery('.sliderClass .caroufredsel_wrapper').css({
                    'overflow': 'inherit'
                });
            };
        });
    </script>
<?php endif; ?>
