<script type="text/javascript">
//<![CDATA[
OptionTemplateText = '<table class="border" cellpadding="0" cellspacing="0">'+
        '<tr class="headings">'+
            <?php if ($this->getCanReadPrice() !== false) : ?>
            '<th class="type-price"><?php echo Mage::helper('catalog')->__('Price') ?></th>' +
            '<th class="type-type"><?php echo Mage::helper('catalog')->__('Price Type') ?></th>' +
            <?php endif; ?>
            '<th class="type-sku"><?php echo Mage::helper('catalog')->__('SKU') ?></th>'+
            '<th class="type-max"><?php echo Mage::helper('catalog')->__('Max</br >Characters') ?> </th>'+

            //START custom labels added by Demac
            '<th class="type-normal"><?php echo Mage::helper('catalog')->__('Regex') ?> </th>'+
            '<th class="type-textarea"><?php echo Mage::helper('catalog')->__('Regex Message') ?> </th>'+
            //END custom labels added by Demac

    '</tr>'+
        '<tr>'+
            <?php if ($this->getCanReadPrice() !== false) : ?>
            '<td><input type="text" class="input-text validate-number product-option-price" id="product_option_{{option_id}}_price" name="product[options][{{option_id}}][price]" value="{{price}}"<?php if ($this->getCanEditPrice() === false) : ?> disabled="disabled"<?php endif; ?>></td>' +
            '<td><?php echo $this->getPriceTypeSelectHtml() ?>{{checkboxScopePrice}}</td>' +
            <?php else : ?>
            '<input type="hidden" name="product[options][{{option_id}}][price]">' +
            '<input type="hidden" name="product[options][{{option_id}}][price_type]" id="product_option_{{option_id}}_price_type">' +
            <?php endif; ?>
            '<td><input type="text" class="input-text" name="product[options][{{option_id}}][sku]" value="{{sku}}"></td>'+
            '<td class="type-max"><input type="text" class="input-text validate-zero-or-greater" name="product[options][{{option_id}}][max_characters]" value="{{max_characters}}"></td>'+

            //START custom inputs added by Demac
            '<td class="type-normal"><input type="text" class="input-text" name="product[options][{{option_id}}][regex]" value="{{regex}}"></td>'+
            '<td class="type-textarea"><textarea class="input-text" name="product[options][{{option_id}}][regex_message]" >{{regex_message}}</textarea></td>'+
            //End custom inputs added by Demac

        '</tr>'+
    '</table>';

if ($('option_panel_type_text')) {
    $('option_panel_type_text').remove();
}
//]]>
</script>