<?php 
$_helper = $this->helper('instagram/data');

if ($_helper->isEnabledUser()):	

?>
	
	<div class="block block-instagram_user">
	    <div class="block-title">
	        <strong><span><?php echo $this->__('Instagram User') ?></span></strong>
	    </div>
		<div class="block-content">
			<?php 
			$user_object = Mage::getModel('instagram/instagram', array('username' => $_helper->getUserUsername(), 'client_id' => $_helper->getClientID())); ?>
			<?php $mediaRecent = $user_object->userMediaRecent(); ?>
			<?php $columns = $_helper->getImageColumns(); ?>
			<?php // $spacing = $_helper->getSpacing();
				  $counter = 0; 
				  $clear = '';
			?>
			<ul class="instagram-media">
			<?php 
			foreach ($mediaRecent as $item) { ?>
				<?php 
				if($columns == 0){
					$clear = '';
				}else{
					$clear = ($counter % $columns == 0) ? 'clear' : '';
				} ?>
				<li class="instagram-media_item<?php echo ' '.$clear; ?>">
					<a href="<?php echo @$item['link']; ?>">
						<img src="<?php echo @$item['images']['low_resolution']['url']; ?>" width="<?php echo $mediaRecent[0]['images']['low_resolution']['width'] ?>" height="<?php echo $mediaRecent[0]['images']['low_resolution']['height'] ?>" alt="">
					</a>
				</li>
			<?php $counter++ ?>
			<?php } ?>
			</ul>
	    </div>
	</div>
<?php endif; ?>