<?php 
$_helper = $this->helper('instagram/data');
$theme = $this->helper('storesettings');
if ($_helper->isEnabledUser()):
?>
    <div class="container">
        <div class="block-instagram_user instagram-footer">
            <div class="page-title category-title">
                <h1><?php echo $this->__('Instagram Feed') ?></h1>
            </div>
            <div class="block-content">
                <?php $user_object = Mage::getModel('instagram/instagram', array('username' => $_helper->getUserUsername(), 'client_id' => $_helper->getClientID())); ?>
                <?php $mediaRecent = $user_object->userMediaRecent(); ?>
                <?php $columns = $_helper->getImageColumns(); ?>
                <?php $counter = 0; $clear = ''; ?>
                <ul class="instagram-media">
                <?php
                foreach ($mediaRecent as $item) { ?>
                    <?php
                    if($columns == 0){
                        $clear = '';
                        $media_width_li = '';
                    }else{
                        $clear = ($counter % $columns == 0) ? 'clear' : '';
                        $media_width_li = 'width:'. 100/$columns.'%';
                    }
                    ?>

                    <li class="instagram-media_item<?php echo ' '.$clear; ?>" style="<?php echo $media_width_li; ?>">
                        <a target="_blank"
                           href="<?php echo @$item['link']; ?>"
                           style="max-width:<?php echo $mediaRecent[0]['images']['low_resolution']['width'] ?>px; max-height:<?php echo $mediaRecent[0]['images']['low_resolution']['height'] ?>px; ">
                            <img src="<?php echo @$item['images']['low_resolution']['url']; ?>">
                        </a>
                    </li>
                <?php $counter++ ?>
                <?php } ?>
                </ul>
            </div>
        </div>
    </div>
<?php endif; ?>