<?php 

$_helper = $this->helper('instagram/data');

if ($_helper->isEnabledTag()):		
?>

	<div class="block block-instagram_tag">
<!--	    <div class="block-title">-->
<!--	        <strong><span>--><?php //echo $this->__('Instagram Tag') ?><!--</span></strong>-->
<!--	    </div>-->
        <h2><?php echo $this->__('Instagram Tag') ?></h2>
		<div class="block-content">

			<?php
			$tag_object = Mage::getModel('instagram/instagram', array('username' => '', 'client_id' => $_helper->getClientID(), 'tag'=> '#' . $_helper->productTag()));

			if (gettype($tag_object->tagMediaRecent()) == 'string') {
				$tag_object = Mage::getModel('instagram/instagram', array('username' => '', 'client_id' => $_helper->getClientID(), 'tag'=> $_helper->getSampleTag()));
			} ?>
			<?php $tagRecent = $tag_object->tagMediaRecent(); ?>
			<?php $columns   = $_helper->getImageColumnsTag(); ?>
			<?php $counter   = 0;
				  $clear     = '';

				  $tagRecent[0]['images']['low_resolution']['width']  = $_helper->getImageSizeTag();
				  $tagRecent[0]['images']['low_resolution']['height'] = $_helper->getImageSizeTag();
			?>

			<ul class="instagram-media">
			<?php
			foreach ($tagRecent as $item) { ?>
				<?php
				if($columns == 0){
					$clear = '';
				}else{
					$clear = ($counter % $columns == 0) ? 'clear' : '';
				} ?>
				<li class="instagram-media_item<?php echo ' '.$clear; ?>">
					<a target="_blank" href="<?php echo $item['link']; ?>">
						<img src="<?php echo $item['images']['low_resolution']['url']; ?>" width="<?php echo $tagRecent[0]['images']['low_resolution']['width'] ?>" height="<?php echo $tagRecent[0]['images']['low_resolution']['height'] ?>" alt="">
					</a>
				</li>
			<?php $counter++ ?>
			<?php } ?>
			</ul>
	    </div>
	</div>
<?php endif; ?>