<?php
    /** @var Freento_UpsellsWidgets_Helper_Data */
    $helper = Mage::helper('freento_upsellswidgets');
    
    $uid = uniqid();
    $wrapperId = 'freento-upsellswidgets-wrapper-' . $uid;
?>

<div id="<?php echo $wrapperId ?>" class="freento-upsellswidgets-wrapper">
</div>

<?php
    foreach($helper->getWidgetParams($this) as $k => $v) {
        $requestParams[] = $k . ': ' . "'{$v}'";
    }
?>

<?php
/**
 * @todo load jQuery if not loaded
 */
?>
<link type="text/css" rel="stylesheet" media="screen" href="<?php echo $this->getSkinUrl('freento/upsellswidgets/css/colorbox.css'); ?>" />
<script type="text/javascript" src="<?php echo $this->getSkinUrl('freento/upsellswidgets/js/colorbox.min.js'); ?>"></script>
<script type="text/javascript">
    new Ajax.Request('<?php echo $this->getAjaxRequestUrl() ?>', {
        method: 'post',
        parameters: {<?php echo implode(',', $requestParams) ?>},
        onComplete: function(response) {
            if (response.status == 200 && response.responseText) {
                $('<?php echo $wrapperId ?>').update(response.responseText);
                registerFreentoUpsellsWidgetsProcesscheckoutSelectors('<?php echo $this->getData('processcheckout_selector') ?>', '<?php echo $uid ?>');
            }
        }
    });
</script>