<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Feed
 */
?>
<button type="button" id="new_value" class="scalable" style=""><span><span><span><?php print $this->__("New Condition")?></span></span></span></button>
