<?php if(count($this->getItemCollection()->getItems())): ?>

<?php $_productsRuleData = array(); ?>

<?php $_columnCount = $this->getColumnCount(); ?>
<div class="box-collateral box-up-sell">
    <h2><?php echo $this->__('You may also be interested in the following product(s)') ?></h2>
    <ul class="products-list" id="upsell-product-table">
    <?php $this->resetItemsIterator() ?>
    <?php foreach ($this->getItemCollection()->getItems() as $_link): ?>
        <li>
            <a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_link->getName()) ?>" class="product-image">
                <img src="<?php echo $this->helper('catalog/image')->init($_link, 'small_image')->resize(280) ?>" alt="<?php echo $this->escapeHtml($_link->getName()) ?>" />
            </a>
            <h3 class="product-name"><a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_link->getName()) ?>"><?php echo $this->escapeHtml($_link->getName()) ?></a></h3>
            <?php echo $this->getPriceHtml($_link, true, '-upsell') ?>
            
            <?php if($_link->isSaleable()): ?>
                <button type="button" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_link) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
            <?php else: ?>
                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            <?php endif; ?>
            
        </li>
    <?php endforeach; ?>
    </ul>
    <?php $_addAllUrl = Mage::getUrl('freento_upsellswidgets/widget/addall', array ('_secure' => Mage::app()->getStore()->isCurrentlySecure())); ?>
    <form action="<?php echo $_addAllUrl ?>" method="post">
        <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
        <input type="hidden" name="products_rule" value='<?php echo Mage::helper('core')->jsonEncode($_productsRuleData) ?>' />
        <button type="submit" class="button btn-cart"><span><span><?php echo $this->__('Add All To Cart') ?></span></span></button>
    </form>
</div>
<?php endif ?>