<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Feed
 */
?>
<div id="output_static_row" class="inside-row output-static-row">
    <input id="output_static" placeholder="<?php 
        print $this->__("Text")
    ?>" name="advanced[:value_order][output][][static]" type="text" class="input-text"/>
    <span style="float: right;">
        <button id="delete_output" type="button" class="scalable delete" style=""><span><span><span></span></span></span></button>
    </span>
</div>