/* ============================================ *
 * Special Price Countdown
 * ============================================ */
/*********************************************/
/**********************************/
/**************************************/
/***************************************/
/****************************************/
/****************************************/
/* ============================================ *
 * Linearize Table
 * ============================================ */
.special_countdown {
    margin: 15px -20px -10px;
    color: #fff;
    line-height: 15px;
}
.products-list .special_countdown {
    margin: 10px 0;
}
.product-image-container {
    position: relative;
}
.product-image-container .special_countdown {
    position: absolute;
    margin: 0;
    bottom: 10px;
    width: 100%;
}
.special_countdown span {
    background: #fd7979;
    text-align: center;
    min-width: 40px;
    display: inline-block;
    margin: 0 2px 4px 0;
    padding: 5px;
}
.special_countdown span strong {
    font-size: 13px;
}

.special_countdown span b {
    display: block;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 300;
    background: #fd7979;
    padding-top: 3px;
}

.special_countdown i {
    font-style: normal;
    padding: 10px 0 0 5px;
    float: left;
    vertical-align: bottom;
    display: none;
}

.special_countdown::after {
    content: '';
    display: table;
    clear: both;
}

@media only screen and (max-width: 979px) {
    .special_countdown {
        margin: 10px 0 0;
    }
    .special_countdown span {
        margin: 0 0px 5px 4px;
    }

    .special_countdown span strong {
        font-size: 18px;
        padding: 5px 8px;
    }
    .sliderClass .special_countdown span strong {
        font-size: 12px;
    }
}
@media only screen and (max-width: 768px) {
    .special_countdown {
        margin: 10px 0 0;
    }
}
@media only screen and (max-width: 599px) {
    .special_countdown span strong {
        padding: 5px 5px;
    }

    .special_countdown span b {
        padding: 2px 5px 0 5px;
    }
}

/*# sourceMappingURL=styles.css.map */
