<?php $_option = $this->getOption(); ?>

<dt><label<?php if ($_option->getIsRequire()) echo ' class="required"' ?>><?php if ($_option->getIsRequire()) echo '<em>*</em>' ?><?php echo  $this->htmlEscape($_option->getTitle()) ?></label>

    <?php echo $this->getFormatedPrice() ?></dt>

    <dd<?php if ($_option->decoratedIsLast){?> class="last"<?php }?>>

    <div class="input-box">

        <?php if ($_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_FIELD): ?>

            <?php //Add custom regex validation class if required ?>

            <input <?php if($_option->getSku() == "numbers"){echo "onkeypress='return isNumber(event)'";}else if($_option->getSku() == "characters"){echo "onkeypress='return validatechar(event,this)'";} ?> type="text" maxlength="<?php echo $_option->getMaxCharacters() ? $_option->getMaxCharacters() : '' ?>"  onchange="opConfig.reloadPrice()" id="options_<?php echo $_option->getId() ?>_text" class="<?php echo $_option->getRegex()?'validate-regex-'.$_option->getId():''?> input-text<?php echo $_option->getIsRequire() ? ' required-entry' : '' ?> <?php echo $_option->getMaxCharacters() ? ' validate-length maximum-length-'.$_option->getMaxCharacters() : '' ?> product-custom-option" name="options[<?php echo $_option->getId() ?>]" value="<?php echo $this->escapeHtml($this->getDefaultValue()) ?>" />

            <?php
            if($_option->getSku() == "characters")
                {?>

            <div>
            <input style="display: none;margin-top: 5px;margin-right: 10px;float: left;" id="btn_save_img" type="button" value="Save" class="btn success" onclick="save_img_text('options_<?php echo $_option->getId() ?>_text')"/> 
                        
            <a class="btn success" style="display: none;margin-top: 5px;cursor: pointer;" id="preview_img_text">Preview Image</a>
            </div>

            
            <div id="show_popup_text" class="modal">              
              <div class="modal-content">
                
                <div class="modal-body">
                <div><span style="z-index: 999" class="close_text">&times;</span></div>
                  <img style="width: 100%" src="" id="product_image_text">
              </div>
          </div>
      </div>

      <script>

        var modal_text = document.getElementById('show_popup_text');
        var btn_text = document.getElementById("preview_img_text");
        var span_text = document.getElementsByClassName("close_text")[0];
        btn_text.onclick = function() {
            modal_text.style.display = "block";
        }
        span_text.onclick = function() {
            modal_text.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal_text) {
                modal_text.style.display = "none";
            }
        }
    </script> 

    <?php } ?>

        <?php elseif ($_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_AREA): ?>

            <?php //Add custom regex validation class if required ?>



            <textarea id="options_<?php echo $_option->getId() ?>_text" onchange="opConfig.reloadPrice()" class="<?php echo $_option->getRegex()?'validate-regex-'.$_option->getId():''?> <?php echo $_option->getIsRequire() ? ' required-entry' : '' ?> <?php echo $_option->getMaxCharacters() ? ' validate-length maximum-length-'.$_option->getMaxCharacters() : '' ?> product-custom-option" name="options[<?php echo $_option->getId() ?>]" rows="5" cols="25"><?php echo $this->escapeHtml($this->getDefaultValue()) ?></textarea>



        <?php endif; ?>

        <?php if ($_option->getMaxCharacters()): ?>

            <p class="note"><?php echo Mage::helper('catalog')->__('Maximum number of characters:')?> <strong><?php echo $_option->getMaxCharacters() ?></strong></p>

        <?php endif; ?>

    </div>

</dd>



<?php if($_option->getRegex()): // Add a unique validator for each new input requiring regex validation?>	

    <script>

        Validation.add('validate-regex-<?php echo $_option->getId()?>','<?php echo $_option->getRegexMessage()?$_option->getRegexMessage():$this->__('Invalid Input')?>',function(the_field_value){

            var re = new RegExp(<?php echo $_option->getRegex() ?>);

            return re.test(the_field_value);

        });

    </script>

<?php endif; ?>



<script type="text/javascript">

    function isNumber(evt) {

        evt = (evt) ? evt : window.event;

        var charCode = (evt.which) ? evt.which : evt.keyCode;

        if (charCode > 31 && (charCode < 48 || charCode > 57)) {

        	alert("Only number allowed.");

            return false;

        }

        return true;

    }

    function validatechar(e, t)  

    {  
        document.getElementById("btn_save_img").style.display = "block";
     try {

        if (window.event) {

            var charCode = window.event.keyCode;

        }

        else if (e) {

            var charCode = e.which;

        }

        else { return true; }

        if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))

            return true;

        else

        	alert("Only alphabetic allowed.");

            return false;

    }

    catch (err) {

        alert(err.Description);

    }  

}  

</script>



