<?php $_option = $this->getOption(); ?>

<dt>
	<label <?php if ($_option->getIsRequire()) echo ' class="required"' ?>
		<?php if($_option->getSku() == "final_img_path"){echo "style='display:none'";}else{echo "style='display:block'";} ?>><?php if ($_option->getIsRequire()) echo '<em>*</em>' ?><?php echo  $this->htmlEscape($_option->getTitle()) ?></label>

    <?php echo $this->getFormatedPrice() ?></dt>

<dd <?php if ($_option->decoratedIsLast){?> class="last" <?php }?>>

	<div class="input-box">

        <?php if ($_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_FIELD): ?>

            <?php //Add custom regex validation class if required ?>

            <?php
            $haystack = $_option->getSku();
            $needle = "characters";
            
            if (strpos($haystack, $needle) !== false) {
                $char_function = $_option->getSku();
            }
            ?>
<!-- onfocus="hide_preview_btn()" -->
            <?php switch($_option->getInputType()): 
                    case "necklace": ?>
            
            		<input 
            			oninput="engraver.setText(<?php echo $_option->getSortOrder();?>, document.getElementById('options_<?php echo $_option->getId() ?>_text').value);showPreview();" <?php //echo ($_option->getSku() == "final_img_path") ? 'disabled' : ''; ?>  <?php if($_option->getSku() == "numbers"){echo "onkeypress='return isNumber(event)'";}else if(isset($char_function) && $char_function != ''){echo "onkeypress='return validatechar(event,this)'";} ?> <?php if($_option->getSku() == "final_img_path"){echo "type='hidden'";}else{echo "type='text'";} ?>  
            			maxlength="<?php echo $_option->getMaxCharacters() ? $_option->getMaxCharacters() : '' ?>"  
            			onchange="opConfig.reloadPrice(); necklace(document.getElementById('options_<?php echo $_option->getId() ?>_text').value, 'options_<?php echo $_option->getId() ?>_text');" 
            			id="options_<?php echo $_option->getId() ?>_text" 
            			class="<?php echo $_option->getRegex()?'validate-regex-'.$_option->getId():''?> input-text<?php echo $_option->getIsRequire() ? ' required-entry' : '' ?> <?php echo $_option->getMaxCharacters() ? ' validate-length maximum-length-'.$_option->getMaxCharacters() : '' ?> product-custom-option" 
            			name="options[<?php echo $_option->getId() ?>]" 
            			value="<?php echo $this->escapeHtml($this->getDefaultValue()) ?>" 
            			style="" 
            		/>
            		
            <?php break; ?>
            <?php default: ?>
            
            		<input 
            			oninput="engraver.setText(<?php echo $_option->getSortOrder();?>, document.getElementById('options_<?php echo $_option->getId() ?>_text').value);showPreview();" <?php //echo ($_option->getSku() == "final_img_path") ? 'disabled' : ''; ?>  <?php if($_option->getSku() == "numbers"){echo "onkeypress='return isNumber(event)'";}else if(isset($char_function) && $char_function != ''){echo "onkeypress='return validatechar(event,this)'";} ?> <?php if($_option->getSku() == "final_img_path"){echo "type='hidden'";}else{echo "type='text'";} ?>  
            			maxlength="<?php echo $_option->getMaxCharacters() ? $_option->getMaxCharacters() : '' ?>"  
            			onchange="opConfig.reloadPrice(); fromatCase(this.id, this.value, '<?php echo $_option->getInputType(); ?>');" 
            			id="options_<?php echo $_option->getId() ?>_text" 
            			class="<?php echo $_option->getRegex()?'validate-regex-'.$_option->getId():''?> input-text<?php echo $_option->getIsRequire() ? ' required-entry' : '' ?> <?php echo $_option->getMaxCharacters() ? ' validate-length maximum-length-'.$_option->getMaxCharacters() : '' ?> product-custom-option" 
            			name="options[<?php echo $_option->getId() ?>]" 
            			value="<?php echo $this->escapeHtml($this->getDefaultValue()) ?>" 
            			style="text-transform:<?php echo $_option->getInputType(); ?>;" 
            		/>
            		 
            <?php endswitch;  ?>
            
        <?php elseif ($_option->getType() == Mage_Catalog_Model_Product_Option::OPTION_TYPE_AREA): ?>

            <?php //Add custom regex validation class if required ?>



            <textarea 
                id="options_<?php echo $_option->getId() ?>_text"
    			onchange="opConfig.reloadPrice()"
    			class="<?php echo $_option->getRegex()?'validate-regex-'.$_option->getId():''?> <?php echo $_option->getIsRequire() ? ' required-entry' : '' ?> <?php echo $_option->getMaxCharacters() ? ' validate-length maximum-length-'.$_option->getMaxCharacters() : '' ?> product-custom-option"
    			name="options[<?php echo $_option->getId() ?>]" 
    			rows="5" cols="25"><?php echo $this->escapeHtml($this->getDefaultValue()) ?>
			</textarea>



        <?php endif; ?>

        <?php if ($_option->getMaxCharacters()): ?>

            <p class="note"><?php echo Mage::helper('catalog')->__('Maximum number of characters:')?> <strong><?php echo $_option->getMaxCharacters() ?></strong>
		</p>

        <?php endif; ?>

    </div>

</dd>



<?php if($_option->getRegex()): // Add a unique validator for each new input requiring regex validation?>

<script>

        Validation.add('validate-regex-<?php echo $_option->getId()?>','<?php echo $_option->getRegexMessage()?$_option->getRegexMessage():$this->__('Invalid Input')?>',function(the_field_value){

            var re = new RegExp(<?php echo $_option->getRegex() ?>);

            return re.test(the_field_value);

        });

    </script>

<?php endif; ?>

<script type="text/javascript">
    
    function showPreview() {
        // If this is a custom product, show the preview image when writing
        <?php $_product = $this->getProduct(); ?>
        var productId = '<?php echo $_product->getResource()->getAttribute('product_customization_id')->getFrontend()->getValue($_product); ?>'
        if(productId) {
            $j('.product-image-thumbs .thumb-link[data-image-index="0"]').click();
            $j('.product-image-thumbs .thumb-link[data-image-index="0"]').click();
        }
    }

    function hide_preview_btn()
    {
        //document.getElementById('preview_img').style.display = 'none';
        //document.getElementById('preview_txt').style.display = 'none';
    }
</script>

<script type="text/javascript">

        function fromatCase(elementId, vText, caseType){
//         	console.log(elementId + " >##>  "+ value + " >##> "+caseType);
//         	document.getElementById(elementId).value = vText.toUpperCase();
//         	debugger;
        	switch(String(caseType)) {
            case "uppercase":
                // All characters to uppercase
            	document.getElementById(elementId).value = vText.toUpperCase();
                break;
            case "lowercase":
                // All characters to lowercase
            	document.getElementById(elementId).value = vText.toLowerCase();
                break;
            case "capitalize":
                // First character of each word to uppercase
            	document.getElementById(elementId).value = vText.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
                break;
            case "inherit":
                // First letter of first word Uppercase
				document.getElementById(elementId).value = vText.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});	
                break;
            case "necklace":
            	// First letter Uppercase and remaining letter lowercase without space.
        		var textAnswer = document.getElementById(elementId);
        		
        		if(vText.charAt(0) == vText.charAt(0).toLowerCase()){
        			alert("First letter uppercase. "+vText.charAt(0));
        			document.getElementById(elementId).value  = "";
        		}
        		
            	for (var i = 1; i < vText.length; i++) {
            		if(vText.charAt(i) == vText.charAt(i).toUpperCase()){
            			alert("Please insert After first letter uppercase remaining letter lowercase without space. "+ value);
            			document.getElementById(elementId).value  = "";
            		}
            	}
            	
                break;
                
            default:
//             	document.getElementById(elementId).value = vText;
       		}
                	
        }
        
		function necklace(vala, nam){

// 			console.log(vala.charAt(0).toLowerCase()+" >>>>>  "+ nam);

    		// var textAnswer = document.getElementById("options_<?php echo $_option->getId() ?>_text");
    		var textAnswer = document.getElementById(nam);
    		
    		if(vala.charAt(0) == vala.charAt(0).toLowerCase()){
    			alert("First letter uppercase. "+vala.charAt(0));
    			textAnswer.value = "";
    		}
    		
        	for (var i = 1; i < vala.length; i++) {
    
        		if(vala.charAt(i) == vala.charAt(i).toUpperCase()){
        			alert("Please insert After first letter uppercase remaining letter lowercase without space. "+ vala);
        			textAnswer.value = "";
        		}
        	}
        }
        
    function isNumber(evt) {
    	alert(evt);
        evt = (evt) ? evt : window.event;

        var charCode = (evt.which) ? evt.which : evt.keyCode;

        if (charCode > 31 && (charCode < 48 || charCode > 57)) {

        	alert("Only number allowed.");

            return false;

        }

        return true;

    }

    function validatechar(e, t)  

    {  
        //document.getElementById('btnsave').style.display = 'block';
        /*document.getElementById('preview_img').style.display = 'none';
        document.getElementById('preview_txt').style.display = 'block';*/
        
     try {

        if (window.event) {

            var charCode = window.event.keyCode;

        }

        else if (e) {

            var charCode = e.which;

        }

        else { return true; }

        if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))

            return true;

        else

        	alert("Only alphabetic allowed.");

            return false;

    }

    catch (err) {

        alert(err.Description);

    }  

}  

</script>



