<?php
$_category  = Mage::registry('current_category');
$_helper    = Mage::helper('catalog/output');
$_category  = $this->getCurrentCategory();
if($_category){
    $_imgHtml   = '';
    $_classleft = '';
    if($this->getCurrentCategory()->getDescription()) {
        $_classleft = 'category-image-left';
    }
    if ($_imgUrl = $_category->getImageUrl()) {
        echo   $_imgHtml = '<div class="container"><p class="category-image '.$_classleft.'"><img src="'.$_imgUrl.'" alt="'.$this->htmlEscape($_category->getName()).'" title="'.$this->htmlEscape($_category->getName()).'" /></p></div>';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }
}
?>