<?php
/**
 * Magento
 *
 */

$_productCollection=$this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$theme = $this->helper('storesettings');
$spcd_helper = $this->helper('specialpricecountdown/data');
$currDate = $spcd_helper->currDate();


?>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>

    <?php   $_collectionSize = $_products->getSize(); //var_dump($this->getData()); ?>
    <div class="widget widget-new-products">
        <div class="widget-title">
            <h2>
                <?php if ($this->_getData('display_type') == 'all_products'): ?>
                    <?php echo $this->__('All products') ?>
                <?php else:?>
                    <?php echo $this->__('New Products') ?>
                <?php endif;?>
            </h2>
        </div>
        <div class="widget-products">
            <?php echo $this->getPagerHtml() ?>
            <?php $_columnCount = 4; ?>
            <?php $i=0; foreach ($_products->getItems() as $_product): ?>
                <?php if ($i++%$_columnCount==0): ?>
                    <ul class="products-grid row">
                <?php endif; ?>
                <li class="item col-sm-3 <?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>" <?php echo $theme->getSeoProduct() ?>>
                    <div class="wrapper-hover">
                        <div class="product-image-container">
                            <!-- Carusel Images Product -->
                            <?php if ($theme->getCfg('home_grid/type_hover') == 'carusel_images'): ?>
                                <?php include("include_gallery.phtml"); ?>
                            <?php else: ?>
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image" <?php echo $theme->getSeoUrl(); ?>>
                                    <img
                                        id="product-collection-image-<?php echo $_product->getId(); ?>"
                                        src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($theme->getCfg('home_grid/image_width'), $theme->getCfg('home_grid/image_height')); ?>"
                                        alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" <?php echo $theme->getSeoImage(); ?>/>
                                    <!-- Include Hover images -->
                                    <?php if ($theme->getCfg('home_grid/type_hover') == 'hover_images'): ?>
                                        <?php include("include_imghover.phtml"); ?>
                                    <?php endif; ?>
                                    <!-- End Hover images -->
                                </a>
                            <?php endif; ?>
                            <!-- End Images Product -->

                            <!-- Include Product Thumbs -->
                            <?php if ($theme->getCfg('home_grid/type_hover') == 'thumbnails'): ?>
                                <?php include("include_thumbs.phtml"); ?>
                            <?php endif; ?>
                            <!-- End Product Thumbs -->
                            <?php if($spcd_helper->isEnabledSales()): ?>
                                <?php
                                $setDate = $spcd_helper->countdownTime($_product);
                                if ($setDate > 0):
                                    if ($currDate < $setDate): ?>
                                        <div id="special_countdown_<?php echo $_product->getId(); ?>" class="special_countdown"></div>
                                        <script type="text/javascript">
                                            setCountdown("<?php echo $setDate; ?>", "<?php echo $_product->getId(); ?>");
                                        </script>
                                    <?php endif; ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>
                        <div class="product-info">
                            <h3 class="product-name noSwipe" <?php echo $theme->getSeoName(); ?>><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>)"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></h3>
                            <?php echo $this->getPriceHtml($_product, true, '-widget-new-grid') ?>
                            <div class="wrapper-relative">
                                <div class="wrapper-hover-hiden">
                                    <?php
                                    // Provides extra bloc->keepFrame(false)s on which to hang some features for products in the list
                                    // Features providing UI elements targeting this block will display directly below the product name
                                    if ($this->getChild('name.after')) {
                                        $_nameAfterChildren = $this->getChild('name.after')->getSortedChildren();
                                        foreach ($_nameAfterChildren as $_nameAfterChildName) {
                                            $_nameAfterChild = $this->getChild('name.after')->getChild($_nameAfterChildName);
                                            $_nameAfterChild->setProduct($_product);

                                            echo $_nameAfterChild->toHtml();
                                        }
                                    }
                                    ?>
                                    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                                    <div class="actions">
                                        <?php if ($_product->isSaleable()): ?>
                                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart noSwipe" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><i class="material-design-shopping232"></i><?php echo $this->__('Add to Cart') ?></span></span></button>
                                        <?php else: ?>
                                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                        <?php endif; ?>
                                        <ul class="add-to-links noSwipe">
                                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                                <li><a href="<?php echo $this->getAddToWishlistUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                            <?php endif; ?>
                                            <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                                                <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                            <?php endif; ?>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="label-product">
                            <?php if($_product->getNew()) {echo '<span class="new">'.$this->__('New').'</span>';  }?>
                            <?php if($_product->getSale()){echo '<span class="sale">'.$this->__('Sale').'</span>';  }?>
                        </div>
                    </div>
                </li>
                <?php if ($i%$_columnCount==0 || $i==count($_products)): ?>
                    </ul>
                <?php endif ?>
            <?php endforeach; ?>
        </div>
    </div>
<?php endif; ?>
