<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Feed
 */
?>
<button id="delete_value" type="button" class="scalable delete" style=""><span><span><span><?php
    print $this->__("Remove")
?></span></span></span></button>