﻿.theme-border, .table-bordered {
	border-top: solid 2px #F05059
}

.theme-color {
	color: #F05059
}

.title-border {
	border-bottom: solid 2px #dfdfdf;
	padding-bottom: 30px !important;
	margin-bottom: 40px !important
}

@media only screen and (max-width: 767px) {
	.title-border {
		margin-bottom: 15px !important;
		padding-bottom: 10px !important
	}
}

.theme-block {
	border: solid 1px #dfdfdf;
	border-top: solid 2px #F05059;
	padding: 30px 29px;
	margin-bottom: 60px
}

.no-theme-block {
	border: none;
	padding: 0;
	margin-bottom: 0
}

.table-bordered thead>tr>th, .table-bordered thead>tr>td {
	font-size: 16px;
	line-height: 1.667em;
	color: #333;
	text-transform: uppercase;
	font-weight: 500
}

@media only screen and (max-width: 991px) {
	.theme-block {
		padding: 15px;
		margin-bottom: 30px
	}
}

.table-bordered thead>tr>th, .table-bordered thead>tr>td {
	border-bottom-width: 1px
}

.table-bordered th, .table-bordered td {
	border: solid 1px #dfdfdf
}

.ink {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	z-index: 9999
}

.animate {
	-webkit-animation: ripple 0.65s linear;
	-webkit-animation: ripple 0.65s linear;
	-moz-animation: ripple 0.65s linear;
	-ms-animation: ripple 0.65s linear;
	-o-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear
}

@
-webkit-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
-moz-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
-o-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
.icon-sprite, .icon-sprite-for-modules {
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	text-indent: -9999px
}

.icon-sprite-for-modules {
	background-image: url(../images/icon_sprite.png)
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min--moz-device-pixel-ratio : 2)
		, ( -o-min-device-pixel-ratio : 4 / 2) , ( min-device-pixel-ratio : 2)
		, ( min-resolution : 192dpi) , ( min-resolution : 2dppx) {
	.icon-sprite, .icon-sprite-for-modules {
		background-image: url(../images/icon_sprite@2x.png);
		background-size: 100px 1000px
	}
}

@
keyframes zoomIn { 0%{
	opacity: 0;
	transform: scale(0.3)
}

50%{
opacity
:
1
}
}
@
-webkit-keyframes zoomIn { 0%{
	opacity: 0;
	-webkit-transform: scale(0.3)
}

50%{
opacity
:
1
}
}
.skip-nav {
	width: 40%
}

.skip-nav:not (.skip-active ):hover {
	text-decoration: none
}

.skip-nav .label {
	display: inline
}

.skip-nav .icon:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: ""
}

@media only screen and (min-width: 500px) {
	.skip-nav {
		width: 25%
	}
}

@media only screen and (max-width: 991px) {
	#header-nav {
		padding: 0;
		height: 0
	}
	.main-menu {
		position: relative !important
	}
	.pseudoStickyBlock {
		display: none !important
	}
}

@media only screen and (min-width: 992px) {
	#header-nav {
		display: block;
		padding: 0
	}
	.header-nav {
		display: block;
		margin-top: 15px
	}
	.skip-nav {
		display: none
	}
}

.nav-primary {
	text-align: center
}

.nav-primary a {
	display: block;
	text-decoration: none;
	position: relative;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #888
}

.nav-primary li {
	position: relative
}

.nav-primary li.level1 {
	padding: 1px 20px
}

.nav-primary li.level1 a {
	text-align: left;
	font-size: 12px;
	padding: 1px 0
}

.nav-primary .menu-active>ul.level0, .nav-primary li.level0 li.sub-menu-active>ul
	{
	display: block
}

.nav-primary li.level0>a {
	text-transform: uppercase
}

@media only screen and (max-width: 991px) {
	.nav-primary a.level0, .nav-primary a {
		line-height: 77px
	}
	.nav-primary li.level0 ul {
		display: none
	}
	.nav-primary li.level0 li {
		padding: 0 0 0 25px
	}
	.nav-primary li.level1 a {
		padding: 0 15px 0 25px
	}
	.nav-primary li.parent>a:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		display: block;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid #ccc;
		border-right: none;
		top: 50%;
		left: 10px;
		right: auto;
		margin-top: -5px
	}
	.nav-primary li.parent.sub-menu-active>a:after, .nav-primary li.parent.menu-active>a:after
		{
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		display: block;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		border-top: 5px solid #ccc;
		border-bottom: none;
		top: 50%;
		left: 10px;
		right: auto;
		margin-top: -5px
	}
	.nav-primary li.menu-active>a, .nav-primary li.sub-menu-active>a {
		color: #333
	}
}

@media only screen and (min-width: 992px) {
	.nav-primary li>ul:after {
		content: "";
		position: absolute;
		left: 0px;
		top: -5px;
		width: 100%;
		height: 5px
	}
	.nav-primary a.level0 {
		padding: 19px 20px 28px
	}
	.nav-primary a.level0:before {
		content: "";
		position: absolute;
		left: 50%;
		width: 0;
		bottom: 0;
		height: 3px;
		background: #F05059;
		opacity: 0
	}
	.nav-primary li.level0, .nav-primary a.level0 {
		display: inline-block
	}
	.nav-primary li:last-child>a {
		border-bottom: none
	}
	.nav-primary a:hover, .nav-primary li:hover>a, .nav-primary li.active>a
		{
		color: #333
	}
	.nav-primary a:hover:before, .nav-primary li:hover>a:before,
		.nav-primary li.active>a:before {
		width: 100%;
		left: 0;
		opacity: 1
	}
	.nav-primary li li {
		padding: 0 20px
	}
	.nav-primary li li a:hover, .nav-primary li li.menu-active>a,
		.nav-primary li li li:hover>a, .nav-primary li li li.active>a {
		background: #F05059;
		padding-left: 10px;
		color: #fff
	}
	.nav-primary .menu-active {
		z-index: 200
	}
	.nav-primary li.level0 ul {
		background: #FBFBFB;
		-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
		position: absolute;
		left: 0;
		top: 72px;
		z-index: 10;
		width: 250px;
		display: none;
		padding: 20px 0
	}
	.nav-primary li.level1 ul {
		left: 210px;
		top: 0px
	}
	.nav-primary li.level0 ul.level0.position-test {
		display: block
	}
	.nav-primary li.level0 ul.level0.spill {
		right: 0;
		left: auto
	}
	.nav-primary li.level0 ul.level0.spill li.level1 ul {
		left: auto;
		right: 50px;
		top: 20px
	}
	.nav-primary li.level0 li.parent>a {
		position: relative
	}
	.nav-primary li.level0 li.parent>a:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		display: block;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		border-left: 4px solid #ccc;
		border-right: none;
		right: 5px;
		top: 50%;
		margin-top: -3px
	}
}

.nav-primary li.menu-active>ul {
	display: block
}