﻿.theme-border, .table-bordered {
	border-top: solid 2px #F05059
}

.theme-color {
	color: #F05059
}

.title-border {
	border-bottom: solid 2px #dfdfdf;
	padding-bottom: 30px !important;
	margin-bottom: 40px !important
}

@media only screen and (max-width: 767px) {
	.title-border {
		margin-bottom: 15px !important;
		padding-bottom: 10px !important
	}
}

.theme-block {
	border: solid 1px #dfdfdf;
	border-top: solid 2px #F05059;
	padding: 30px 29px;
	margin-bottom: 60px
}

.no-theme-block {
	border: none;
	padding: 0;
	margin-bottom: 0
}

.table-bordered thead>tr>th, .table-bordered thead>tr>td {
	font-size: 16px;
	line-height: 1.667em;
	color: #333;
	text-transform: uppercase;
	font-weight: 500
}

@media only screen and (max-width: 991px) {
	.theme-block {
		padding: 15px;
		margin-bottom: 30px
	}
}

.table-bordered thead>tr>th, .table-bordered thead>tr>td {
	border-bottom-width: 1px
}

.table-bordered th, .table-bordered td {
	border: solid 1px #dfdfdf
}

.ink {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	z-index: 9999
}

.animate {
	-webkit-animation: ripple 0.65s linear;
	-webkit-animation: ripple 0.65s linear;
	-moz-animation: ripple 0.65s linear;
	-ms-animation: ripple 0.65s linear;
	-o-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear
}

@
-webkit-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
-moz-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
-o-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
.icon-sprite, .icon-sprite-for-modules {
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	text-indent: -9999px
}

.icon-sprite-for-modules {
	background-image: url(../images/icon_sprite.png)
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min--moz-device-pixel-ratio : 2)
		, ( -o-min-device-pixel-ratio : 4 / 2) , ( min-device-pixel-ratio : 2)
		, ( min-resolution : 192dpi) , ( min-resolution : 2dppx) {
	.icon-sprite, .icon-sprite-for-modules {
		background-image: url(../images/icon_sprite@2x.png);
		background-size: 100px 1000px
	}
}

@
keyframes zoomIn { 0%{
	opacity: 0;
	transform: scale(0.3)
}

50%{
opacity
:
1
}
}
@
-webkit-keyframes zoomIn { 0%{
	opacity: 0;
	-webkit-transform: scale(0.3)
}

50%{
opacity
:
1
}
}
.skip-search .icon:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: ""
}

#search_mini_form .input-box {
	position: relative;
	padding: 0px 50px 0px 20px;
	border-radius: 25px;
	border: 1px solid #909090;
    background: #FFFFFF;
}

#search_mini_form label {
	display: none
}

#search {
	width: 350px;
	height: 35px;
	font-family: "Ubuntu", sans-serif;
	background: white;
	float: left;
    border: 0px solid #909090;
}

#search_mini_form .search-button {
	height: 35px;
	width: 55px;
	padding: 1px 0px 0px 0px;
	font-size: 0;
	line-height: 0;
	background: #f2f2f2;
	box-shadow: none;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0px 25px 25px 0px;
}

#search_mini_form .search-button::after {
	display: none
}

#search_mini_form .search-button:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	color: #888;
	font-size: 35px;
	text-shadow: none;
	line-height: 24px
}

#search_mini_form .search-button:hover:before {
	text-shadow: 3px 3px 6px #969696
}

#search_mini_form .search-button:active:before {
	opacity: 0.5
}

@media only screen and (min-width: 992px) {
	.skip-search {
		display: none
	}
	.header-search {
		float: right;
		display: block
	}
	.header-search .skip-link:before {
		display: inline-block;
		font-family: "material-design";
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		transform: translate(0, 0);
		content: "";
		font-size: 28px;
		padding-right: 2px
	}
	.header-search .skip-link .label {
		display: none
	}
	.header-search .skip-content {
		left: auto;
		right: -28px;
		width: 1598px
	}
	.header-search .skip-content #search {
		width: 100%;
		padding: 10px
	}
	.header-search .skip-content.skip-active {
		top: -28px;
		padding: 19px
	}
	.header-search .skip-content.skip-active #search_mini_form {
		padding-right: 70px
	}
	.header-search .skip-content.skip-active #search_mini_form .search-button:before
		{
		color: #F05059
	}
	.header-search .account-dropdown.skip-active {
		position: absolute;
		z-index: 9999;
		right: 0
	}
	.header-search .account-dropdown.skip-active.skip-link {
		top: 8px;
		color: #888
	}
	.header-search .account-dropdown.skip-active.skip-link:before {
		display: inline-block;
		font-family: FontAwesome;
		font-size: inherit;
		line-height: normal;
		font-weight: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		transform: translate(0, 0);
		content: "\f00d";
		font-size: 16px
	}
	.header-search .account-dropdown.skip-active.skip-link:hover {
		color: #F05059
	}
}

@media only screen and (min-width: 992px) and (max-width: 1618px) {
	.header-search .skip-content {
		width: 1228px
	}
}

@media only screen and (min-width: 992px) and (max-width: 1220px) {
	.header-search .skip-content {
		width: 1210px
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-search .skip-content {
		width: 988px
	}
}

@media only screen and (max-width: 991px) {
	.header-search {
		padding: 20px
	}
	#search {
		width: 100%
	}
	#search_mini_form {
		padding: 10px 0
	}
	#search_mini_form .search-button {
		position: absolute;
		right: 0;
		top: 0
	}
}