﻿.theme-border, .table-bordered {
	border-top: solid 2px #F05059
}

.theme-color {
	color: #F05059
}

.title-border {
	border-bottom: solid 2px #dfdfdf;
	padding-bottom: 30px !important;
	margin-bottom: 40px !important
}

@media only screen and (max-width: 767px) {
	.title-border {
		margin-bottom: 15px !important;
		padding-bottom: 10px !important
	}
}

.theme-block {
	border: solid 1px #dfdfdf;
	border-top: solid 2px #F05059;
	padding: 30px 29px;
	margin-bottom: 60px
}

.no-theme-block {
	border: none;
	padding: 0;
	margin-bottom: 0
}

.table-bordered thead>tr>th, .table-bordered thead>tr>td {
	font-size: 16px;
	line-height: 1.667em;
	color: #333;
	text-transform: uppercase;
	font-weight: 500
}

@media only screen and (max-width: 991px) {
	.theme-block {
		padding: 15px;
		margin-bottom: 30px
	}
}

.table-bordered thead>tr>th, .table-bordered thead>tr>td {
	border-bottom-width: 1px
}

.table-bordered th, .table-bordered td {
	border: solid 1px #dfdfdf
}

.ink {
	display: block;
	position: absolute;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	z-index: 9999
}

.animate {
	-webkit-animation: ripple 0.65s linear;
	-webkit-animation: ripple 0.65s linear;
	-moz-animation: ripple 0.65s linear;
	-ms-animation: ripple 0.65s linear;
	-o-animation: ripple 0.65s linear;
	animation: ripple 0.65s linear
}

@
-webkit-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
-moz-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
-o-keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
@
keyframes ripple { 100%{
	opacity: 0;
	-moz-transform: scale(2.5);
	-o-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-webkit-transform: scale(2.5);
	transform: scale(2.5)
}

}
.icon-sprite, .icon-sprite-for-modules {
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	text-indent: -9999px
}

.icon-sprite-for-modules {
	background-image: url(../images/icon_sprite.png)
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min--moz-device-pixel-ratio : 2)
		, ( -o-min-device-pixel-ratio : 4 / 2) , ( min-device-pixel-ratio : 2)
		, ( min-resolution : 192dpi) , ( min-resolution : 2dppx) {
	.icon-sprite, .icon-sprite-for-modules {
		background-image: url(../images/icon_sprite@2x.png);
		background-size: 100px 1000px
	}
}

@
keyframes zoomIn { 0%{
	opacity: 0;
	transform: scale(0.3)
}

50%{
opacity
:
1
}
}
@
-webkit-keyframes zoomIn { 0%{
	opacity: 0;
	-webkit-transform: scale(0.3)
}

50%{
opacity
:
1
}
}
.skip-account .icon:before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: ""
}

@media only screen and (min-width: 992px) {
	.skip-account {
		float: none;
		width: auto;
		vertical-align: top;
		display: inline-block;
		padding: 0 10px;
		text-transform: uppercase
	}
	#header-account.skip-active {
		background: #FBFBFB;
		-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
		display: block;
		position: absolute;
		z-index: 200;
		top: 40px;
		right: 115px;
		width: 200px
	}
	#header-account a {
		display: block;
		padding: 5px 10px;
		color: #888;
		line-height: 2;
		text-decoration: none
	}
	#header-account a:hover {
		color: #333
	}
}

#header-account {
	padding: 0
}

#header-account .header-button strong {
	font-weight: normal;
	padding-left: 5px;
	color: #333
}

#header-account .header-button ul {
	border-bottom: 1px solid #ccc;
	padding: 0 10px;
	background: #f5f5f5
}

#header-account .header-button li {
	display: inline-block
}

#header-account .header-button li a {
	padding: 3px 15px;
	border-bottom: none;
	text-transform: uppercase
}

#header-account .header-button li a:hover, #header-account .header-button li a.selected
	{
	background: #fff;
	color: #333
}

#header-account a {
	position: relative;
	display: block;
	padding: 5px 10px;
	line-height: 23px;
	text-align: left
}

#header-account .header-button:hover .label, #header-account a:hover {
	color: #333
}

.top-links {
	position: relative;
	float: right
}

.top-links .top-links-inline {
	float: right
}

.top-links .top-links-inline .links {
	padding-left: 15px
}

.top-links .top-links-inline .links li {
	float: left;
	line-height: 26px;
	border-left: solid 1px #dfdfdf;
	padding: 0 15px
}

.top-links .top-links-inline .links li.last {
	padding-right: 0
}

.top-links .top-links-inline .links li a.top-links-cart {
	display: none
}

.top-links .top-links-inline .links li a.log-in-link::before, .top-links .top-links-inline .links li a.log-out-link::before
	{
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	font-size: 18px;
	line-height: 18px;
	color: #F05059;
	padding-right: 7px
}

.top-links a.account-dropdown::before {
	display: inline-block;
	font-family: "material-design";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "";
	font-size: 28px;
	padding-right: 7px
}

.top-links a.account-dropdown .label {
	display: none
}

.top-links .skip-content.skip-active {
	width: 250px;
	right: 0;
	left: auto
}

@media only screen and (max-width: 991px) {
	.top-links {
		display: none
	}
}