 <?php $posts = $this->getPosts(); ?>
<?php if (count($posts)): ?>
 <?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>


<ul class="blog-list">
    <?php $posts->count() ?>
    <?php $_iterator = 0; ?>
<?php foreach ($posts as $post): ?>
    <li class="item<?php if( ++$_iterator == sizeof($posts) ): ?> last<?php endif; ?>">
        <div class="postWrapper">
            <div class="postTitle">
                <h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
            </div>
            <?php echo $this->getBookmarkHtml($post) ?>
            <div class="postDetails">
                <span class="postDetails-date"><i class="fa fa-clock-o"></i> <?php echo $post->getCreatedTime(); ?></span>
                <?php if ($this->getCommentsEnabled()): ?>
                    <span class="postDetails-coment">
                        <i class="fa fa-comment-o"></i>
                        <a href="<?php echo $post->getAddress(); ?>#commentBox" >
                         <?php // echo Mage::helper('blog')->__('Comments'); ?>
                          <?php if ($post->getCommentCount() > 0): ?>
                            <?php echo $post->getCommentCount(); ?>
                        <?php endif; ?>
                         <?php if ($post->getCommentCount() < 1): ?>
                            <?php echo "0"; ?>
                        <?php endif; ?>
                     </a>
                    </span>
                <?php endif; ?>
                <span class="tags postDetails-tags"><?php echo $this->getTagsHtml($post) ?></span>
                <?php $postCats = $post->getCats(); ?>
                <span class="postDetails-user">
                    <i class="fa fa-user"></i>
                    <?php if (!empty($postCats)): ?>
                        <?php echo Mage::helper('blog')->__('Posted in'); ?>
                        <?php foreach ($postCats as $data): ?>
                            <a href="<?php echo $data['url']; ?>"><?php echo $data['title']; ?></a>
                        <?php endforeach; ?>
                    <?php else: ?>
                    <?php echo Mage::helper('blog')->__('Posted'); ?>
                    <?php endif; ?>
                    <?php echo $this->__("By"); ?> <?php echo $post->getUser(); ?>
                </span>
            </div>
            <div class="postContent"><?php echo $post->getPostContent(); ?></div>
        </div>
    </li>
<?php endforeach; ?>
</ul>

 <?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
<?php else: ?>
    <?php echo Mage::helper('blog')->__('No Posts in this Category.'); ?>
<?php endif; ?>