<?php if ($posts = $this->getRecent()): ?>
    <div class="widget-latest">
        <div class="page-title category-title center">
            <h1><?php echo Mage::helper('blog')->__('Latest Posts');  ?></h1>
        </div>
        <ul class="row">

            <?php $i = 0; ?>
            <?php foreach ($posts as $post): ?>
                <?php if ($i< $this->_getData('blocks_count')): ?>
                    <li class="col-xs-12 col-sm-6">
                        <div class="widget-latest-wrap">
                            <div class="postContent-img"><?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($post->getExerptImage()); ?></div>
                            <div class="widget-latest-content">
                                <div class="widget-latest-details">
                                    <?php $_ct= new Zend_Date($post->getCreatedTime()); ?>
                                    <span class="widget-latest-data"><?php echo $_ct->toString('dd.MM.yyyy'); ?></span>
                                </div>
                                <div class="widget-latest-title"><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></div>
                                <div class="postContent postContent-desc">
                                    <?php echo Mage::helper('cms')->getBlockTemplateProcessor()->filter($post->getShortContent()); ?>
                                </div>
                                <a class="widget-latest-comment" href="<?php echo $post->getAddress(); ?>#commentBox" >
                                    <i class="fa fa-comment-o"></i>
                                    <?php if ($post->getCommentCount() > 0): ?>
                                        <?php echo $post->getCommentCount(); ?> <?php echo Mage::helper('blog')->__('Comments'); ?>
                                    <?php endif; ?>
                                    <?php if ($post->getCommentCount() < 1): ?>
                                        <?php echo "0"; ?> <?php echo Mage::helper('blog')->__('Comments'); ?>
                                    <?php endif; ?>
                                </a>
                            </div>
                        </div>
                    </li>
                <?php endif; ?>
                <?php $i++; ?>
            <?php endforeach; ?>
        </ul>
        <a href="<?php echo $this->getBlogUrl() ?>"class="aw-blog-read-more all-blog button"><?php echo Mage::helper('blog')->__('View all posts');  ?></a>
    </div>
<?php endif; ?>
